{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprSubscriptionFlash(subscriptionMessages) %}
    {% set subscribedMessage = subscriptionMessages.subscribedMessage %}
    {% set unsubscribedMessage = subscriptionMessages.unsubscribedMessage %}
    {% set subscriptionErrorMessage = subscriptionMessages.subscriptionErrorMessage %}

    {% if subscribedMessage.message %}
      {{
        mojAlert({
          variant: "success",
          dismissible: true,
          html: subscribedMessage.message
        })
      }}
    {% endif %}

    {% if unsubscribedMessage.message %}
      {{
        mojAlert({
          variant: "success",
          dismissible: true,
          html: unsubscribedMessage.message
        })
      }}
    {% endif %}

    {% if subscriptionErrorMessage.message %}
      {% set errorHtml %}
        {{ subscriptionErrorMessage.message | dpr.safe }}
        {{
          govukDetails({
            summaryText: 'Details',
            text: subscriptionErrorMessage.details
          })
        }}
      {% endset %}

      {{
        mojAlert({
          variant: "error",
          dismissible: true,
          html: errorHtml
        })
      }}
    {% endif %}
{% endmacro %}
