{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprAsyncDataTable(options) %}

  {% set rows = options.rows %}
  {% set head = options.head %}
  {% set classification = options.classification %}
  {% set pagination = options.pagination %}
  {% set pageSize = pagination.pageSize %}
  {% set totalRows = pagination.totalRows %}
  {% set currentPage = pagination.currentPage %}

  <div id="table-container" class='table-container' data-dpr-module="async-data-table">
    {{ govukTable({
      head: head,
      rows: rows,
      attributes: { 
        'id': 'dpr-async-data-table',
        'data-classification': classification,
        'data-head-length': head.length,
        'data-row-length': rows.length,
        'data-page-size': pageSize,
        'data-selected-page': currentPage,
        'data-total-results': totalRows
      }
    }) }}
  </div>
{% endmacro %}
