{% from "../scorecard/view.njk" import dprScoreCard %}

{% macro dprScoreCardGroup(id, scorecards) %}
  <div class="dpr-scorecard-group">
    {% for scorecard in scorecards %}
      {{ dprScoreCard(scorecard) }}
    {% endfor %}
  </div> 
{% endmacro %}
