{% from "../scorecard/view.njk" import dprScoreCard %}

{% macro dprScoreCardGroup(id, scorecardGroup) %}

  {% for group in scorecardGroup %}
    {% set title = group.title %}
    {% set scorecards = group.scorecards %}
    
    {% if scorecardGroup.length !== 1 %}
      <p class="govuk-heading-s"><strong>{{ title }}</strong></p>
    {% endif %}

    <div class="dpr-scorecard-group">
      {% for scorecard in scorecards %}
        {{ dprScoreCard(scorecard) }}
      {% endfor %}
    </div> 
  {% endfor %}
{% endmacro %}
