{% macro dprLoadingAnim() %}
  <div class="dpr-loading-panel">
    <div class="dpr-loading-anim">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
{% endmacro %}