{% from "./catalogure-row-variant-heading/view.njk" import dprReportsCatalogueVariantRowHeading %}
{% from "./catalogure-row-variant-description/view.njk" import dprReportsCatalogueVariantRowDescription %}
{% from "./catalogure-row-variant-actions/view.njk" import dprReportsCatalogueVariantRowActions %}

{% macro dprReportsCatalogueVariantRow(variant) %}

  {% set heading = variant.heading %}
  {% set type = heading.type %}

  {% set description = variant.description %}
  {% set actions = variant.actions %}
  {% set missing = variant.missing %}

  <div class="dpr-report-catalogue__variant-row" data-live="{{ not missing }}" data-report-type="{{ type }}" role="listitem">
    <div class="dpr-report-catalogue__variant-row__cell dpr-report-catalogue__variant-row__heading">
      {{ dprReportsCatalogueVariantRowHeading(heading) }}
    </div>
    <div class="dpr-report-catalogue__variant-row__cell dpr-report-catalogue__variant-row__description">
      {{ dprReportsCatalogueVariantRowDescription(description) }}
    </div>
    <div class="dpr-report-catalogue__variant-row__cell dpr-report-catalogue__variant-row__actions">
      {{ dprReportsCatalogueVariantRowActions(actions) }}
    </div>
  </div>
{% endmacro %}
