---
layout: layouts/example.njk
title: List Report (example)
jsArguments: list-report
---

{%- from "dpr/components/report-list/view.njk" import dprReportList -%}

{% set title = "Example" %}

{% set dataTableOptions = {
  dataTable: {
    head: [
      { text: "Name" }, 
      { text: "Location" }, 
      { text: "Total", format: "numeric" }
    ],
    rows: [
      [
        { text: "Aardvark"}, 
        { text: "London" }, 
        { text: "2", format: "numeric" }
      ],
      [
        { text: "Badger" }, 
        { text: "Arctic" }, 
        { text: "0", format: "numeric" }
      ],
      [
        { text: "Cat" }, 
        { text: "Cheshire" }, 
        { text: "2312", format: "numeric" }
      ]
    ],  
    rowCount: 3,
    colCount: 3
  },
  printable: false,
  classification: 'OFFICIAL',
  pagination: {
    totalRows: 100,
    currentPage: 1,
    pageSize: 10
  }
} %}

{% set filterOptions = {
  selectedFilters: [
    {
        text: "Radio filter: Two",
        href: "#",
        classes: "govuk-button--inverse accordion-summary-remove-button govuk-!-margin-0"
    }
  ],
  filters: [
    {
      text: "Radio filter",
      id: "radio",
      type: "Radio",
      options: [
        { value: "one", text: "One" },
        { value: "two", text: "Two" }
      ],
      value: "two"
    }
  ]
} %}

{% set columnOptions = {
  name: "columns",
  options: [
    {
      text: "Name",
      value: "name"
    }, {
      text: "Location",
      value: "location"
    }, {
      text: "Total",
      value: "total"
    }
  ],
  value: ["name", "location", "total"]
} %}

{{ dprReportList({
  title: title,
  dataTableOptions: dataTableOptions,
  columns: columnOptions,
  filterOptions: filterOptions
}) }}
