{% extends "views/page.njk" %}

{% from "components/_charts/chart-card/view.njk" import dprChartCard %}
{% from "components/_charts/chart-tabs/view.njk" import dprChartTabs %}
{% from "components/_charts/chart/view.njk" import dprChart %}

{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-!-margin-bottom-6">
    <a href="/charts">All</a>
    <a href="/charts/bar">Bar</a>
    <a href="/charts/donut">Donut</a>
    <a href="/charts/line">Line</a>
    <a href="/charts/multi">Multi</a>
  </div>

  <div class="govuk-width-container">
    {% if barCharts %}
    <h2 class="govuk-heading-l">Bar Charts</h2> 
    {% for bar in barCharts %}
      <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartCard component</h2>
        {{ dprChartCard(bar) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartTabs component</h2>
        {{ dprChartTabs(bar.id + "_", bar.data) }}
        
        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChart component</h2>
        {{ dprChart(bar.id, bar.data.chart[0].type, bar.data.chart[0].data, bar.data.chart[0].unit)}}
      </div>
    {% endfor %}
    {% endif %}

    {% if pieCharts %}
    <h2 class="govuk-heading-l">Pie Charts</h2> 

    {% for pie in pieCharts %}
      <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartCard component</h2>
        {{ dprChartCard(pie) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartTabs component</h2>
        {{ dprChartTabs(pie.id + "_", pie.data) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChart component</h2>
        {{ dprChart(pie.id, pie.data.chart[0].type, pie.data.chart[0].data, pie.data.chart[0].unit)}}
      </div>
    {% endfor %}
    {% endif %}

    {% if multiCharts %}
    <h2 class="govuk-heading-l">Multi Charts</h2> 

    {% for multi in multiCharts %}
      <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartCard component</h2>
        {{ dprChartCard(multi) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartTabs component</h2>
        {{ dprChartTabs(multi.id + "_", multi.data) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChart component</h2>
        {{ dprChart(multi.id, multi.data.chart[0].type, multi.data.chart[0].data, multi.data.chart[0].unit)}}
      </div>
    {% endfor %}
    {% endif %}

    {% if lineCharts %}
    <h2 class="govuk-heading-l">Line Charts</h2> 
    {% for line in lineCharts %}
      <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">
        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartCard component</h2>
        {{ dprChartCard(line) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChartTabs component</h2>
        {{ dprChartTabs(line.id + "_", line.data) }}

        <h2 class="govuk-heading-m dpr-dotted-unterline govuk-!-margin-bottom-6 govuk-!-margin-top-6">dprChart component</h2>
        {{ dprChart(line.id, line.data.chart[0].type, line.data.chart[0].data, line.data.chart[0].unit)}}
      </div>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}
