{% extends "views/page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/user-reports/view.njk" import dprUserReports %}
{% from "components/_catalogue/catalogue/view.njk" import dprCatalogue %}

{% block content %}
  <div class="govuk-width-container">

    {% set rows = [] %}
    {% if (breadCrumbList.length > 0) %}
      {% set rows = rows.concat(breadCrumbList) %}
    {% endif %}
    {% set rows = rows.concat([
      {
        text: title
      }
    ]) %}

    {% if title !== 'Home' %}
      <div class="govuk-!-margin-bottom-4">
        {{ govukBreadcrumbs({
          collapseOnMobile: true,
          items: rows,
          classes: "govuk-!-display-none-print hmpps-header__container"
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ dprUserReports(userReportsLists)}}

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Reports catalogue</h2>

    {{ dprCatalogue(catalogue) }}
  </div>
{% endblock %}
