{% extends "views/page.njk" %}

{% from "components/_catalogue/catalogue-list/view.njk" import dprCatalogueList %}

{% block content %}
  <h1 class="govuk-heading-l">Search</h1>

  <div class="govuk-width-container">
    {{ dprCatalogueList(head, rows, { filteringEnabled: true}) }}
  </div>
{% endblock %}
