{% extends layoutPath %}
{% from "../../../components/my-reports/my-reports-list/macro.njk" import dprMyReportList %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% set productName = reportData.productName %}
  {% set productVariants = reportData.productVariants %}

  <div class="govuk-width-container">
    <div class="dpr-request-access-view">
      <h1>{{title}}</h1>

      <p>You do not have permission to access this product and reports</p>

      <p>Product name: <strong>{{ productName }}</strong></p>

      <p>Reports:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for variant in productVariants %}
          <li><strong>{{ variant }}</strong></li>
        {% endfor %}
      </ul>

      <p>If you think you should have access you can request the correct user role from your local service administrator (LSA).</p>

      <a href="/" class="govuk-link govuk-link--no-visited-state">Go to the Digital Prison Services (DPS) home page <a>
    </div>
  </div>
{% endblock %}
