.dpr-template__section {
  margin-bottom: govuk-spacing(8);

  .dpr-template__section__title {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: govuk-spacing(2);
    z-index: 100;

    h2.govuk-heading-m {
      margin-bottom: govuk-spacing(1);;
    }
  }
}
