{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../dashboard-visualisation-no-data-message/view.njk" import dprDashboardVisNoData %}
{% from "../../_reports/report-page/report-template/report-section/report-data-table/view.njk" import dprDataTable %}

{% macro dprDashboardList(id, listData) %}
  {% set ts = listData.ts %}
  {% set table = listData.table %}
  {% set rows = table.rows %}

  <div class="dpr-dashboard-list-container">
    {% if rows.length %}

      {{ dprDataTable(table)}}

      {% if ts %}
        <p class="govuk-body-s dpr-value-for">Value for: {{ ts }}</p>
      {% endif %} 
    {% else %} 
      {{ dprDashboardVisNoData() }}
    {% endif %} 
  </div>
{% endmacro %}
