{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../dashboard-visualisation-no-data-message/view.njk" import dprDashboardVisNoData %}

{% macro dprDashboardList(id, listData) %}
  {% set ts = listData.ts %}
  {% set table = listData.table %}
  {% set rows = table.rows %}

  <div class="dpr-dashboard-list-container">
    {% if rows.length %}
      {{ govukTable(table)}}
      <p class="govuk-body-s dpr-value-for">Value for: {{ ts }}</p>
    {% else %} 
      {{ dprDashboardVisNoData() }}
    {% endif %} 
  </div>
{% endmacro %}
