{% macro dprBookmarkToggle(reportId, variantId, csrfToken, bookmarked, id) %}
  {% set id = id %}
  {% set checked %}{{ 'checked' if bookmarked else '' }}{% endset %}
  {% set tooltip %}{{ 'Remove Bookmark' if bookmarked else 'Add Bookmark' }}{% endset %}

  <div class='dpr-bookmark dpr-bookmark-inline dpr-bookmark-tooltip' tooltip="{{ tooltip }}" data-dpr-module="bookmark-toggle">
    <input class="bookmark-input" aria-label="bookmark toggle" type='checkbox' id='{{ reportId }}-{{ variantId }}-{{id}}' data-variant-id='{{ variantId }}' data-report-id='{{ reportId }}' data-csrf-token='{{ csrfToken }}' {{ checked }}/>
    <label id="${variantId}-${reportId}-${id}-bookmark-label" tabindex="0" for='{{ reportId }}-{{ variantId }}-{{id}}' class=''><span class="dpr-visually-hidden">Bookmark toggle</span></label>
  </div>
{% endmacro %}
