
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

{% macro dprDownloadMessage(reportData) %}
  {% set reportId = reportData.reportId %}
  {% set id = reportData.id %}
  {% set tableId = reportData.tableId %}
  {% set html %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">You do not have permission to download this report</h2>
    <a href="/download/{{reportId}}/{{id}}/{{tableId}}/feedback" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-1">
      Complete request form to enable download
    </a>
  {% endset %}

  <div id="dpr-download-message" class="dpr-download-message--hidden govuk-!-margin-bottom-6" data-dpr-module='download-message'>
    {{ mojTicketPanel({
      attributes: {
        'aria-label': 'Sub navigation 1'
      },
      items: [{
        html: html,
        attributes: {
          'aria-label': 'Section 1'
        },
        classes: 'moj-ticket-panel__content--blue'
      }]
    }) }}
  </div>
{% endmacro %}
