
{%- from "moj/components/ticket-panel/macro.njk" import mojTicketPanel -%}

{% macro dprDownloadMessage(reportData) %}
  {% set reportId = reportData.reportId %}
  {% set id = reportData.id %}
  {% set tableId = reportData.tableId %}
  {% set html %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Download coming soon</h2>
    <p class="govuk-body">You cannot download reports from this service currently. This functionality will be available very soon. You can still download reports in NOMIS in the meantime.</p>
    
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Help us improve our service</h2>
    <p class="govuk-body">We would like to understand more about your reasons for downloading this report. Please take a moment to fill out a feedback form and help us improve our service to you, and provide features that will better suit your needs.</p>
    <a href="/download/{{reportId}}/{{id}}/{{tableId}}/feedback" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
      Leave feedback
    </a>
  {% endset %}

  <div id="dpr-download-message" class="dpr-download-message--hidden govuk-!-margin-bottom-6" data-dpr-module='download-message'>
    {{ mojTicketPanel({
      attributes: {
        'aria-label': 'Sub navigation 1'
      },
      items: [{
        html: html,
        attributes: {
          'aria-label': 'Section 1'
        },
        classes: 'moj-ticket-panel__content--blue'
      }]
    }) }}
  </div>
{% endmacro %}
