---
layout: layouts/example.njk
title: List Report (example)
jsArguments: list-report
---
{%- from "dpr/components/report-list/view.njk" import dprReportList -%}

{% set pagination = {
  pagination: {
    totalRows: 100,
    currentPage: 1,
    pages: [],
    pageSize: 10,
    sizes: [
      {
        value: 10,
        text: '10'
      },
      {
        value: 20,
        text: '20'
      },
      {
        value: '',
        text: 'All'
      }
    ]
  }
} %}

{% set filterData = {
  selectedFilters: [
    {
      text: "Radio filter: Two",
      key: '["radio"]',
      value: '["Two"]',
      disabled: false,
      classes: 'interactive-remove-filter-button',
      attributes: {
        'aria-label': 'Selected Filter: Radio filter: Two. Click to clear this filter'
      }
    }
  ],
  filters: [
    {
      text: "Radio filter",
      id: "radio",
      type: "Radio",
      options: [
        { value: "one", text: "One" },
        { value: "two", text: "Two" }
      ],
      value: "two"
    }
  ]
} %}

{% set columns = {
  name: "columns",
  options: [
    {
      text: "Name",
      value: "name"
    }, {
      text: "Location",
      value: "location",
      disabled: true
    }, {
      text: "Total",
      value: "total"
    }
  ],
  text: 'Select report columns',
  value: ["name", "location", "total"]
} %}

{% set dataTable = {
  head: [
    { text: "Name" }, 
    { text: "Location" }, 
    { text: "Total", format: "numeric" }
  ],
  rows: [
    [
      { text: "Aardvark"}, 
      { text: "London" }, 
      { text: "2", format: "numeric" }
    ],
    [
      { text: "Badger" }, 
      { text: "Arctic" }, 
      { text: "0", format: "numeric" }
    ],
    [
      { text: "Cat" }, 
      { text: "Cheshire" }, 
      { text: "2312", format: "numeric" }
    ]
  ],
  rowCount: 3,
  colCount: 3
} %}

{% set actionsOptions = [
    {
      id: 'dpr-button-printable',
      icon: 'print',
      disabled: false,
      text: 'Print',
      ariaLabelText: 'Print screen',
      href: '#'
    },
    {
      id: 'dpr-button-sharable',
      icon: 'share',
      disabled: false,
      text: 'Email report link',
      ariaLabelText: 'Email report link',
      href: 'mailto:?subject=Test Report-Test Variant&body=pathname'
    },
    {
      id: 'dpr-button-copy',
      icon: 'copy',
      disabled: false,
      text: 'Copy report link',
      ariaLabelText: 'report request',
      href: 'pathname'
    }
  ]
%}

{{ dprReportList({
  reportName: 'Example Report',
  name: 'Example Variant',
  description: 'Example Variant Description',
  dataTable: dataTable,
  filterData: filterData,
  columns: columns,
  actions: actionsOptions,
  pagination: pagination,
  template: 'list',
  type: 'report',
  totals: '0-0 of 0',
  reportUrl: 'pathname',
  reportSearch: 'search',
  encodedSearch: 'search',
  count: '',
  printable: false,
  classification: 'OFFICIAL',
  removeBookmark: true
}) }}
