{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../report-templates/parent-child/view.njk" import dprParentChildTemplate %}
{% from "../report-templates/list-section/view.njk" import dprListSectionTemplate %}

{% macro dprReportSection(renderData, template, classification) %}
  {% set sections = renderData.sections %}

  <div id="dpr-{{ template }}-template">
    {% for section in sections %}
      {# <div id="dpr-{{ template }}-section-{{ loop.index }}" class="dpr-{{ template }}-section dpr-template__section">
        {% set sectionTitle = section.title %}
        {% set sectionCount = section.count %}
        {% set data = section.data %}
        {% set summaries = section.summaries %}

        {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }} 
        <span class="govuk-caption-m">{{ sectionCount }} results</span></h2>
        {% endif %}

        {# HEADER SUMMARIES #}
        {# {{ dprReportSummary(summaries, 'page-header') }} #}

        {# TEMPLATES #}

        {% if template === 'parent-child' or template === 'parent-child-section' %}

          {{ dprParentChildTemplate(data, classification) }}

        {% else %}

          <div id="dpr-{{ template }}-section-data-{{ loop.index }}" class="dpr-{{ template }}-section-data">
            {{ govukTable({
              head: data.head,
              rows: data.rows,
              attributes: { 
                'data-classification': classification
              }
            }) }}
          </div>

        {% endif %}

        {# FOOTER SUMMARIES #}
        {# {{ dprReportSummary(reportSummaries, 'page-footer') }} #}

      </div> #}
    {% endfor %}
  </div>
{% endmacro %}
