{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../button-link/view.njk" import dprButtonLink %}

{% macro dprFiltersSaveDefaults(reportType, hasDefaults, formId) %}
  {% set text = 'Save current filter values as defaults' %}
  {% set submitAction = './' + reportType + '/save-defaults'  %}
  {% set removeAction = './' + reportType + '/remove-defaults' %}
  
  <div class="dpr-save-defaults-action">
    {% if hasDefaults %}
      <p class="govuk-body-xs govuk-!-margin-bottom-2 govuk-!-margin-top-1">Your saved default filter values have been applied to this form.</p>
      {% set text = 'Update defaults' %}
    {% endif %}

    {{ dprButtonLink({
      text: text,
      attributes: {
        formaction: submitAction,
        form: formId
      }
    }) }}
  
    {% if hasDefaults %}
    <form method='post' action='{{ removeAction }}' novalidate>
      {{ dprButtonLink({
        text: 'Delete defaults'
      }) }}
    </form>
    {% endif %}

  </div>
{% endmacro %}
