{% from "../chart-card/view.njk" import dprChartCard %}
{% from "../report-heading/view.njk" import dprReportHeading %}
{% from "../dashboard-sidebar/view.njk" import dprDashboardSidebar %}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}


{% macro dprDashboard(data) %}
<div class="dashboard-wrapper">
  <nav class="dashboard-sidebar">
    {{ dprDashboardSidebar(data.metrics) }}
  </nav> 
  <div class="dashboard-content">
    {{ dprReportHeading(data) }}

    {% for metric in data.metrics %}
      <hr class="metric-break">
      <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6">
        {{ dprChartCard(metric) }}
      </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}
