.chart-canvas {
  height: 100% !important;
  width: 100% !important;
}

.chart-colour__blue {
  background-color: govuk-colour('blue');
}

.chart-colour__purple {
  background-color: govuk-colour('magenta', $variant: 'shade-25');
}

.chart-colour__purple {
  background-color: govuk-colour('magenta', $variant: 'shade-25');
}

.chart-colour__green {
  background-color: govuk-colour('green');
}
.chart-colour__dark_blue {
  background-color: govuk-colour('blue', $variant: 'shade-50');
}

@for $i from 1 through 200 {
  .dpr-chart-height-#{$i} {
    height: $i * 80px !important;
  }
}

.dpr-chart {
  height: 400px;
}

.dpr-matrix-chart {
  height: 700px;
}

.dpr-canvas-wrapper {
  height: 100%;
}
