{% from "../bookmark-toggle/view.njk" import dprBookmarkToggle %}
{% from "../icon-button-list/view.njk" import dprIconButtonList %}
{% from "../report-actions/view.njk" import dprReportActions %}
{% from "../async-request-details/view.njk" import dprAsyncRequestDetails %}
{% from "../download-message/view.njk" import dprDownloadMessage %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% macro dprReportHeading(reportData) %}
  {% set variantName = reportData.variantName %}
  {% set reportName = reportData.reportName %}
  {% set reportId = reportData.reportId %}
  {% set variantId = reportData.variantId %}
  {% set csrfToken = reportData.csrfToken %}
  {% set bookmarked = reportData.bookmarked %}
  {% set actions = reportData.actions %}

  <div class="dpr-report-header">
    <div class="dpr-report-heading">
      <div class="dpr-report-heading__title">
        <span class="govuk-caption-m">{{ reportName }}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
          {{ variantName }}
          {{ dprBookmarkToggle(reportId, variantId, csrfToken, bookmarked) }}
        </h1>
      </div>
      <div class="dpr-report-heading__actions">
        {{ dprReportActions(actions) }}
      </div>
    </div>
    {{ dprDownloadMessage(reportData) }}
    {% set reportDetailsHtml %}
    {{ dprAsyncRequestDetails(reportData)}}
    {% endset %}

    {{ govukDetails({
        summaryText: 'Report Details',
        html: reportDetailsHtml,
        classes: 'dpr-meta-data-details'
      }) }}

    <div class="dpr-report-details-print">
      {{ dprAsyncRequestDetails(reportData)}}
    </div>
  </div>
{% endmacro %}
