{% from "../bookmark-toggle/view.njk" import dprBookmarkToggle %}
{% from "../report-actions/view.njk" import dprReportActions %}
{% from "../async-request-details/view.njk" import dprAsyncRequestDetails %}
{% from "../download-message/view.njk" import dprDownloadMessage %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprReportHeading(reportData) %}
  {% set name = reportData.name %}
  {% set reportName = reportData.reportName %}
  {% set reportId = reportData.reportId %}
  {% set id = reportData.id %}
  {% set csrfToken = reportData.csrfToken %}
  {% set bookmarked = reportData.bookmarked %}
  {% set actions = reportData.actions %}
  {% set type = reportData.type %}

  <div class="dpr-report-header">
    <div class="dpr-report-heading">
      <div class="dpr-report-heading__title">
        <span class="govuk-caption-m">{{ reportName }}</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
          {{ name }}
        </h1>
          {{ dprBookmarkToggle(reportId, id, csrfToken, bookmarked, 'report', type) }}
      </div>
      <div class="dpr-report-heading__actions">
        {{ dprReportActions(actions) }}
      </div>
    </div>
    {{ dprDownloadMessage(reportData) }}

    {% set reportDetailsHtml %}
      {{ dprAsyncRequestDetails(reportData)}}
    {% endset %}
    {% set detailsLabel = type + ' details' %}
    {{ govukDetails({
      summaryText: detailsLabel | capitaliseSentence,
      html: reportDetailsHtml,
      classes: 'dpr-meta-data-details'
    }) }}

    <div class="dpr-report-details-print">
      {{ dprAsyncRequestDetails(reportData)}}
    </div>
  </div>
{% endmacro %}
