{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprRequestMissingReportForm(user, report, csrfToken, postEndpoint, validationErrors) %}

  {# User details #}
  {% set name = user.displayName %}
  {% set staffId = user.staffId %}
  {% set activeCaseLoadId = user.activeCaseLoadId %}
  {% set email = user.email %}

  {# Report details #}
  {% set variantId = report.variantId %}
  {% set reportId = report.reportId %}
  {% set reportName = report.reportName %}
  {% set variantName = report.name %}
  {% set csrfToken = csrfToken %}
  {% set time = report.time %}
  
  <div class="dpr-form--request-missing-report" data-dpr-module="dpr-generic-form">
    <form method="post">

      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      
      {# Report details #}
      <input type="hidden" name="reportId" value="{{ reportId }}">
      <input type="hidden" name="reportName" value="{{ reportName }}">
      <input type="hidden" name="variantId" value="{{ variantId }}">
      <input type="hidden" name="variantName" value="{{ variantName }}">
      <input type="hidden" name="time" value="{{ time }}">

      {# User details #}
      <input type="hidden" name="staffId" value="{{ staffId }}">
      <input type="hidden" name="name" value="{{ name }}">
      <input type="hidden" name="email" value="{{ email }}">
      <input type="hidden" name="activeCaseLoadId" value="{{ activeCaseLoadId }}">

      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        rows: "8",
        classes: "govuk-!-width-three-quarters",
        label: {
          text: "Request this report",
          classes: "govuk-label--s",
          isPageHeading: true
        },
        hint: {
          html: "Tell us what information you need from it and how you will use it. This will help us shape future improvements."
        },
        errorMessage: validationErrors | dpr.findError('more-detail')
      }) }}

      {{ govukButton({
        text: "Submit",
        classes: "govuk-button--primary govuk-!-margin-bottom-0",
        attributes: {
          id: 'dpr-form-summary--form-submit',
          'data-submit-feedback': 'true'
        }
      }) }}
    
    </form>
  </div>
{% endmacro %}
