{% extends layoutPath %}

{% from "./form.njk" import dprRequestMissingReportForm %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../../../../components/_async/request-details/view.njk" import dprRequestDetails %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set detailsHtml %}
    {{ dprRequestDetails(report) }}
  {% endset %}
  {{ govukDetails({
    summaryText: 'Report details',
    html: detailsHtml
  }) }}

  <h2>Request missing report</h2>
  {{ dprRequestMissingReportForm(user, report, csrfToken, postEndpoint) }}
{% endblock %}
