{% extends layoutPath %}

{% from "./form.njk" import dprRequestMissingReportForm %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "../../../../components/_async/request-details/view.njk" import dprRequestDetails %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% if validationErrors.length > 0 %}
    <div id="dpr-form-summary--error-summary" class="query-error-summary">
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: validationErrors
      }) }}
    </div>
  {% endif %}
  <h1 class="govuk-heading-xl govuk-!-margin-0 govuk-!-margin-bottom-2">{{ title }}</h1>
  <h2 class="govuk-heading-l govuk-!-font-weight-regular">Help us improve our service</h2>

  {% set detailsHtml %}
    {{ dprRequestDetails(report) }}
  {% endset %}
  {{ govukDetails({
    summaryText: 'Report details',
    html: detailsHtml
  }) }}

  {{ dprRequestMissingReportForm(user, report, csrfToken, postEndpoint, validationErrors) }}
{% endblock %}
