.dpr-report-header {
  padding-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);

  .dpr-report-heading {
    display: flex;
    flex-wrap: wrap;

    .dpr-report-heading__title {
      flex: 1;

      #dpr-report-name {
        margin-bottom: govuk-spacing(2);
      }

      .govuk-heading-l {
        margin-bottom: govuk-spacing(4);
      }

      @media(max-width: 1019px) {
        order: 1;
        flex: 1 0 100%;
      }
    }

    .dpr-report-heading__actions {
      
      @media(max-width: 1019px) {
          order: 0;
          flex: 1 0 100%;
        }
    }
  }

  .dpr-report-details-print {
    display: none;
  }

  @media print {
    .dpr-bookmark,
    .dpr-meta-data-details,
    .dpr-report-heading,
    .dpr-pagination {
      display: none;
    }

    .dpr-report-details-print {
      display: block;

      .dpr-request-details {
        p, ul, li, h1, h2 {
          font-size: 12px;
          margin-top: 0px;
          margin-bottom: 5px;
          padding-top: 0px;
        }
        ul {
          padding: 0;
          list-style-type: none;
          li {
            display: inline;
            padding-right: 10px;
          }
        }
        .dpr-request-details__table {
          margin-top: 0px;
          margin-bottom: 0px;

          tbody {
            vertical-align: top;
          }

          td {
            padding: 0px;
          }

          .dpr-request-details__table-heading {
            width: 15%;
          }
        }
      }
    }
  }
}
