{% from "../report-data-table/view.njk" import dprDataTable %}
{% from "../report-columns/view.njk" import dprReportColumns %}
{% from "../report-summary-table/view.njk" import dprReportSummary %}
{% from "../report-totals/view.njk" import dprReportTotals %}
{% from "../report-filters/view.njk" import dprReportFilters %}

{% macro dprReport(options) %}
  {% set columns = options.columns %}
  {% set filters = options.filters %}
  {% set reportSummaries = options.reportSummaries %}

  <div class="dpr-sync-report-actions">
    {% if filters %}
      {{ dprReportFilters(filters) }}
    {% endif %}

    {{ dprReportColumns(columns) }}
  </div>

  {{ dprReportSummary(reportSummaries, 'page-header') }}
  {{ dprReportTotals(options.totals) }}

  <div class='dpr-table-container'>
    {{ dprDataTable(options) }}
  </div>
  
  <div class='govuk-!-margin-bottom-6'>
    {{ dprReportTotals(options.totals) }}
  </div>
  
  {{ dprReportSummary(reportSummaries, 'page-footer') }}

{% endmacro %}
