{% from "../report-data-table-wrapper/view.njk" import dprDataTableWrapper %}
{% from "../report-summary-table/view.njk" import dprReportSummary %}
{% from "../report-totals/view.njk" import dprReportTotals %}
{% from "../report-no-data-message/view.njk" import dprReportNoDataMessage %}
{% from "../../code-block/view.njk" import dprCodeBlock %}

{% macro dprReport(options, count) %}
  {% set reportSummaries = options.reportSummaries %}
  {% set dataTable = options.dataTable %}
  {% set pagination = options.pagination %}
  {% set classification = options.classification %}
  {% set template = options.template %}

  {% if not count or count === 0 %}
    {{ dprReportNoDataMessage(url) }}
  {% else %}

    {{ dprReportSummary(reportSummaries, 'page-header') }}
    {{ dprReportTotals(options.totals) }}

    <div class='dpr-table-container dpr-table-container--{{ template }}'>
      {{ dprDataTableWrapper(dataTable, classification) }}
    </div>
    
    <div class='govuk-!-margin-bottom-6'>
      {{ dprReportTotals(options.totals) }}
    </div>
    
    {{ dprReportSummary(reportSummaries, 'page-footer') }}

  {% endif %}

{% endmacro %}
