{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../error-summary/view.njk" import dprErrorSummary %}
{% from "../../../request-details/view.njk" import dprRequestDetails %}
{% from "../../../child-request-status/view.njk" import dprChildRequestStatus %}

{% macro dprPollingFailedState(data) %}

  {% set meta = data.metaDetails %}
  {% set type = meta.type %}

  {% set requestDetails = data.requestDetails %}

  {% set statusDetails = data.statusDetails %}
  {% set buttonText = statusDetails.buttonText %}
  {% set errorMessage = statusDetails.errorMessage %}
  {% set descriptionText = statusDetails.descriptionText %}
  {% set buttonHref = statusDetails.buttonHref %}
  {% set childStatusDetails = data.childStatusDetails %}

  <div class="dpr-poling-state__failed">
    {% if errorMessage %}
      {{ dprErrorSummary(errorMessage, meta) }}
    {% endif %}

    {% if descriptionText %}
      <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">{{ descriptionText }}</p>
    {% endif %}

    {{ dprRequestDetails(requestDetails) }}

    {{ dprChildRequestStatus(childStatusDetails) }}

    {{
      govukButton({
        text: buttonText,
        classes: "govuk-button govuk-!-margin-top-5",
        href: buttonHref
      })
    }}
  </div>
{% endmacro %}
