.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-item {
  background-color: lighten(govuk-colour("light-grey"), 4%);
  flex-grow: 0;
  width: 30%;
  padding: 1%;
}

.filter-summary-remove-button {
  display: inline-block;
  padding: govuk-spacing(2);
  background-color: none;
  position: relative;
  cursor: pointer;
  text-decoration: underline !important;
  text-underline-offset: 4px;
  color: govuk-colour("blue");
  text-decoration-color: govuk-colour("blue");
  text-decoration-thickness: 1px;
  box-shadow: none;
  text-underline-offset: 4px;

  &:hover {
    box-shadow: none;
    text-decoration: none;
    color: govuk-colour("black");
  }
}

.govuk-details__summary-text {
  text-underline-offset: 4px;
}

.filter-actions {
  padding: govuk-spacing(3) 0px;

  .filter-actions-buttons {
    float: right;
  }
}