.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  position: relative;
}

.filter-item {
  background-color: lighten(govuk-colour("light-grey"), 4%);
  flex-grow: 0;
  width: 30%;
  padding: 1%;

  .govuk-form-group {
    margin-bottom: govuk-spacing(2);
  }
}

.govuk-details__summary-text {
  text-underline-offset: 4px;
}

.filter-actions {
  height: 40px;

  .filter-actions-buttons {
    float: right;
  }
}