{% extends layoutTemplate %}
{% from "./view.njk" import dprReportList %}

{% block content %}
  {{ dprReportList({
    title: title,
    dataTableOptions: dataTableOptions,
    columns: columns,
    filterOptions: filterOptions,
    warnings: warnings,
    actions: actions,
    template: template
  }) }}
{% endblock %}