{% extends layoutTemplate %}

{% from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{% from "../data-table/view.njk" import dprDataTable %}
{% from "../filters/view.njk"    import dprFilters %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}
{% set urlWithNoFilters = dataTableOptions.currentQueryParams | createUrlForParameters(null) %}
{% set selectedFilters = filterOptions.selectedFilters %}

{% if (filterOptions.selectedFilters.length > 0) %}
  {% set selectedFilters = [{
    text: 'Clear all',
    href: urlWithNoFilters,
    classes: 'govuk-button--primary'
  }].concat(selectedFilters) %}
{% endif %}

{% block content %}

  <h1 class="govuk-heading-m">{{ title }}</h1>

  <div class="moj-filter-layout">
    <div class="moj-filter-layout__filter">
      {{ dprFilters(
        filterOptions.filters,
        urlWithNoFilters,
        filterOptions.today
      ) }}
    </div>
    <div class="moj-filter-layout__content">
      <div class="moj-action-bar">
        <div id="filter-bar" class="moj-button-menu"></div>
        {{ mojButtonMenu({
          items: selectedFilters
        }) }}
      </div>
      <div class="moj-scrollable-pane">
        {{ dprDataTable(
          dataTableOptions.head,
          dataTableOptions.rows,
          dataTableOptions.count,
          dataTableOptions.currentQueryParams
        ) }}
      </div>
    </div>
  </div>

{% endblock %}
