{% extends layoutTemplate %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../data-table/view.njk" import dprDataTable %}
{% from "../dropdown-button/view.njk"    import dprDropdownButton %}
{% from "../accordion/view.njk" import dprAccordion %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../filters/view.njk" import dprFilters %}
{% from "../columns/view.njk" import dprColumns %}
{% from "../print-button/view.njk" import dprPrintButton %}
{% from "../copy-url-button/view.njk" import dprCopyUrlButton %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}
{% set urlWithNoFilters = dataTableOptions.currentQueryParams | createUrlForParameters(null) %}

{% set actions = [] %}

{% set printButtonHtml %}
{{ dprPrintButton({
    id: 'dd', 
    text: 'Print displayed results',
    count: dataTableOptions.rows.length, 
    classes: 'govuk-button--inverse', 
    printable: dataTableOptions.printable 
  }) }}
{% endset %}

{% set printAction = {
  html: printButtonHtml
} %}
{% set actions = (actions.push(printAction), actions) %}

{% set copyUrlHtml %}
{{ dprCopyUrlButton({
  id: 'dd', 
  classes: "govuk-button--inverse"
}) }}
{% endset %}

{% set subject = title | urlencode %}
{% set body = (dataTableOptions.url) | urlencode %}
{% set shareOptions = {
  title: "Share:",
  items: [
    {
      html: copyUrlHtml
    },
    {
      text: 'Email',
      href: 'mailto:?subject=' + subject + '&body=' + body,
      attributes: {
        'id': 'email-button'
      },
      classes: 'filter-summary-controls'
    }
  ]
} %}

{% set selectedFilters = filterOptions.selectedFilters %}
{% set filterHtml %}
<div class="data-table-filters">
  {{ dprFilters(
    filterOptions.filters,
    urlWithNoFilters
  ) }}
</div>
{% endset %}

{% set colsData = {
    name: "columns",
    options: columnOptions.columns,
    value: columnOptions.selectedColumns
}%}

{% set columnsHtml %}
<div class="data-table-columns">
  {{ dprColumns(colsData) }}
</div>
{% endset %}

{% set filtersHeaderHtml %}
{%- for selectedFilter in selectedFilters %}
  <div class="selected-accordion-button">
    {{ govukButton(selectedFilter) }}
  </div>
{%- endfor %}
{% endset %}

{% set colsHeaderHtml %}
<div class="columns-header">
  <p class="govuk-body govuk-!-margin-bottom-0">{{ colsData.value.length }} of {{ colsData.options.length }} shown</p>
</div>
{% endset %}

{% set accordionItems = [
  {
    summaryText: 'Filters',
    bodyHtml: filterHtml,
    headerHtml: filtersHeaderHtml
  }, {
    summaryText: 'Columns',
    bodyHtml: columnsHtml,
    headerHtml: colsHeaderHtml
  }
] %}

{% block content %}
  <div class="govuk-width-container {% if (dataTableOptions.printable == false) %}print-hide{% endif %} govuk-!-margin-top-3">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">{{ title }}</h1>
        {{ breadCrumbList | dump | safe }}
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="dpr-actions">
          {{ dprDropdownButton({
            id: "actions",
            text: "Actions",
            classes: "",
            attributes: {},
            items: actions,
            groups: [ shareOptions ]
          }) }}
        </div>
      </div>
    </div>

    {% if warnings.noDataAvailable %}
      {{ govukErrorSummary({
      titleText: 'No data available',
      errorList: [
        {
          text: warnings.noDataAvailable
        }
      ]
    }) }}
    {% endif %}

    <div class="moj-filter-layout">
      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          {{ dprAccordion(accordionItems) }}
        </div>
        <div class="moj-scrollable-pane">
          {{ dprDataTable(
          dataTableOptions.head,
          dataTableOptions.rows,
          dataTableOptions.count,
          dataTableOptions.currentQueryParams,
          dataTableOptions.classification
        ) }}
        </div>
      </div>
    </div>
  </div>

  {% if (dataTableOptions.printable == false) %}
    <h3 class="screen-hide">
      Printing this report has been disabled due to time or content sensitivity.<br/>
      Please speak to your report administrator for further details.
    </h3>
  {% endif %}

{% endblock %}