{% from "dpr/components/_reports/report-page/view.njk" import dprReportPage %}

{% macro dprReportList(renderData) %}
<div id="dpr-embedded-report-list">
  {{ dprReportPage(renderData)}}
<div>
{% endmacro %}
