{% macro dprReportList(options) %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {% from "dpr/components/accordion/view.njk" import dprAccordion %}
  {% from "dpr/components/filters/view.njk" import dprFilters %}
  {% from "dpr/components/loading-anim/view.njk" import dprLoadingAnim -%}
  {% from "dpr/components/column-section/view.njk" import dprColumnSection %}
  {% from "dpr/components/icon-button-list/view.njk" import dprIconButtonList %}
  {% from "dpr/components/pagination/view.njk" import dprPagination %}
  {% from "dpr/components/data-table/view.njk" import dprDataTable %}

  {% set title = options.title %}

  {% set dataTableOptions = options.dataTableOptions %}
  {% set filterOptions = options.filterOptions %}
  {% set warnings = options.warnings %}
  {% set columns = options.columns %}

  {# Datatable #}
  {% set pagination = dataTableOptions.pagination %}
  {% set printable = dataTableOptions.printable %}

  {% set accordionItems = [] %}
  {# Filters #}
  {% set filters = filterOptions.filters %}
  {% if filters.length > 0 %}
    {% set selectedFilters = filterOptions.selectedFilters %}
    {% set urlWithNoFilters = filterOptions.urlWithNoFilters %}
    {% set filterHtml %}
    <div class="data-table-filters">
      {{ dprFilters( filters, urlWithNoFilters ) }}
    </div>
    {% endset %}
    {% set filtersHeaderHtml %}
    {%- for selectedFilter in selectedFilters %}
      <div class="selected-accordion-button">
        {{ govukButton(selectedFilter) }}
      </div>
    {%- endfor %}
    {% endset %}
    {% set filtersAccordionItem = {
      summaryText: 'Filters',
      bodyHtml: filterHtml,
      headerHtml: filtersHeaderHtml
    } %}
    {% set accordionItems = (accordionItems.push(filtersAccordionItem), accordionItems) %}
  {% endif %}

  <div class="govuk-width-container report-list-container {% if (printable == false) %}print-hide{% endif %} govuk-!-margin-top-3">
    {{ dprLoadingAnim() }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-1">
          {{ title }}
        </h1>
        <h2 class="govuk-caption-m govuk-!-margin-top-1">{{ pagination.totalRows }} total results</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="dpr-actions">
          {{ dprIconButtonList(options.actions) }}
        </div>
      </div>
    </div>

    {% if warnings.noDataAvailable %}
      {{ govukErrorSummary({
      titleText: 'No data available',
      errorList: [
        {
          text: warnings.noDataAvailable
        }
      ]
    }) }}
    {% endif %}

    <div class="moj-filter-layout">
      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          {{ dprAccordion(accordionItems) }}
          {{ dprColumnSection(columns) }}
        </div>
        <div class="moj-scrollable-pane">
          {{ dprDataTable(dataTableOptions) }}

          {% if template === 'list' %}
            {{ dprPagination(pagination) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if (printable == false) %}
    <h3 class="screen-hide">
      Printing this report has been disabled due to time or content sensitivity.<br/>
      Please speak to your report administrator for further details.
    </h3>
  {% endif %}

{% endmacro %}