{% from "../my-reports-list-headings/view.njk" import dprMyReportListHeadings %}

{% macro dprMyReportList(listConfig) %}
  {% set title = listConfig.title %}

  {% set headings = listConfig.headings %}
  {% set items = listConfig.items %}
  {% set listType = listConfig.listType %}
  {% set csrfToken = listConfig.csrfToken %}

  {% set classes = 'dpr-my-reports__table--requests' %}
  {% if listType == 'bookmarks' %}
    {% set classes = 'dpr-my-reports__table--bookmarks' %}
  {% endif %}

  <div>
    <h1 class="govuk-heading-m govuk-!-margin-bottom-0">{{ title }}</h1>

    {% if items | length %}
      <p class="dpr-my-reports-totals govuk-body">Showing <strong>{{ items | length }}</strong> of <strong>{{ items | length }}</strong> reports</p>

      {# THE ITEMS #}
      <div class="dpr-my-reports" data-dpr-module="dpr-my-reports" data-list-type='my-reports-{{ listType }}' data-csrf-token="{{ csrfToken }}">
        <div class="dpr-my-reports__table {{ classes }}">
          
          {# Header row #}
          {{ dprMyReportListHeadings(headings, listType) }}

          {# Body rows #}
          {% for item in items %}
            {% include "../my-reports-list-item/row.njk" %}
          {% endfor %}

        </div>
      </div>

    {% else %}

      <p class='govuk-body'>You have 0 {{ listType }} reports<p>

    {% endif %}
  </div>
{% endmacro %}
