.dpr-reports-heading-container {
  position: relative;
  margin-bottom: govuk-spacing(0);
}

.report-no-data-available {
  text-align: left;
}

.dpr-columns-section-wrapper {
  .govuk-details {
    margin-bottom: 0;
  }
}

@media print {
  .dpr-columns-section-wrapper {
    display: none;
  }

  .dpr-reports-heading-container {
    h1.govuk-heading-l {
      font-size: 20px;
    }
    p.govuk-body-s {
      font-size: 14px;
    }
  }
}

.dpr-table-container {
  @media screen {
    .print-header-footer,
    .govuk-table__header span,
    .screen-hide {
      display: none;
    }
  }
}
