<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#0b0c0c">

    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' }}" type="image/x-icon">

    <link href="{{ '/assets/css/all.css' }}" rel="stylesheet">
    <title>{{ title }} - DPR Component Library</title>
  </head>
  <body class="govuk-template__body govuk-body govuk-frontend-supported">
    <script>
      document.body.className = (
        (document.body.className)
        ? document.body.className + ' js-enabled'
        : 'js-enabled');
    </script>

    {% block body %}
      <div>
        {% include "./partials/header.njk" %}

        {% include "./partials/navigation.njk" %}

        {% block content %}
          <main class="app-prose-scope" role="main">
            {{ content | safe }}
          </main>
        {% endblock %}

        {% include "./partials/footer.njk" %}

      </div>
    {% endblock %}

    {% block pageScripts %}
      <script type="module" src="{{ '/assets/govuk/govuk-frontend.min.js' }}"></script>
      <script type="module">
        import {initAll} from "{{ '/assets/govuk/govuk-frontend.min.js' | url }}"

        initAll()
      </script>
      <script type="text/javascript" src="{{ '/assets/js/all.js' }}"></script>
      <script type="module" src="{{ '/assets/js/all.mjs' }}"></script>
      <script type="module">
        import initAll from '{{ ' / assets / js / all.mjs ' | url }}'

        initAll()
      </script>
    {% endblock %}
  </body>
</html>