{% extends "./base.njk" %}

{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% block content %}
  <div class="govuk-width-container govuk-grid-row app-flex-container">
    <div class="govuk-grid-column-one-quarter dpr-docs-sidebar">
      {{ mojSideNavigation({
        classes: 'govuk-!-padding-top-6',
        sections: [
          {
            heading: {
              text: "Installation guide"
            },
            items: [
              {
                text: 'Install library using NPM',
                href: ('/get-started/integrating-the-library#install-library-using-npm')
              },
              {
                text: 'Import SASS',
                href: ('/get-started/integrating-the-library#import-sass')
              },
              {
                text: 'Import sssets',
                href: ('/get-started/integrating-the-library#import-assets')
              },
              {
                text: 'Import Javascript',
                href: ('/get-started/integrating-the-library#import-javascript')
              },
              {
                text: 'Add the JavaScript files to your HTML',
                href: ('/get-started/integrating-the-library#add-the-javaScript-files-to-your-html')
              },
              {
                text: 'Import JavaScript using a bundler',
                href: ('/get-started/integrating-the-library#import-javaScript-using-a-bundler')
              },
              {
                text: 'Nunjucks setup',
                href: ('/get-started/integrating-the-library#nunjucks-setup')
              },
              {
                text: 'Import Fonts',
                href: ('/get-started/integrating-the-library#import-fonts')
              }
            ]
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <main id="main-content" class="govuk-main-wrapper app-prose-scope" role="main">
        <h1 class="govuk-heading-xl">
          {% if subsection %}<span class="govuk-caption-xl">{{ subsection }}</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}
