{% extends "views/page.njk" %}

{% from "components/user-reports/view.njk" import dprUserReports %}

{% block content %}
  <span class="govuk-caption-l">Components</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-width-container">
    {{ dprUserReports(userReports)}}
  </div>
{% endblock %}
