{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprRequestReportButton(type) %}
  {{ govukButton({
    text: 'Request ' + type,
    classes: "govuk-button--primary"
  }) }}
{% endmacro %}
