$govuk-global-styles: true;

$dpr-images-path: "/assets/dpr/images/";
$govuk-assets-path: "/assets/govuk/";
@import 'govuk/all';

// Configure MoJ Frontend
$moj-assets-path: '/moj/assets/';
$moj-images-path: '/moj/assets/images/';
@import "node_modules/@ministryofjustice/frontend/moj/all";

.govuk-width-container {
  max-width: 1170px !important;
}

.drp-reports-heading-container {
  position: relative;
}
