{% extends "./../base.njk" %}

{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% block content %}
  <div class="govuk-width-container govuk-grid-row app-flex-container">
    <div class="govuk-grid-column-one-quarter">
      {% include "../partials/side-navigation/get-started/guides-fe-integration.njk" %}
      {% include "../partials/side-navigation/get-started/platform.njk" %}
      {% include "../partials/side-navigation/get-started/example-reports.njk" %}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <main id="main-content" class="govuk-main-wrapper app-prose-scope" role="main">
        <h1 class="govuk-heading-xl">
          {% if subsection %}<span class="govuk-caption-xl">{{ subsection }}</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}
