{% extends "./../base.njk" %}

{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% block content %}
  <div class="govuk-width-container govuk-grid-row app-flex-container">
    <div class="govuk-grid-column-one-quarter">
      {{ mojSideNavigation({
        classes: 'govuk-!-padding-top-6',
        sections: [
          {
            heading: {
              text: "How to guides"
            },
            items: [
              {
                text: 'Integrating the library',
                href: ('/integration-guides/integrating-the-library'),
                active: true
              },
              {
                text: '➤ Install library using NPM',
                href: ('/integration-guides/integrating-the-library#install-library-using-npm')
              },
              {
                text: '➤ Import SASS',
                href: ('/integration-guides/integrating-the-library#import-sass')
              },
              {
                text: '➤ Import sssets',
                href: ('/integration-guides/integrating-the-library#import-assets')
              },
              {
                text: '➤ Import Javascript',
                href: ('/integration-guides/integrating-the-library#import-javascript')
              },
              {
                text: '➤ Add the JS files to your HTML',
                href: ('/integration-guides/integrating-the-library#add-the-javaScript-files-to-your-html')
              },
              {
                text: '➤ Import JS using a bundler',
                href: ('/integration-guides/integrating-the-library#import-javaScript-using-a-bundler')
              },
              {
                text: '➤ Nunjucks setup',
                href: ('/integration-guides/integrating-the-library#nunjucks-setup')
              },
              {
                text: '➤ Import Fonts',
                href: ('/integration-guides/integrating-the-library#import-fonts')
              },
              {
                text: 'Integrating the platform',
                href: ('/integration-guides/integrating-the-platform')
              },
              {
                text: 'Integrating the FE',
                href: ('/integration-guides/integrating-the-fe')
              },
              {
                text: 'Environments',
                href: ('/get-started/environments')
              }
            ]
          },
                    {
            heading: {
              text: "Platform"
            },
            items: [
              {
                text: 'Components',
                href: ('/components')
              },
              {
                text: 'Environments',
                href: ('/get-started/environments')
              },
              {
                text: 'Routes',
                href: ('/reports/async-routes'),
                active: page.filePathStem.indexOf('/reports/async-routes') === 0
              }
            ]
          },
          {
            heading: {
              text: "Example Reports"
            },
            items: [ 
              {
                text: 'List report',
                href: '/reports/example-list-report',
                active: page.filePathStem.indexOf('/reports/example-list-report') === 0
              }
            ]
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-three-quarters">
      <main id="main-content" class="govuk-main-wrapper app-prose-scope" role="main">
        <h1 class="govuk-heading-xl">
          {% if subsection %}<span class="govuk-caption-xl">{{ subsection }}</span>{% endif %}
          {{ title }}
        </h1>
        {{ content | safe }}
      </main>
    </div>
  </div>
{% endblock %}
