.dpr-card-group {
  padding-bottom: govuk-spacing(6);
  .dpr-card-group__item {
    padding-bottom: govuk-spacing(5);
    position: relative;

    .dpr-card-group__item_header {

    }

    .dpr-card-group__item__description {
      margin-top: 10px;
    }
    
    ul.dpr-card-group__item__filters-list {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 0;
      }
    }

    .dpr-card-group__item__timestamp {
      position: absolute;
      bottom: 1px;
      left: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: #505a5f;
    }

    .dpr-card-group__item__status {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
