#user-selected-columns-form {
  margin-left: govuk-spacing(2);

  .columns-container {
    position: relative;

    .govuk-checkboxes.govuk-checkboxes--small {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;

      @media(min-width: 769px) and (max-width: 1019px) {
        grid-template-columns: 1fr 1fr;
      }

      @media(max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
