.columns-container .govuk-checkboxes--small .govuk-checkboxes__item {
  display: inline-block;
  width: 28%;
  vertical-align:top;
  float: none;
}

.columns-container {
  position: relative;

  .govuk-checkboxes__input, .govuk-checkboxes__label {
    display: inline-block;
    vertical-align:top;
  }
}

.columns-header {
  padding-left: 10px;
  padding-top: 10px;
}