{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprColumns(columns) %}
  {% set items = columns.options %}
  {% set name = columns.name %}
  {% set text = columns.text %}
  {% set values = columns.value %}

  <form data-dpr-module="columns" class="dpr-columns-form">
    <div class="columns-container">
      {{ govukCheckboxes({
          id: name,
          name: name,
          classes: "govuk-checkboxes--small",
          formGroup: {
            classes: "govuk-!-margin-bottom-3"
          },
          fieldset: {
            legend: {
              text: text,
              classes: "govuk-label govuk-!-font-weight-bold"
            },
            attributes: {
              "aria-label": name + ' checkboxes'
            }
          },
          items: items,
          values: values
        }) }}
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Apply Columns",
        classes: "govuk-button govuk-!-margin-bottom-0 dpr-apply-columns-button"
      }) }}

      <a class="govuk-link govuk-link--no-visited-state dpr-reset-columns-button" href="#">Reset columns</a>
    </div>
  </form>
{% endmacro %}
