// Cannibalised from MoJ sortable table

.dpr-table-container {
  position: relative;
  // overflow: scroll;

  td {
    padding: govuk-spacing(2);
  }

  .dpr-section-header {
    border-bottom: 0px;
    padding-left: govuk-spacing(0);

    &.govuk-table__cell {
      h2 {
        margin-top: 0px;
      }
    }
  }

  .dpr-section-header-spacer {
    padding: govuk-spacing(4);
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
  }

  .dpr-section-header-spacer-bottom {
    padding: govuk-spacing(1);
    border-bottom: 0px;
  }

  .dpr-summary-cell {
    border-bottom: 0px;
  }

  .dpr-parent-cell, .dpr-child-report-cell {
    border-bottom: 0px;
  }

  .dpr-child-report-cell {
    padding-left: govuk-spacing(2);
    padding-right: govuk-spacing(2);
    padding-top: govuk-spacing(1);
  }

  .dpr-child-report {
    border: 1px solid govuk-colour("mid-grey");
    margin-bottom: govuk-spacing(3);

    h3 {
      background-color: govuk-colour('light-grey');
      padding: govuk-spacing(2);
      padding-left: govuk-spacing(2);
      margin-bottom: govuk-spacing(0);
    }

    .dpr-child-report_table {
      padding: govuk-spacing(2);

      table {
        border: 0px;
        margin-bottom: 0px;
  
        tr:last-child {
          td {
            border-bottom: 0px;
          } 
        }
      }
    }

  }

  .dpr-overflow-gradient {
    display: none;
    width: 25px;
    height: 100%;
    background-color: rgba(177, 180, 182, 0.7);
    position: absolute;
    right: 0px;
    top: 0px;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;
  }

  .data-table-header-button {
    background-color: transparent;
    border-width: 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: inherit;
    margin: 0;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
  }

  .data-table-header-button-sort-none:before {
    content: " \25bc";
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: 0.5em;
  }

  .data-table-header-button-sort-none:after {
    content: " \25b2";
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.5em;
  }

  .data-table-header-button-sort-ascending:after {
    content: " \25b2";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }

  .data-table-header-button-sort-descending:after {
    content: " \25bc";
    font-size: .8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }

  .data-table-cell-wrap-none {
    white-space: nowrap;
  }

  .data-table-cell-wrap-normal {
    white-space: normal;
  }

  .data-table-cell-wrap-break-words {
    word-break: break-all;
  }

  #pageSize {
    min-width: 5em;
  }

  .govuk-table__cell--content {
    text-align: center;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  .pagination {
    overflow: auto;
  }

  .data-table-page-size-container {
    height: 40px;
  }

  .data-table-page-size {
    float: right;

    @media(max-width: 640px) {
      width: 100%;
    }

    @media(max-width: 319px) {
      .govuk-form-group {
        margin-bottom: 0;
      }
      height: 72px;
      margin-bottom: govuk-spacing(2);
    }
  }

  @media(max-width: 319px) {
    #pageSize {
      width: 100%;
    }
  }

  .dpr-table-wrapper {
    overflow: scroll;
  }

  .table-row-count {
    color: govuk-colour("dark-grey");
    font-weight: 100;
    text-align: right;
  }

  .table-row--no-border {
    border-bottom: none;
  }

  .table-row-count--top {
    padding-bottom: govuk-spacing(0);
  }

  .table-row-count--bottom {
    padding-top: govuk-spacing(2);
    padding-bottom: govuk-spacing(2);
  }

  .govuk-table__cell h2 {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .dpr-report-summary-cell {
    background-color: govuk-colour("light-grey");
    font-weight: bold;
    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(3);
  }

  .dpr-report-summary-cell-table-header {
    border-bottom: 0px;
  }

  .dpr-report-summary-cell-table-footer {
    border-top: 0px;
  }
}

.dpr-table-container--list-section {
  .govuk-table {
    // td:first-child {
    //   border-left: 1px solid govuk-colour("mid-grey");
    // }

    // td:last-child {
    //   border-right: 1px solid govuk-colour("mid-grey");
    // }
  }
}

.dpr-table-container--row-section, .dpr-table-container--row-section-child {
  th {
    border-bottom: 0px;
  }
  th.dpr-row-section-header {
    width: 33%;
  }
  th.pr-row-section-header-value {
    width: 66%;
  }

  .dpr-section-header {
    // background-color: govuk-colour('light-grey');
    // border: 1px solid govuk-colour("mid-grey"); 
    border-bottom: none;
    // padding: govuk-spacing(3);

    h2 {
      // font-size: 19px;
    }
  }

  .dpr-section-header-spacer-bottom {
    // border-left: 1px solid govuk-colour("mid-grey");
    // border-right: 1px solid govuk-colour("mid-grey");
  }

  .dpr-row-heading {
    padding: govuk-spacing(2);
    font-weight: 800;
    // border-left: 1px solid govuk-colour("mid-grey");
  }

  .dpr-row-heading-data {
    padding: govuk-spacing(2);
    // border-right: 1px solid govuk-colour("mid-grey");
  }
}

.data-table-empty-message {
  text-align: center;
  position: relative;
}

@media print {
  .dpr-table-container {
    .dpr-table-wrapper {
      overflow: visible;
    }
    .dpr-overflow-gradient {
      display: none;
      width: 0px;
    }
  }
  .govuk-width-container {
    max-width: 100% !important;
  }
}
