{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprDataTable(dataTable, classification) %}
  {% set rows = dataTable.rows %}
  {% set head = dataTable.head %}
  {% set colCount = dataTable.colCount %}
  {% set classification = options.classification %}

  <div id="table-container" class='dpr-table-container' data-dpr-module="data-table">
    <div class="dpr-overflow-gradient" id="dpr-overflow-gradient"></div>
    <div class="dpr-table-wrapper" id="dpr-table-wrapper">
      {{ govukTable({
        head: head,
        rows: rows,
        attributes: { 
          'id': 'dpr-data-table',
          'data-classification': classification,
          'data-col-length': colCount
        }
      }) }}
    </div>
  </div>
{% endmacro %}
