{% from "../columns/view.njk" import dprColumns %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprColumnSection(columns) %}
  {% if columns.options.length > 0 %}
  <div class="dpr-columns-section-wrapper">
    {% set columnsHtml %}
    {{ dprColumns(columns) }}
    {% endset %}

    {% set columnsTitle = "Columns (" + columns.value.length + " of " + columns.options.length +" shown)"  %}
    <div class="columns-section-button">
      {{ govukDetails({
      summaryText: columnsTitle,
      html: columnsHtml
    }) }}
    </div>
  </div>
  {% endif %}

{% endmacro %}
