{% from "../columns/view.njk" import dprColumns %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprColumnSection(columns) %}
  {% if columns and columns.length > 0 %}
  <div class="dpr-columns-section-wrapper">
    {% set columnsHtml %}
    {{ dprColumns(columns) }}
    {% endset %}

    <div class="columns-section-button">
      {{ govukDetails({
      summaryText: "Columns",
      html: columnsHtml
    }) }}
    </div>

    <div class="columns-section-header">
      <p class="govuk-body govuk-!-margin-bottom-0">{{ columns.value.length }} of {{ columns.options.length }} shown</p>
    </div>
  </div>
  {% endif %}

{% endmacro %}
