{% from "../pagination/view.njk" import dprPagination %}
{% from "../data-table/view.njk" import dprDataTable %}
{% from "../async-applied-filters/view.njk" import dprAsyncAppliedFiltersList %}
{% from "../column-section/view.njk" import dprColumnSection %}

{% macro dprAsyncReportList(options) %}

  {% set columns = options.columns %}
  {% set pagination = options.pagination %}

  {{ dprColumnSection(columns) }}

  <div class='dpr-table-container'>
    {{ dprDataTable(options) }}
  </div>
{% endmacro %}
