{% from "../pagination/view.njk" import dprPagination %}
{% from "../data-table/view.njk" import dprDataTable %}
{% from "../async-applied-filters/view.njk" import dprAsyncAppliedFiltersList %}
{% from "../column-section/view.njk" import dprColumnSection %}
{% from "../summary-table/view.njk" import dprReportSummary %}
{% from "../report-totals/view.njk" import dprReportTotals %}

{% macro dprAsyncReportList(options) %}

  {% set columns = options.columns %}
  {% set pagination = options.pagination %}
  {% set reportSummaries = options.reportSummaries %}

  {{ dprColumnSection(columns) }}
  {{ dprReportSummary(reportSummaries, 'page-header') }}
  
  {{ dprReportTotals(options.totals) }}
  <div class='dpr-table-container'>
    {{ dprDataTable(options) }}
  </div>
  <div class='govuk-!-margin-bottom-6'>
    {{ dprReportTotals(options.totals) }}
  </div>
  {{ dprReportSummary(reportSummaries, 'page-footer') }}

{% endmacro %}
