{%- from "../../../_async/request-status-tag/view.njk" import dprRequestStatusTag -%}

{% macro dprMyReportListItemStatus(status) %}
  <div class="dpr-my-reports__status">
    {{ dprRequestStatusTag(status) }}
  </div>
{% endmacro %}
