.dpr-my-reports__actions-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0px;
  font-size: 16px;
  text-align: right;
  width: 100%;

  li {
    margin-bottom: govuk-spacing(1);
  }

  .dpr-button-link {
    font-size: 16px;
  }
}
