{% from "../async-filters-form/view.njk" import dprAsyncFiltersForm %}  

{% macro dprAsyncRequest(args) %}
  {% set title = args.title %}
  {% set filters = args.filters %}
  {% set selectedFilters = args.selectedFilters %}
  {% set filterDescription = args.filterDescription %}
  {% set sortBy = args.sortBy %}
  {% set reportData = args.reportData %}
  {% set endpoint = args.endpoint %}
  {% set type = args.type %}

  <h1>{{ title }}</h1>

  {% if filters %}
    <p class="govuk-body">{{ filterDescription }}</p>
  {% endif %}
    
  {{ dprAsyncFiltersForm({ 
    filters: filters,
    selectedFilters: selectedFilters, 
    sortBy: sortBy, 
    data: reportData, 
    endpoint: endpoint,
    type: type
  }) }}
{% endmacro %}
