{% macro dprCurrentStatus(data) %}

  {% set meta = data.metaDetails %}
  {% set path = data.path %}
  {% set csrfToken = data.csrfToken %}

  <div id="dpr-current-status__content" 
    data-dpr-module="dpr-current-status-polling"
    data-report-id='{{ meta.reportId }}'
    data-id='{{ meta.id }}'
    data-table-id='{{ meta.tableId }}'
    data-execution-id='{{ meta.executionId }}'
    data-csrf-token="{{ csrfToken }}"
    data-path='{{ path }}'>

    {% include "./current-status/view.njk" %}
    
  </div>
{% endmacro %}
