{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% from "../request-status-tag/view.njk" import dprRequestStatusTag %}
{% from "../request-details/view.njk" import dprRequestDetails %}
{% from "../../error-summary/view.njk" import dprErrorSummary %}

{% macro dprAsyncPolling(data) %}
  {% set status = data.status %}
  {% set querySummary = data.querySummary %}
  {% set reportId = data.reportId %}
  {% set id = data.id %}
  {% set type = data.type %}
  {% set dashboardId = data.dashboardId %}
  {% set reportUrl = data.reportUrl %}
  {% set requestUrl = data.requestUrl %}
  {% set errorMessage = data.errorMessage %}
  {% set executionId = data.executionId %}
  {% set tableId = data.tableId %}
  {% set csrfToken = data.csrfToken %}
  {% set requestedAt = data.requestedAt %}
  {% set definitionPath = data.definitionPath %}
  {% set descriptionClasses = 'govuk-!-margin-top-4 govuk-!-margin-bottom-6'%}

  {% set meta = { 
    reportId: reportId, 
    id: id,
    executionId: executionId, 
    tableId: tableId
    type: type,
    status: status,
    requestedAt: requestedAt,
    dataProductDefinitionsPath: definitionPath
  }%}

  <div id="async-request-polling-status" 
    data-current-status='{{ status }}'
    data-request-data='{{ meta | dump | safe }}'
    data-csrf-token="{{ csrfToken }}"
    data-dpr-module="async-polling-content">

    {% set filtersHtml %}
    {% if querySummary %}
      <ul>
        {% for query in querySummary %}
          <li class="govuk-body govuk-!-margin-bottom-1">{{ query.name }}: {{ query.value }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endset %}

    <p>Status: {{ dprRequestStatusTag(status) }}</p>

    {% if status === 'STARTED' or status === 'SUBMITTED' or status === 'PICKED' %}

      <p class="{{ descriptionClasses }}">We are generating your {{ type }}.</p>

      {{ dprRequestDetails(data)}}

      {{ govukInsetText({
        html: "<p>It can take up to 10 minutes to generate a " + type + ".</p> <p>You can close and revisit this page at anytime. Navigate to the homepage to check on its status or your  " + type + ".</p>"
      }) }}

      {{ govukButton({
        id: "cancel-async-request",
        text: "Cancel request",  
        classes: "govuk-button--secondary govuk-!-margin-bottom-0",
        attributes: {
          'data-execution-id': executionId,
          'data-report-id': reportId,
          'data-id': id,
          'data-type': type,
          'data-csrf-token': csrfToken
        }
      }) }}

    {% endif %}

    {% if status === 'FAILED' %}

      {{ dprErrorSummary(errorMessage, meta) }}

      {{ dprRequestDetails(data)}}

      {{ govukButton({
        id: "retry-async-request",
        text: "Retry",  
        classes: "govuk-button govuk-!-margin-top-5",
        href: requestUrl
      }) }}

    {% endif %}

    {% if status === 'ABORTED' %}

      <p class="{{ descriptionClasses }}">Your request has been cancelled</p>

      {{ dprRequestDetails(data)}}

      {{ govukButton({
        id: "retry-async-request",
        text: "Return to request page",  
        classes: "govuk-button govuk-!-margin-top-5",
        href: requestUrl
      }) }}

    {% endif %}

    {% if status === 'FINISHED' %}

      <p class="{{ descriptionClasses }}">Your {{ type }} has been generated</p>

      {{ dprRequestDetails(data)}}

      {{ govukButton({
        text: "View " + type,
        classes: "govuk-button--primary",
        href: reportUrl
      }) }}

    {% endif %}

  </div>
{% endmacro %}
