.dpr-save-defaults-action {

  .dpr-default-saved {
    color: govuk-colour("green");
    margin-bottom: 0px;
    margin-top: govuk-spacing(2);
  }

  .govuk-details {
    margin-bottom: 0px;margin-top: govuk-spacing(2);
  }
}
