{% extends "views/page.njk" %}

{% from "components/_catalogue/catalogue/view.njk" import dprCatalogue %}

{% block content %}
  <span class="govuk-caption-l">Components</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-width-container">
    {{ dprCatalogue(catalogue) }}
  </div>
{% endblock %}
