{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprSearch(id, tableHtml) %}

  <div class="dpr-search" data-dpr-module="search">
    {{ govukInput({
      id: id,
      name: 'search',
      autocomplete: "off",
      label: {
        text: 'Search',
        classes: 'govuk-!-font-weight-bold dpr-inline-label'
      },
      suffix: {
        html: "&#x1F50D;"
      },
      classes: "dpr-search-box",
      attributes: {
        placeholder: "Type to filter reports"
      }
    }) }}

    {{ tableHtml | safe }}
  </div>

{% endmacro %}
