{% from "../async-filter-inputs/view.njk" import dprAsyncFilterInputs -%}
{% from "../async-request-details/view.njk" import dprAsyncRequestDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprAsyncFilters(filters, sortBy, data, endpoint) %}
  {% set reportId = data.reportId %}
  {% set variantId = data.variantId %}
  {% set variantName = data.variantName %}
  {% set description = data.description %}
  {% set reportName = data.reportName %}
  {% set definitionPath = data.definitionPath %}
  {% set csrfToken = data.csrfToken %}

  {{ dprAsyncRequestDetails( reportName, variantName, description, '', reportId, variantId )}}

  <div class="dpr-async-controls dpr-filters" data-dpr-module="async-filters">
    <h3 class="govuk-heading-m">Request Query</h3>

    <form action="{{ endpoint }}" method="post" id="async-filters-form">
      <input type="hidden" name="dataProductDefinitionsPath" value="{{ definitionPath }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="reportId" value="{{ reportId }}">
      <input type="hidden" name="variantId" value="{{ variantId }}">
      <input type="hidden" name="reportName" value="{{ reportName }}">
      <input type="hidden" name="variantName" value="{{ variantName }}">
      <input type="hidden" name="description" value="{{ description }}">
      <input type="hidden" name="pathname" id="async-filters-form-pathname" value="">
      <input type="hidden" name="origin" id="async-filters-form-origin" value="">
      <input type="hidden" name="href" id="async-filters-form-href" value="">
      <input type="hidden" name="search" id="async-filters-form-search" value="">
      <input type="hidden" name="retryId" id="async-filters-retry-id" value="">

      <div class="dpr-async-controls__section">
        <h3 class="govuk-heading-s">Filters</h3>
        {{ dprAsyncFilterInputs(filters, 'filters.') }}
      </div>

      <div class="dpr-async-controls__section">
        <h3 class="govuk-heading-s">Sort By</h3>
        {{ dprAsyncFilterInputs(sortBy, '') }}
      </div>

      <div class="dpr-async-controls__section">
        {{ govukButton({
          text: "Request Report",
          classes: "govuk-button--primary",
          attributes: {
            'id': 'async-request-report-button'
          }
        }) }}

        {{ govukButton({
          text: "Reset Filters",
          classes: "govuk-button--secondary",
          attributes: {
            'id': 'async-request-reset-filters-button'
          }
        }) }}
      </div>
    </form>
  </div>
{% endmacro %}
