{% extends layoutPath %}

{% from "../../../components/user-reports/view.njk" import dprUserReports %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">My Reports</h1>
    {{ dprUserReports(userReportsLists)}}
  </div>
{% endblock %}
