{% extends layoutPath %}

{% from "../../../components/my-reports/my-reports-list/view.njk" import dprMyReportList %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    
    {{ dprMyReportList(list) }}
  </div>
{% endblock %}
