{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dprMyReportListItemSchedule(schedule) %}
  <h1 class="dpr-my-reports-column-heading govuk-caption-m">Schedule</h1>
  <div class="dpr-my-reports__item-schedule">
    <p class="govuk-body">{{ schedule }}</p>
  </div>
{% endmacro %}
