{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dprMyReportListItemSchedule(schedule) %}
  <div class="dpr-my-reports__item-schedule">
    <p class="govuk-body">{{ schedule }}</p>
  </div>
{% endmacro %}
