{% from "../filters-reset/view.njk" import dprFiltersReset %}

{% macro dprSelectedFilters(selectedFilters, resetArgs) %}

  <div class='dpr-selected-filters-container'>
    <div class='dpr-selected-filters'>
      <div>
        <p id="dpr-selected-filters-label" class="govuk-body govuk-!-margin-bottom-2"><strong>Selected filters</strong></p>
      </div>
      <div id="dpr-selected-filters" aria-labelledby="dpr-selected-filters-label">
        {% if selectedFilters.length %}      

          {% for selected in selectedFilters %}
            {% set key = selected.key %}
            {% set displayValue = selected.displayValue %}
            {% set text = selected.text %}
            {% set value = selected.value %}
            {% set classes = selected.classes %}
            {% set disabled = selected.disabled %}
            {% set constraints = selected.constraints %}
            
            {% if disabled %}
              <p class="govuk-body {{ classes }}">{{ text }}: {{ displayValue }}</p>
            {% else %}
              <a href="#" 
                class="govuk-link govuk-body {{ classes }}" 
                data-query-param-key= {{ key }} 
                data-query-param-value= '[{{ value }}]'
                data-query-constraint-values= '{{ constraints | json }}'
              >
              {{ text }}: <span class="dpr-selected-filter__value">{{ displayValue }}<span>
              </a>
            {% endif %}
          {% endfor%}

        {% else %}
          <p class="govuk-body-s govuk-!-margin-top-1 govuk-!-margin-bottom-0">No filters selected</p>
        {% endif %}
        {{ dprFiltersReset(resetArgs) }}
      </div>
    </div>
  </div>
{% endmacro %}
