---
layout: layouts/example.njk
title: Catalogue (example)
---

{%- from "dpr/components/_catalogue/catalogue/view.njk" import dprCatalogue -%}

{% set data = {
  head: [
    { text: "Product", classes: "dpr-product-head" },
    { text: "Name",classes: "dpr-name-head" },
    { text: "Description", classes: "dpr-description-head" },
    { text: "Actions", classes: "dpr-bookmark-head" }
  ],
  rows: [
    [
      { html: "<p class='govuk-body-s'>Product 1</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 1</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 1 description' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant name 1 description</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-1/variantId-1/request'>Request report</a><a href='#'' class='govuk-link govuk-link--no-visited-state dpr-bookmark-link dpr-user-list-action' id='dashboard-visualisations-chart-examples-data-quality-reports-list' data-dpr-module='bookmark-button' data-id='chart-examples-data-quality' data-report-id='dashboard-visualisations' data-report-type='dashboard' data-base-url='/embedded/platform' data-csrf-token='csrfToken' data-link-type='add' style='opacity: 1;'>Add bookmark</a>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 2</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 2 description' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 2 description</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-2/variantId-2/request'>Request report</a><a href='#'' class='govuk-link govuk-link--no-visited-state dpr-bookmark-link dpr-user-list-action' id='dashboard-visualisations-chart-examples-data-quality-reports-list' data-dpr-module='bookmark-button' data-id='chart-examples-data-quality' data-report-id='dashboard-visualisations' data-report-type='dashboard' data-base-url='/embedded/platform' data-csrf-token='csrfToken' data-link-type='add' style='opacity: 1;'>Add bookmark</a>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 3</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 1</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 1 description' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 1 description</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-3/variantId-3-1/request'>Request report</a><a href='#'' class='govuk-link govuk-link--no-visited-state dpr-bookmark-link dpr-user-list-action' id='dashboard-visualisations-chart-examples-data-quality-reports-list' data-dpr-module='bookmark-button' data-id='chart-examples-data-quality' data-report-id='dashboard-visualisations' data-report-type='dashboard' data-base-url='/embedded/platform' data-csrf-token='csrfToken' data-link-type='add' style='opacity: 1;'>Add bookmark</a>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 3</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 2 description' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 2 description</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-3/variantId-3-2/request'>Request report</a><a href='#'' class='govuk-link govuk-link--no-visited-state dpr-bookmark-link dpr-user-list-action' id='dashboard-visualisations-chart-examples-data-quality-reports-list' data-dpr-module='bookmark-button' data-id='chart-examples-data-quality' data-report-id='dashboard-visualisations' data-report-type='dashboard' data-base-url='/embedded/platform' data-csrf-token='csrfToken' data-link-type='add' style='opacity: 1;'>Add bookmark</a>" }
    ]
  ],
  id: 'dpr-reports-catalogue'
} %}

{% set features = {
  unauthorisedToggleEnabled: true,
  bookmarkingEnabled: true
} %}


{{ dprCatalogue({ data: data, features: features }) }}
