$govuk-global-styles: true;
$moj-page-width: 1170px;

@import "node_modules/highlight.js/scss/github.scss";
@import 'govuk/all';
@import 'moj/all';

.app-header__logo {
  margin-left: 30px;
  width: auto;
}

div.govuk-width-container {
  max-width: $moj-page-width;
}

th {
  text-align: left;
}
