$govuk-global-styles: true;
$moj-page-width: 1170px;

$dpr-images-path: "/hmpps-digital-prison-reporting-frontend/assets/dpr/images/";
$govuk-assets-path: "/hmpps-digital-prison-reporting-frontend/assets/govuk/";

@import "node_modules/highlight.js/scss/github.scss";
@import 'govuk/all';
@import 'moj/all';

.app-header__logo {
  margin-left: 30px;
}

div.govuk-width-container {
  max-width: $moj-page-width;
}

th {
  text-align: left;
}


