{% extends layoutPath %}

{% from "../../../../components/_async/async-filters-form/view.njk" import dprAsyncFiltersForm %} 
{% from "../../../../components/_filters/filters-help/view.njk" import dprFiltersHelp %}
{% from "../../../../components/_async/request-details/view.njk" import dprRequestDetails %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ title }}</h1>

  {% if filters %}
    <p class="govuk-body">{{ filterDescription }}</p>
  {% endif %}
  
  {% set reportDetailsHtml %}
    {{ dprRequestDetails(reportData)}}
  {% endset %}

  {{ govukDetails({
    summaryText: 'Details for "' + reportData.reportName + ': ' + reportData.name + '"',
    html: reportDetailsHtml,
    classes: 'dpr-meta-data-details',
    open: (filtersData.filters.length == null or filtersData.filters.length == 0)
  }) }}

  {{ dprFiltersHelp(saveDefaultsEnabled) }}
 
  {{ dprAsyncFiltersForm({ 
    filters: filtersData.filters,
    selectedFilters: selectedFilters, 
    sortBy: filtersData.sortBy, 
    data: reportData, 
    endpoint: postEndpoint,
    type: type,
    saveDefaultsEnabled: saveDefaultsEnabled
  }) }}
{% endblock %}
