{% macro dprBookmarkButton(reportId, id, reportType, csrfToken, config) %}
  {% set reportType %}{{ type if type else 'report' }}{% endset %}
  {% set linkId = reportId + '-' + id + '-' + reportType %}

  <a href="#" 
    class="govuk-link govuk-link--no-visited-state"
    id="{{ linkId }}"
    data-dpr-module="bookmark-button"
    data-id="{{ id }}" 
    data-report-id="{{ reportId }}" 
    data-report-type="{{ reportType }}" 
    data-csrf-token="{{ csrfToken }}" 
    data-endpoint="{{ config.bookmarkActionEndoint }}"  
    data-link-type="{{ config.linkType }}"
  >

    {{ config.linkText }}

  </a>
{% endmacro %}
