{% macro dprBookmarkButton(reportId, id, csrfToken, bookmarked, ctxId, reportType, nestedBaseUrl) %}
  {% set type %}{{ type if type else 'report' }}{% endset %}
  {% set linkText = 'Add bookmark' %}
  {% set linkType = 'add' %}
  {% set linkId = reportId + '-' + id + '-' + ctxId %}

  {% if bookmarked %}
    {% set linkText = 'Remove bookmark' %}
    {% set linkType = 'remove' %}
  {% endif %}

  <a href="#" 
    class="govuk-link govuk-link--no-visited-state"
    id="{{ linkId }}"
    data-dpr-module="bookmark-button"
    data-id="{{ id }}" 
    data-report-id="{{ reportId }}" 
    data-report-type="{{ reportType }}" 
    data-base-url="{{ nestedBaseUrl }}"  
    data-link-type="{{ linkType }}"
    data-csrf-token="{{ csrfToken }}" 
  >

    {{ linkText }}

  </a>
{% endmacro %}
