.dpr-filter-item {
  .dpr-inline-label {
    padding-bottom: 5px;
    display: contents;
    width: fit-content;
  }

  .govuk-hint {
    padding-left: 5px;
    display: contents;
    width: fit-content;
  }

  .dpr-text-input {
    margin-top: 5px;
  }
}

.dpr-filter-item.dpr-filter-item__daterange {
  // grid-column: span 2;
}
