{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "dpr/components/autocomplete-text-input/view.njk" import dprAutocompleteTextInput -%}
{% from "dpr/components/date-range/view.njk" import dprDateRange -%}
{% from "../date-input/view.njk" import dprDate %}

{% macro dprFilterInput(filter, parameterPrefix) %}
  {% set filterType = filter.type | lower %}
  {% set id = parameterPrefix + filter.name %}
  {% set name = parameterPrefix + filter.name %}
  {% set value = filter.value %}
  {% set text = filter.text %}
  {% set options = filter.options %}
  {% set pattern = filter.pattern if filter.pattern else 
    '.+' %}
  {% set mandatory = filter.mandatory if filter.mandatory else 
    false %}

  {% set optionsWithNone = [
    {
      value: "",
      text: "( No filter )"
    }
  ].concat(options) %}

  <div class="dpr-filter-item {% if filterType === 'daterange'%} dpr-filter-item__span-2 {% endif %}">
    {%- if filterType === 'select' %}

      {{ govukSelect({
        id: id,
        name: name,
        value: value,
        items: options if mandatory else optionsWithNone,
        label: {
          text: text,
          classes: "govuk-label govuk-!-font-weight-bold"
        },
        attributes: {
          'display-name': text
        }
      }) }}

    {% elif filterType === 'radio' %}

      {{ govukRadios({
        id: id,
        name: name,
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            text: text,
            classes: "govuk-label govuk-!-font-weight-bold"
          }
        },
        items: (options | addRequiredAttributeToAll) if mandatory else optionsWithNone,
        errorMessage: {
          text: ""
        },
        value: value,
        attributes: {
          required: true,
          'display-name': text
        } if mandatory else {
          'display-name': text
        }
      }) }}

    {% elif filterType === 'date' %}

      {{ dprDate(filter) }}

    {% elif filterType === 'daterange' %}

      <div class="govuk-form-group">
        {{ dprDateRange(filter, parameterPrefix, mandatory) }}
      </div>

    {% elif filterType === 'autocomplete' %}

      {% set minimumLength = filter.minimumLength %}
      {% set dynamicResourceEndpoint = filter.dynamicResourceEndpoint %}

      {{ dprAutocompleteTextInput({
        id: id,
        name: name,
        items: options,
        value: value,
        labelText: text,
        minimumLength: minimumLength,
        dynamicResourceEndpoint: dynamicResourceEndpoint,
        pattern: pattern,
        mandatory: mandatory
      }) }}

    {% elif filterType === 'text' %}

      {{ govukInput({
        id: id,
        name: name,
        value: value,
        label: {
          text: text,
          classes: 'govuk-!-font-weight-bold dpr-inline-label'
        },
        errorMessage: {
          text: ""
        } if mandatory,
        attributes: {
          pattern: pattern,
          required: true,
          'display-name': text
        } if mandatory else {
          pattern: pattern,
          'display-name': text
        },
        hint: {
          html: "(Optional)"
        } if not mandatory
      }) }}

    {% endif %}
  </div>
{% endmacro %}
