.dashboard-wrapper {
  display: flex;
  flex-direction: row;

  .dashboard-content {
    width: 870px;
  }
}

@media (max-width: 768px) {
  .dashboard-wrapper {
    .dashboard-sidebar {
      display: none;
    }

    .dashboard-content {
      width: 100%;
    }
  }
}
