{% from "../dashboard-sidebar/view.njk" import dprDashboardSidebar %}
{% from "../dashboard-filters/view.njk" import dprDashboardFilters %}
{% from "../dashboard-section/view.njk" import dprDashboardSection %}

{% from "../../_charts/chart-card/view.njk" import dprChartCard %}
{% from "../../_reports/report-heading/view.njk" import dprReportHeading %}
{% from "../scorecard-group/view.njk" import dprScoreCardGroup %}

{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

{% macro dprDashboard(data) %}
  <div class="dashboard-wrapper">
    
    <nav class="dashboard-sidebar">
      {{ dprDashboardSidebar(data.sections) }}
    </nav> 

    <div class="dashboard-content">
      {{ dprReportHeading(data) }}
      {{ dprDashboardFilters(data.filters) }}

      {% for section in data.sections %}
        {{ dprDashboardSection(section) }}
      {% endfor %}

      {{ dprScoreCardGroup(data.scorecards) }}
    </div>
  </div>
{% endmacro %}
