.dpr-report-template-container {
  .dpr-report-template-container--no-data {
  }

  .dpr-report-template__page-summaries {
  }

  .dpr-report-template__page-summaries--header {
  }

  .dpr-report-template__page-totals {
  }

  .dpr-report-template__page-totals--header {
  }

  .dpr-report-template__page-totals--footer {
  }

  .dpr-report-template__sections {
  }

  .dpr-report-template__pagination {
  }
}
