{% from "../../../../../../truncate/view.njk" import dprTruncate %}

{% macro dprReportsCatalogueVariantRowDescription(description) %}
  <div class="dpr-reports-catalogue__description">
    <span class="govuk-visually-hidden">Description</span>
    {{ dprTruncate(description) }}
  </div>
{% endmacro %}
