{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dprMyReportListItemTitle(titleConfig, tableId) %}
  
  {% set productName = titleConfig.productName %}
  {% set reportName = titleConfig.reportName %}
  {% set reportType = titleConfig.reportType %}
  {% set timestamp = titleConfig.timestamp %}

  <div class="dpr-my-reports__item-title">
    <h1 
      id="row_{{ productName | dpr.spacesToDash }}_{{ reportName | dpr.spacesToDash }}_{{ tableId }}"
      class='dpr-my-reports__item-title--report-name govuk-heading-m'>
      {{ reportName }}
    </h1>
    
    <h2 class='dpr-my-reports__item-title--product-name govuk-body govuk-heading-s'>{{ productName }}</h2>

    <div class="dpr-my-reports__item-title--report-type">
      {{ govukTag({
        text: reportType
      }) }}
    </div>

    <p class='dpr-my-reports__item-title--ts govuk-body-s'>{{ timestamp }}</p>
  </div>

{% endmacro %}
