.dpr-tag {
  font-size: 11px;
  margin-bottom: 0;
  padding: 2px 10px; 
  background-color: govuk-colour("light-grey");
  display: inline-block;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 800;
  color: govuk-colour("dark-grey");
  letter-spacing: 0.7px;

  &.dpr-tag--l {
    font-size: 16px;
  }

  &.dpr-tag--xl {
    font-size: 20px;
  }

  &.dpr-tag--blue {
    background-color: govuk-colour("light-blue");
    color: white;
  }

  &.dpr-tag--purple {
    background-color:govuk-colour("light-purple");
    color: white;
  }
}

