{% macro dprTag(args) %}

  {% if args.size === 'l' %}
    {% set sizeClass = 'dpr-tag--l' %}
  {% elif args.size === 'xl' %}
    {% set sizeClass = 'dpr-tag--xl' %}
  {% else %}
    {% set sizeClass = '' %}
  {% endif %}

  {% if args.colour === 'blue' %}
    {% set colorClass = 'dpr-tag--blue' %}
  {% elif args.colour === 'purple' %}
    {% set sizeClass = 'dpr-tag--purple' %}
  {% else %}
  {% endif %}

  <p class="govuk-body dpr-tag {{ sizeClass }} {{ colorClass }}">
    {{ args.text }}
  </p>
{% endmacro %}
