{% from "../content-slide/view.njk" import dprContentSlide %}
{% from "../content-slide-cards/view.njk" import dprContentSlideCards %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprTableCardGroup(head, cardData, tableData) %}

  {% set icons = [] %}
  {% set items = [] %}

  {% if cardData %}
    {% set cardHtml %}
    {{ dprContentSlideCards(cardData) }}
    {% endset %}

    {% set icons = (icons.push({name: 'card', tooltip: 'Card view', active: true}), icons) %}
    {% set items = (items.push({active: true, html: cardHtml}), items) %}
  {% endif %}

  {% if tableData %}
    {% set tableHtml %}
    {{ govukTable(tableData) }}
    {% endset %}

    {% set icons = (icons.push({name: 'list', tooltip: 'List view'}), icons) %}
    {% set items = (items.push({active: false, html: tableHtml}), items) %}
  {% endif %}

  {% set content = { icons: icons, items: items }%}

  {{ dprContentSlide(head, content) }}

{% endmacro %}
