{% from "../../request-status-tag/view.njk" import dprRequestStatusTag %}
{% from "./in-progress-state/view.njk" import dprPollingInProgressState %}

{% set meta = data.meta %}
{% set paths = data.paths %}
{% set status = data.status %}

<div id="dpr-current-status__content" 
  data-report-id='{{ meta.reportId }}'
  data-id='{{ meta.id }}'
  data-table-id='{{ meta.tableId }}'
  data-execution-id='{{ meta.executionId }}'
  data-path='{{ paths.basePath }}'>

  <p>Status: {{ dprRequestStatusTag(data.status) }}</p>

  {% if status === 'STARTED' or status === 'SUBMITTED' or status === 'PICKED' %}
    {{ dprPollingInProgressState(data) }}
  {% endif %}

  {% if status === 'FAILED' or status === 'ABORTED' or status === 'EXPIRED' %}
    {{ dprPollingFailedState(data) }}
  {% endif %}

  {% if status === 'FINISHED' %}
    {{ dprPollingFinishedState(data) }}
  {% endif %}

</div>
