.dpr-request-details {
  // padding: govuk-spacing(4);
  // border: solid 1px govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(6);

  .dpr-request-details__table-heading_name {
    margin-bottom: 0px;
    font-weight: 800;
  }

  .dpr-request-details__table {
    border-spacing: 0px;
    width: 100%;

    tbody {
      vertical-align: top;
    }

    .dpr-request-details__table-heading {
      width: 14%;
      // text-align: right;
    }

    ul {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-inline-start: 20px;
    }

    td {
      padding: govuk-spacing(1);
    }
  }
}

.dpr-meta-data-details {
  margin-bottom: govuk-spacing(6);

  .govuk-details__text {
    padding-left: 0px;
    border-left: none;
  }
}

