{% macro dprRequestDetails(reportData) %}
  {% set reportName = reportData.reportName %}
  {% set name = reportData.name %}
  {% set description = reportData.description %}
  {% set querySummary = reportData.querySummary %}
  {% set classification = reportData.classification %}
  {% set requestedTimestamp = reportData.requestedTimestamp %}
  {% set metrics = reportData.metrics %}
  {% set lists = reportData.lists %}
  {% set sections = reportData.sections %}

  {% set filtersHtml %}
  {% if querySummary.length > 0 %}
    <ul>
      {% for query in querySummary %}
        <li class="govuk-body govuk-!-margin-bottom-0">{{ query.name | capitaliseSentence }}: {{ query.value }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endset %}

  <div class="dpr-request-details">

    <table class="dpr-request-details__table" id="dpr-request-details-table">
      <tbody>
        {% if name %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Name:</p>
            </td>
            <td>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{ name }}</h1>
            </td>
          </tr>
        {% endif %}
        
        {% if reportName %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Product:</p>
            </td>
            <td>
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0">{{ reportName }}</h1>
            </td>
          </tr>
        {% endif %}

        {% if description %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Description:</p>
            </td>
            <td>
              <p class="govuk-body-m govuk-!-margin-bottom-0">{{ description | safe }}</p>
            </td>
          </tr>
        {% endif %}

        {% if classification %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Classification:</p>
            </td>
            <td>
              <p class="govuk-body-m govuk-!-margin-bottom-0">{{ classification }}</p>
            </td>
          </tr>
        {% endif %}

        {% if requestedTimestamp %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Requested at:</p>
            </td>
            <td>
              <p class="govuk-body-m govuk-!-margin-bottom-0">{{ requestedTimestamp }}</p>
            </td>
          </tr>
        {% endif %}

        {% if querySummary.length > 0 %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Applied Filters:</p>
            </td>
            <td>
              {{ filtersHtml | safe }}
            </td>
          </tr>
        {% endif %}

        {% if metrics.length %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">No of sections:</p>
            </td>
            <td>
              {{ metrics.length }}
            </td>
          </tr>

          {% if metrics[0].name %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Sections: </p>
            </td>
            <td>
              <ul class="govuk-list govuk-list--bullet">
                {% for metric in metrics %}
                  <li>
                    {{ metric.name }}
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}

        {% endif %}

        {% if sections.length %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">No of sections:</p>
            </td>
            <td>
              {{ sections.length }}
            </td>
          </tr>
          
          {% if sections[0].display %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Sections: </p>
            </td>
            <td>
              <ul class="govuk-list govuk-list--bullet">
                {% for section in sections %}
                  <li>
                    {{ section.display }}
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}

        {% endif %}
      </tbody>
    </table>
  </div>
{% endmacro %}
