{% macro dprAsyncRequestDetails(reportData) %}
  {% set reportName = reportData.reportName %}
  {% set name = reportData.name %}
  {% set description = reportData.description %}
  {% set htmlContent = reportData.htmlContent %}
  {% set querySummary = reportData.querySummary %}
  {% set classification = reportData.classification %}
  {% set requestedTimestamp = reportData.requestedTimestamp %}
  {% set metrics = reportData.metrics %}

  {% set filtersHtml %}
  {% if querySummary %}
    <ul>
      {% for query in querySummary %}
        <li class="govuk-body govuk-!-margin-bottom-1">{{ query.name }}: {{ query.value }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endset %}

  <div class="dpr-request-details">

    <table class="dpr-request-details__table">
      <tbody>
        {% if name %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Name:</p>
            </td>
            <td>
              <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{ name }}</h1>
            </td>
          </tr>
        {% endif %}
        
        {% if reportName %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Product:</p>
            </td>
            <td>
              <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{ reportName }}</h1>
            </td>
          </tr>
        {% endif %}

        {% if description %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Description:</p>
            </td>
            <td>
              <p class="govuk-body-m govuk-!-margin-bottom-1">{{ description | safe }}</p>
            </td>
          </tr>
        {% endif %}

        {% if classification %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Classification:</p>
            </td>
            <td>
              <p class="govuk-body-m">{{ classification }}</p>
            </td>
          </tr>
        {% endif %}

        {% if requestedTimestamp %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Requested at:</p>
            </td>
            <td>
              <p class="govuk-body-m govuk-!-margin-bottom-2">{{ requestedTimestamp }}</p>
            </td>
          </tr>
        {% endif %}

        {% if querySummary %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">Applied Filters:</p>
            </td>
            <td>
              {{ filtersHtml | safe }}
            </td>
          </tr>
        {% endif %}

        {% if metrics %}
          <tr>
            <td class="dpr-request-details__table-heading">
              <p class="govuk-body-m dpr-request-details__table-heading_name">No of metrics:</p>
            </td>
            <td>
              {{ metrics.length }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
{% endmacro %}
