{% from "moj/components/header/macro.njk" import mojHeader %}

{% block govukHeader %}
  {{
    mojHeader({
      organisationLabel: {
        text: 'Ministry of Justice',
        href: '/'
      },
      serviceLabel: {
        text: 'Digital Prison Reporting Component Library',
        href: '/'
      },
      containerClasses: "govuk-width-container"
    })
  }}
{% endblock %}
