<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container app-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <img src="{{ '/assets/images/moj-logotype-crest.png' }}" class="moj-header__logotype-crest-fallback-image" width="40" height="40"  alt="MoJ Crest"/>
          <span class="govuk-header__logotype-text">
            Ministry of Justice
          </span>
        </span>
        <span class="govuk-header__product-name">
          Digital Prison Reporting Component Library
        </span>
      </a>
    </div>
  </div>
</header>
