{% from "../chart-tabs/view.njk" import dprChartTabs %}
{% from "../chart-details/view.njk" import dprChartDetails %}

{% macro dprChartCard(id, data) %}
  {% set details = data.details %}

  <div class="dpr-chart-card">
    <div class="chart-tabs-container">
      {{ dprChartTabs(id, data) }}
      {{ dprChartDetails(id, details )}}
    </div>
  </div>
{% endmacro %}
