{% from "./chart-card-sidebar/view.njk" import dprChartCardSidebar %}
{% from "./chart-card-no-sidebar/view.njk" import dprChartCardNoSidebar %}

{% macro dprChartCard(chart) %}
  {% if chart.data.chart[0].timeseries %}
    {{ dprChartCardNoSidebar(chart) }}
  {% else %}
    {{ dprChartCardSidebar(chart) }}
  {% endif %}
{% endmacro %}
