---
layout: layouts/example.njk
title: Card group (example)
arguments: card-group
---

{%- from "dpr/components/card-group/view.njk" import dprCardGroup -%}

<h2 class="govuk-heading-m">Variant 1</h2>

{{ dprCardGroup([
    {
        text: 'First card',
        href: '#one',
        description: 'The first card in the card group.'
    },
    {
        text: 'Second card',
        href: '#two',
        description: 'The second card in the card group.'
    },
    {
        text: 'Third card',
        href: '#three',
        description: 'The third card in the card group.'
    }
]) }}

<h2 class="govuk-heading-m">Variant 2</h2>

{{ dprCardGroup([
    {
        text: 'First card Variant 2',
        href: '#one',
        description: 'The first card in the card group.'
    },
    {
        text: 'Second card Variant 2',
        href: '#two',
        description: 'The second card in the card group.'
    },
    {
        text: 'Third card Variant 2',
        href: '#three',
        description: 'The third card in the card group.'
    }
], 2) }}