.dashboard-wrapper {
  .dpr-interactive-filters-section {
    padding: govuk-spacing(3);
    padding-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: govuk-colour("light-grey");

      .dpr-interactive-filters {
        .filter-form-container {
          padding-bottom: govuk-spacing(0);  

          .filter-container {
            .dpr-filter-item {
              padding: govuk-spacing(0);
            }
          }
          .filter-actions {
            margin-bottom: govuk-spacing(0);
            margin-left: govuk-spacing(0);
            height: 40px;
          }
        }
      }

    .govuk-button-group {
      margin: 0px;
    }

    .govuk-details {
      margin-bottom: 0px;

      .govuk-details__summary {
        margin-bottom: govuk-spacing(4);
      }

      .govuk-details__text {
        padding-left: 0px;
        border-left: none;
      }
    }
  }
}
