{% from "../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprDashboardFilters(filterData, validationErrors, appliedFilters, csrfToken) %}
    {% set templateArgs = {
      prefix: prefix,
      reportType: 'dashboard',
      csrfToken: csrfToken,
      validationErrors: validationErrors,
      appliedFilters: appliedFilters
    }%}

    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, templateArgs) }}
    {% endif %}
{% endmacro %}
