---
layout: layouts/example.njk
title: Filters (example)
arguments: filters
---

{%- from "dpr/components/filters/view.njk" import dprFilters -%}

{{ dprFilters(
    [
        {
            text: "Radio filter",
            name: "radio",
            type: "Radio",
            options: [
                { value: "one", text: "One" },
                { value: "two", text: "Two" }
            ],
            value: 'two'
        },
        {
            text: "Select filter",
            name: "select",
            type: "Select",
            options: [
                { value: "one", text: "One", selected: true },
                { value: "two", text: "Two" }
            ]
        },
        {
            text: "Date filter",
            name: "date",
            type: "DateRange"
        },
        {
            text: "Autocomplete",
            name: "autocomplete",
            name: "autocomplete",
            type: "Autocomplete",
            options: [
                { text: "One" },
                { text: "Two" },
                { text: "Three" },
                { text: "Four" }
            ],
            minimumLength: 1
        }
    ],
    '.',
    'example.'
) }}
