{% from "../catalogue-list/view.njk" import dprCatalogueList %}
{% from "../catalogue-filters/view.njk" import dprCatalogueFilters %}
{% from "../catalogue-how-to-use/view.njk" import dprCatalogueHowToUse %}

{% macro dprCatalogue(config) %}
  {% set id = config.id %}
  {% set filters = config.filters %}
  {% set list = config.list %}
  {% set features = config.features %}

  <div id="reports-catalogue" class="dpr-reports-wrapper" aria-labelledby="dpr-reports-catalogue-heading">
    <h2 id="dpr-reports-catalogue-heading" class="govuk-heading-l govuk-!-margin-bottom-4">Reports catalogue</h2>
    {{ dprCatalogueHowToUse(features) }}
    {{ dprCatalogueFilters(id, filters) }}
    {{ dprCatalogueList(id, list) }}
  <div>
{% endmacro %}
