{% from "../catalogue-list/view.njk" import dprCatalogueList %}
{% from "../catalogue-filters/view.njk" import dprCatalogueFilters %}
{% from "../catalogue-how-to-use/view.njk" import dprCatalogueHowToUse %}

{% macro dprCatalogue(args) %}
  {% set data = args.data %}
  {% set features = args.features %}

  {% set head = data.head %}
  {% set rows = data.rows %}
  {% set id = data.id %}

  <div id="reports-catalogue" class="dpr-reports-wrapper">
    {% if features.howToUseEnabled %}
      {{ dprCatalogueHowToUse(features) }}
    {% endif %}

    {{ dprCatalogueFilters(id, features) }}
    {{ dprCatalogueList(head, rows, features, id) }}
  <div>
{% endmacro %}
