
{% from "../report-pagination/view.njk" import dprReportPagination %}
{% from "../report/view.njk" import dprReport %}
{% from "../report-summary-table/view.njk" import dprReportSummary %}
{% from "../report-no-data-message/view.njk" import dprReportNoDataMessage %}

{% macro dprReportTemplate(renderData, url) %}
  
  {% set printable = renderData.printable %}
  {% set pagination = renderData.pagination %}
  {% set template = renderData.template %}
  {% set reportSummaries = renderData.reportSummaries %}
  {% set count = renderData.count %}

    <div class="report-template-container  {% if (printable == false) %}print-hide{% endif %}">
      {% if template === 'list-tab' or template === 'crosstab' %}

        {# Add template view here #}

      {% elif template === 'list-section' or template === 'summary-section' %}

        {{ dprReport(renderData, count) }}

      {% elif template === 'summary' %}

        {% if not count or count === 0 %}
          {{ dprReportNoDataMessage(url) }}
        {% else %}

          {{ dprReportSummary(reportSummaries, 'page-header') }}
          {{ dprReportSummary(reportSummaries, 'page-footer') }}

        {% endif %}

      {% else %}

        {{ dprReport(renderData, count) }}

        {% if count and count > 0 %}
          {{ dprReportPagination(pagination) }}
        {% endif %}

      {% endif %}
    </div>

{% endmacro %}
