---
layout: layouts/example.njk
title: Chart Tabs (example)
arguments: chart-card
---

{%- from "dpr/components/chart-tabs/view.njk" import dprChartTabs -%}

{{ dprChartTabs(
  'the-id', 
  ['bar', 'doughnut'], 
  {
    chart: {
      labels: ['Drugs', 'Phones', 'Weapons', 'Alcohol'],
      datasets: [
        {
          label: 'No. of finds',
          data: [12, 19, 3, 5],
          total: 39
        }
      ]
    },
    table: {
      head: [{ text: 'Colours' }, { text: 'No. of finds' }],
      rows: [
        [{ text: 'Drugs' }, { text: '12' }],
        [{ text: 'Phones' }, { text: '19' }],
        [{ text: 'Weapons' }, { text: '3' }],
        [{ text: 'Alcohol' }, { text: '5' }]
      ]
    }
  }
) }}
