.dpr-request-status-tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: govuk-spacing(1);
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  font-size: 14px;
  // float: right;
}
