{% from './removed-reports/view.njk' import dprMyReportsListNotificationRemoved %}
{% from "../../subscription/subscription-flash/view.njk" import dprSubscriptionFlash %}

{% macro dprMyReportsListNotification(messages) %}
  {% set removedReports = messages.removedReports %}
  {% set subscriptionMessages = messages.subscriptionMessages %}

  <div class="dpr-my-reports-notification">

    {% if removedReports %}
      {{ dprMyReportsListNotificationRemoved(removedReports) }}
    {% endif %}

    {% if subscriptionMessages %}
      {{ dprSubscriptionFlash(subscriptionMessages) }}
    {% endif %}
  </div>

{% endmacro %}
