{% from './removed-reports/view.njk' import dprMyReportsListNotificationRemoved %}
{% from './subscriptions-refreshed/view.njk' import dprMyReportsSubscriptionsRefreshed %}
{% from "../../subscription/subscription-flash/view.njk" import dprSubscriptionFlash %}

{% macro dprMyReportsListNotification(messages) %}
  {% set removedReports = messages.removedReports %}
  {% set subscriptionMessages = messages.subscriptionMessages %}

  <div class="dpr-my-reports-notification">

    {% if removedReports %}
      {{ dprMyReportsListNotificationRemoved(removedReports) }}
    {% endif %}

    {% if subscriptionMessages %}
      {{ dprSubscriptionFlash(subscriptionMessages) }}

      {% if subscriptionMessages.refreshedSubscriptionsMessage.message %}
        {{ dprMyReportsSubscriptionsRefreshed( subscriptionMessages.refreshedSubscriptionsMessage) }}
      {% endif %}
    {% endif %}

  </div>

{% endmacro %}
