{% from "dpr/components/filter-input/view.njk" import dprFilterInput %}
{% from "dpr/components/filters-form/view.njk" import dprInlineFiltersForm %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro dprSyncFilters(filters, prefix = 'filters.') %}
  <div data-dpr-module="sync-filters" class="dpr-filters sync-filters-form--hidden">
    {{ dprInlineFiltersForm(filters, prefix) }}
  </div>
{% endmacro %}
