{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../request-status-tag/view.njk" import dprRequestStatusTag %}
{% from "../async-request-details/view.njk" import dprAsyncRequestDetails %}

{% macro dprAsyncPolling(data) %}
  {% set description = data.description %}
  {% set status = data.status %}
  {% set variantName = data.variantName %}
  {% set reportName = data.reportName %}
  {% set querySummary = data.querySummary %}
  {% set reportId = data.reportId %}
  {% set variantId = data.variantId %}
  {% set tableId = data.tableId %}
  {% set reportUrl = data.reportUrl %}
  {% set requestUrl = data.requestUrl %}
  {% set errorMessage = data.errorMessage %}
  {% set executionId = data.executionId %}
  {% set csrfToken = data.csrfToken %}
  {% set requestedAt = data.requestedAt %}
  {% set descriptionClasses = 'govuk-!-margin-top-4 govuk-!-margin-bottom-6'%}

  {% set meta = { 
    reportId: reportId, 
    variantId: variantId, 
    executionId: executionId, 
    status: status,
    requestedAt: requestedAt
  }%}

  <div id="async-request-polling-status" 
    data-current-status='{{ status }}'
    data-request-data='{{ meta | dump | safe }}'
    data-csrf-token="{{ csrfToken }}"
    data-dpr-module="async-polling-content">

    {% set filtersHtml %}
    {% if querySummary %}
      <ul>
        {% for query in querySummary %}
          <li class="govuk-body govuk-!-margin-bottom-1">{{ query.name }}: {{ query.value }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endset %}

    <p>Status: {{ dprRequestStatusTag(status) }}</p>

    {% if status === 'STARTED' or status === 'SUBMITTED' or status === 'PICKED' %}

      <p class="{{ descriptionClasses }}">We are generating your report.</p>

      {{ dprAsyncRequestDetails(data)}}

      {{ govukInsetText({
        html: "<p>It can take up to 10 mins to generate a report.</p> <p>You can close and revisit this page at anytime, Navigate to the homepage to check on its status or your report</p>"
      }) }}

      {{ govukButton({
        id: "cancel-async-request",
        text: "Cancel Request",  
        classes: "govuk-button--warning govuk-!-margin-bottom-0",
        attributes: {
          'data-execution-id': executionId,
          'data-report-id': reportId,
          'data-variant-id': variantId,
          'data-csrf-token': csrfToken
        }
      }) }}

    {% endif %}

    {% if status === 'FAILED' %}

      {{ govukErrorSummary({
        titleText: "Your report has failed to generate. The issue has been reported to admin staff",
        classes: "govuk-!-margin-top-6",
        errorList: [
          {
            text: errorMessage
          }
        ]
      }) }}

      {{ dprAsyncRequestDetails(data)}}

      {{ govukButton({
        id: "retry-async-request",
        text: "Retry",  
        classes: "govuk-button govuk-!-margin-top-5",
        href: requestUrl
      }) }}

    {% endif %}

    {% if status === 'ABORTED' %}

      <p class="{{ descriptionClasses }}">Your request has been cancelled</p>

      {{ dprAsyncRequestDetails(data)}}

      {{ govukButton({
        id: "retry-async-request",
        text: "Return to filters",  
        classes: "govuk-button govuk-!-margin-top-5",
        href: requestUrl
      }) }}

    {% endif %}

    {% if status === 'FINISHED' %}

      <p class="{{ descriptionClasses }}">Your report has been generated</p>

      {{ dprAsyncRequestDetails(data)}}

      {{ govukButton({
        text: "View report",
        classes: "govuk-button--primary",
        href: reportUrl
      }) }}

    {% endif %}

  </div>
{% endmacro %}
