.dpr-columns-section-wrapper {
  position: relative;

  @media print {
    display: none;
  }

  .columns-section-button {
    min-width: 130px;
    padding-right: govuk-spacing(3);
    margin-bottom: govuk-spacing(2);

    .govuk-button-group {
      margin-bottom: 0px;
    }
  }

  .columns-section-header {
    position: absolute;
    width: calc(100% - 120px);
    left: 120px;
    top: 1px;

    @media(max-width: 640px) {
      top: -1px;
    }
  }
}
