{% extends "govuk/template.njk" %}
{% from "components/card-group/view.njk" import dprCardGroup %}

{% block head %}
  <link href="/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block pageTitle %}Test App{% endblock %}

{% block bodyEnd %}    
  <script type="module" src="/assets/js/app.js"></script>
{% endblock %}
