---
layout: layouts/example.njk
title: User Reports List (example)
---
{%- from "dpr/components/user-reports/view.njk" import dprUserReports -%}

{% set requestedReports = {
  head: {
    href: "./async-reports/requested"
  },
  tableData: {
    rows: [
      [
        {
          html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-1'>Report name</p>\n <p class='govuk-body govuk-!-margin-bottom-2'><strong>Variant name 1</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small govuk-!-margin-bottom-4''>Report</strong>\n <p class='govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-2 '>Ready at: 24/10/2024</p>\n</div>"
        },
        {
          html: "<div class='dpr-show-more' data-content='this is the description for variant 1' data-dpr-module='show-more' data-length='175'>\n <div class='dpr-show-more-content'>this is the description for variant 1</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>"
        },
        {
          html: "<ul class='dpr-card-group__item__filters-list govuk-!-margin-top-0 govuk-!-margin-bottom-0'><li class='govuk-body-s'>Field 1: value1.3</li><li class='govuk-body-s'>Field 2: value2.3</li><li class='govuk-body-s'>Sort Column: Field 1</li><li class='govuk-body-s'>Sort Direction: Ascending</li></ul>"
        },
        {
          html: "<strong class='govuk-tag dpr-request-status-tag govuk-tag--green'>FINISHED</strong>",
          classes: "dpr-req-cell dpr-req-cell__status"
        },
        {
          html: "<a class='govuk-link govuk-link--no-visited-state' href='#'>Go to report</a>",
          classes: "dpr-req-cell dpr-req-cell__status"
        }
      ],
      [
        {
          html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-1'>Report name</p>\n <p class='govuk-body govuk-!-margin-bottom-2'><strong>Variant name 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small govuk-!-margin-bottom-4''>Report</strong>\n <p class='govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-2 '>Expired at: 24/10/2024</p>\n</div>"
        },
        {
          html: "<div class='dpr-show-more' data-content='this is the description for variant 2' data-dpr-module='show-more' data-length='175'>\n <div class='dpr-show-more-content'>this is the description for variant 2</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>"
        },
        {
          html: "<ul class='dpr-card-group__item__filters-list govuk-!-margin-top-0 govuk-!-margin-bottom-0'><li class='govuk-body-s'>Field 1: value1.3</li><li class='govuk-body-s'>Field 2: value2.1</li><li class='govuk-body-s'>Sort Column: Field 1</li><li class='govuk-body-s'>Sort Direction: Ascending</li></ul>"
        },
        {
          html: "<strong class='govuk-tag dpr-request-status-tag govuk-tag--grey'>EXPIRED</strong>",
          classes: "dpr-req-cell dpr-req-cell__status"
        },
        {
          html: "<div class='dpr-icon-wrapper__item-actions'>\n <a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href=''>Refresh</a>\n <a class='dpr-user-list-action govuk-link--no-visited-state dpr-remove-requested-report-button' href='#' data-execution-id='exId_1729765871851'>Remove</a>\n </div>",
          classes: "dpr-req-cell dpr-req-cell__status"
        }
      ],
      [
        {
          html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-1'>Report name</p>\n <p class='govuk-body govuk-!-margin-bottom-2'><strong>Variant name 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small govuk-!-margin-bottom-4''>Report</strong>\n <p class='govuk-body-xs govuk-!-margin-bottom-0 govuk-!-margin-top-2 '>Failed at: 24/10/2024</p>\n</div>"
        },
        {
          html: "<div class='dpr-show-more' data-content='this is the description for variant 3' data-dpr-module='show-more' data-length='175'>\n <div class='dpr-show-more-content'>this is the description for variant 3</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>"
        },
        {
          html: "<ul class='dpr-card-group__item__filters-list govuk-!-margin-top-0 govuk-!-margin-bottom-0'><li class='govuk-body-s'>Field 4: Inigo Montoya</li><li class='govuk-body-s'>Sort Column: Field 1</li><li class='govuk-body-s'>Sort Direction: Ascending</li></ul>"
        },
        {
          html: "<strong class='govuk-tag dpr-request-status-tag govuk-tag--red'>FAILED</strong>",
          classes: "dpr-req-cell dpr-req-cell__status"
        },
        {
          html: "<div class='dpr-icon-wrapper__item-actions'>\n <a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='#'>Retry</a>\n <a class='dpr-user-list-action govuk-link--no-visited-state dpr-remove-requested-report-button' href='#' data-execution-id='exId_1729765694790'>Remove</a>\n </div>",
          classes: "dpr-req-cell dpr-req-cell__status"
        }
      ]
    ],
    head: [
      {
        text: "Product",
        classes: "dpr-req-product-head"
      },
      {
        text: "Description",
        classes: "dpr-req-description-head"
      },
      {
        text: "Filters",
        classes: "dpr-req-filters-head"
      },
      {
        text: "Status",
        classes: "dpr-req-status-head"
      },
      {
        text: "Actions",
        classes: "dpr-req-actions-head"
      }
    ]
  },
  total: {
    amount: 3,
    shown: 3,
    max: 20
  },
  meta: [
    {
      reportId: "test-report-3",
      id: "variantId-1",
      executionId: "exId_1729765628165",
      tableId: "tblId_1729765628165",
      status: "FINISHED",
      type: "report",
      dataProductDefinitionsPath: ""
    },
    {
      reportId: "test-report-3",
      id: "variantId-4",
      executionId: "exId_1729765871851",
      tableId: "tblId_1729765871851",
      status: "EXPIRED",
      type: "report",
      dataProductDefinitionsPath: ""
    },
    {
      reportId: "test-report-3",
      id: "variantId-2",
      executionId: "exId_1729765694790",
      tableId: "tblId_1729765694790",
      status: "FAILED",
      type: "report",
      dataProductDefinitionsPath: ""
    }
  ],
  csrfToken: "csrfToken",
  maxRows: 20
}
%}

{{ dprUserReports({
  requestedReports: requestedReports
})}}
