{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dprMyReportListItemDescription(description) %}
  <div class="dpr-my-reports__item-description">
    <p>{{ description }}</p>
  </div>
{% endmacro %}
