{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% macro dprMyReportListItemDescription(description) %}
  <div class="dpr-my-reports__item-description">
    <p class="govuk-body">{{ description }}</p>
  </div>
{% endmacro %}
