.dpr-search-table {
  .dpr-product-head, .dpr-name-head {
    min-width: 200px;
  }
  td.govuk-table__cell {
    font-size: 16px;
    padding: 20px 20px 20px 0
  }

  .govuk-table__cell:last-child {
    padding-right: 0px !important;
    text-align: right;
  }
}
