{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{{ mojSideNavigation({
  classes: 'govuk-!-padding-top-0',
  sections: [
    {
      heading: {
        text: "Example Reports"
      },
      items: [ 
        {
          text: 'List',
          href: '/templates/list-template',
          active: page.filePathStem.indexOf('/templates/list-template') === 0
        },
        {
          text: 'List-section',
          href: '/templates/list-section',
          active: page.filePathStem.indexOf('/templates/list-section') === 0
        },
        {
          text: 'Parent-child',
          href: '/templates/parent-child-template',
          active: page.filePathStem.indexOf('/templates/parent-child-template') === 0
        },
        {
          text: 'Parent-child-section',
          href: '/templates/parent-child-section',
          active: page.filePathStem.indexOf('/templates/parent-child-section') === 0
        }
      ]
    }
  ]
}) }}
