{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{{ mojSideNavigation({
  classes: 'govuk-!-padding-top-6',
  sections: [
    {
      heading: {
        text: "How to guides"
      },
      items: [
        {
          text: 'Integrating the library',
          href: ('/integration-guides/integrating-the-library')
        },
        {
          text: 'Integrating the platform',
          href: ('/integration-guides/integrating-the-platform')
        },
        {
          html: '<strong>Integrating the FE</strong>',
          href: ('/integration-guides/integrating-the-fe')
        },
        {
          html: '<div class="dpr-docs-sub-nav"><span class="dpr-docs-sub-nav__bullet">▪︎</span>Report Catalogue component</div>',
          href: ('/integration-guides/integrating-the-fe#report-catalogue-component')
        },
        {
          html: '<div class="dpr-docs-sub-nav"><span class="dpr-docs-sub-nav__bullet">▪︎</span>User reports list component</div>',
          href: ('/integration-guides/integrating-the-feuser-reports-list-component')
        },
        {
          html: '<div class="dpr-docs-sub-nav"><span class="dpr-docs-sub-nav__bullet">▪︎</span>Implement request route directly</div>',
          href: ('/integration-guides/integrating-the-fe#implement-request-route-directly')
        }
      ]
    }
  ]
}) }}
