
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../date-input/view.njk" import dprDate %}

{% macro dprGranularDateRange() %}
  <div class="dpr-granular-date-range" data-dpr-module="dpr-granular-date-range">

  </div>
{% endmacro %}
