.dpr-date, .dpr-date-range {
  .govuk-form-group {
    margin-bottom: 0;
  }

  .daterange-set-to-minmax {
    display: block;
    cursor: pointer;
    text-align: right;
    margin-bottom: govuk-spacing(0);
    margin-top: govuk-spacing(1);

    &:hover {
      color: govuk-colour("light-blue")
    }
  }
}
