.dpr-date, .dpr-date-range {
  .govuk-form-group {
    margin-bottom: 0;
  }

  .daterange-set-to-minmax {
    display: block;
    cursor: pointer;
    text-align: left;
    margin-bottom: govuk-spacing(0);
    margin-top: govuk-spacing(1);
    color: govuk-colour("blue");

    &:hover {
      color: govuk-colour("dark-blue")
    }
  }
}
