{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../date-input/view.njk" import dprDate %}

{% macro dprDateRange(data, parameterPrefix = "filters.", mandatory = false) %}
  {% set min = data.min %}
  {% set max = data.max %}
  {% set startId = parameterPrefix + data.name + '.start' %}
  {% set endId = parameterPrefix + data.name + '.end' %}

  <div class="dpr-date-range">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-label govuk-!-font-weight-bold">
        {{ data.text }}
      </legend>

      {# START #}
      {{ dprDate(
        {
          name: data.name,
          value: data.value.start,
          min: min,
          max: max,
          mandatory: mandatory
        },
        'Start',
        '.start',
        true,
        false
      )}}

      {# END #}
      {{ dprDate(
        {
          name: data.name,
          value: data.value.end,
          min: min,
          max: max,
          mandatory: mandatory
        },
        'End',
        '.end',
        false
      )}}
    </fieldset>
  </div>
{% endmacro %}
