.report-actions {
  text-align: right;
  position: relative;
  z-index: 100;
  margin-bottom: govuk-spacing(2);
  
  .moj-button-menu {
    display: block;
  }

  @media(max-width: 1019px) {
    width: 100%;
  }
}

@media print {
  .report-actions {
    display: none;
  }
}
