{% from "../chart/view.njk" import dprChart %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprChartTabs(id, data) %}
  {% set chartData = data.chart %}
  {% set tableData = data.table %}

  {% set tabItems = [] %}
  {% for chart in chartData %}

    {% set type = chart.type %}
    {% set data = chart.data %}
    {% set unit = chart.unit %}
    {% set timeseries = chart.timeseries %}

    {% set chartHtml %}
      {{ dprChart(id, type, data, unit, timeseries) }}
    {% endset -%}
    
    {% set tabContent = {
      label: type | capitalize,
      id: id + "_" + type + "_tab",
      panel: {
        html: chartHtml
      }
    } %}

    {% set tabItems = (tabItems.push(tabContent), tabItems) %}
  {% endfor -%}
  {% set chartsLength = tabItems | length %}
  {{ hasCharts }}

  {% if tableData %}
  {% set tableHtml %}
  <div class="{% if chartsLength > 0 %}dpr-chart-tab-table{% endif %}">
    {{ govukTable(tableData)}}
  </div>
  {% endset %}

  {% set tabItems = (tabItems.push({
      label: "Table",
      id: id + "_table_tab",
      panel: {
        html: tableHtml
      }
    }), tabItems) %}
  {% endif %}
  
  {% if chartsLength === 0 %} 
    {{ tableHtml | safe }}
  {% else %}
    {{ govukTabs({ items: tabItems, classes: 'dpr-chart-tabs' }) }}
  {% endif %}
{% endmacro %}
