{% from "../data-table/view.njk" import dprDataTable %}
{% from "../async-applied-filters/view.njk" import dprAsyncAppliedFiltersList %}
{% from "../column-section/view.njk" import dprColumnSection %}
{% from "../filters-section/view.njk" import dprFiltersSection %}
{% from "../summary-table/view.njk" import dprReportSummary %}
{% from "../report-totals/view.njk" import dprReportTotals %}
{% from "../sync-filters/view.njk" import dprSyncFilters %}

{% macro dprSyncReportList(options) %}
  {% set columns = options.columns %}
  {% set reportSummaries = options.reportSummaries %}

  <div class="dpr-sync-report-actions">
    {% if options.filters %}
      {{ dprFiltersSection(options.filters, options.selectedFilters) }}
    {% endif %}
    {{ dprColumnSection(columns) }}
  </div>

  {{ dprReportSummary(reportSummaries, 'page-header') }}
  
  {{ dprReportTotals(options.totals) }}

  <div class='dpr-table-container'>
    {{ dprDataTable(options) }}
  </div>
  
  <div class='govuk-!-margin-bottom-6'>
    {{ dprReportTotals(options.totals) }}
  </div>
  
  {{ dprReportSummary(reportSummaries, 'page-footer') }}

{% endmacro %}
