{% macro dprReportsCatalogueProductRowNavigation( previousProduct, nextProduct) %}
  <div class="dpr-report-catalogue__product-navigation" data-dpr-module="dpr-report-catalogue-navigation">
    <a
      data-previous-product
      class="govuk-link govuk-link--no-visited-state govuk-body-s"
      hidden
    >
      Previous product
    </a>

    <a
      data-next-product
      class="govuk-link govuk-link--no-visited-state govuk-body-s govuk-!-margin-left-2"
      hidden
    >
      Next product
    </a>
  </div>
{% endmacro %}
