{% from "../report-actions/view.njk" import dprReportActions %}
{% from "../report-download-message/view.njk" import dprDownloadMessage %}
{% from "../report-columns/view.njk" import dprReportColumns %}
{% from "../report-filters/view.njk" import dprReportFilters %}

{% from "../../bookmark-toggle/view.njk" import dprBookmarkToggle %}
{% from "../../_async/request-details/view.njk" import dprRequestDetails %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprReportHeading(reportData) %}
  {% set name = reportData.name %}
  {% set reportName = reportData.reportName %}
  {% set reportId = reportData.reportId %}
  {% set type = reportData.type %}
  {% set actions = reportData.actions %}
  {% set detailsOpen = reportData.detailsOpen %}
  {% set bookmarked = reportData.bookmarked %}
  {% set columns = reportData.columns %}
  {% set defaultQuery = reportData.defaultQuery %}
  {% set filterData = reportData.filterData %}
  {% set count = reportData.count %}
  {% set nestedBaseUrl = reportData.nestedBaseUrl %}

  <div class="dpr-report-header">
    {% if actions or bookmarked is defined %}
    <div class="dpr-report-heading__actions">
      {% if actions %}
        {{ dprReportActions(actions) }}
      {% endif %}

      {% if bookmarked is defined %}
        {% set id = reportData.id %}
        {% set csrfToken = reportData.csrfToken %}
        {% set actions = reportData.actions %}
        
        {{ dprBookmarkToggle(reportId, id, csrfToken, bookmarked, 'report', type, nestedBaseUrl) }}
      {% endif %}
    </div>
    {% endif %}
    <div class="dpr-report-heading">
      <div class="dpr-report-heading__title">
        <span class="govuk-caption-l" aria-label="Product name">{{ reportName }}</span>
        <h1 id="dpr-report-name" class="govuk-heading-l" aria-label="Report name">
          {{ name }}
        </h1>
      </div>
    </div>
    
    {% if reportData.canDownload is defined %}
      {{ dprDownloadMessage(reportData) }}
    {% endif %}

    {% if type === 'report' or type is not defined %}

      {% set reportDetailsHtml %}
        {{ dprRequestDetails(reportData)}}
      {% endset %}

      {{ govukDetails({
        summaryText: 'Report details',
        html: reportDetailsHtml,
        classes: 'dpr-meta-data-details',
        open: detailsOpen
      }) }}

    {% endif %}

    {% if type === 'dashboard' %}

      <p class="govuk-body govuk-!-margin-top-2" >{{ reportData.description }}</p>

    {% endif %}


    <div class="dpr-report-details-print">
      {{ dprRequestDetails(reportData)}}
    </div>

    <div class="dpr-report-interactive-actions">
      {% if count and count > 0 %}
        {{ dprReportColumns(columns) }}
      {% endif %}

      {{ dprReportFilters(filterData, defaultQuery) }}
    </div>
  </div>
{% endmacro %}
