{% from "../report-actions/view.njk" import dprReportActions %}
{% from "../report-download-message/view.njk" import dprDownloadMessage %}

{% from "../../bookmark-toggle/view.njk" import dprBookmarkToggle %}
{% from "../../_async/request-details/view.njk" import dprRequestDetails %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprReportHeading(reportData) %}
  {% set name = reportData.name %}
  {% set reportName = reportData.reportName %}
  {% set reportId = reportData.reportId %}
  {% set type = reportData.type %}
  {% set actions = reportData.actions %}
  {% set detailsOpen = reportData.detailsOpen %}

  <div class="dpr-report-header">
    <div class="dpr-report-heading">
      
      <div class="dpr-report-heading__title">
        <span class="govuk-caption-l">{{ reportName }}</span>
        <h1 class="govuk-heading-l">
          {{ name }}
        </h1>
      </div>
      
      {% if actions or bookmarked is defined %}
      <div class="dpr-report-heading__actions">
        {% if actions %}
          {{ dprReportActions(actions) }}
        {% endif %}

        {% if bookmarked is defined %}
          {% set id = reportData.id %}
          {% set csrfToken = reportData.csrfToken %}
          {% set bookmarked = reportData.bookmarked %}
          {% set actions = reportData.actions %}
          
          {{ dprBookmarkToggle(reportId, id, csrfToken, bookmarked, 'report', type) }}
        {% endif %}
      </div>
       {% endif %}
    </div>
    
    {% if reportData.canDownload is defined %}
      {{ dprDownloadMessage(reportData) }}
    {% endif %}

    {% if type === 'report' or type is not defined %}

      {% set reportDetailsHtml %}
        {{ dprRequestDetails(reportData)}}
      {% endset %}

      {{ govukDetails({
        summaryText: 'Report details',
        html: reportDetailsHtml,
        classes: 'dpr-meta-data-details',
        open: detailsOpen
      }) }}

    {% endif %}

    {% if type === 'dashboard' %}

      <p class="govuk-body govuk-!-margin-top-2" >{{ reportData.description }}</p>

    {% endif %}


    <div class="dpr-report-details-print">
      {{ dprRequestDetails(reportData)}}
    </div>
  </div>
{% endmacro %}
