{% macro dprMyReportsListTotals(totals) %}
  {% set shown = totals.shown %}
  {% set total = totals.total %}
  {% set showAllHref = totals.href %}

  <div class="dpr-my-reports-totals">
    <p class=" govuk-body">Showing <strong>{{ shown }}</strong> of <strong>{{ total }}</strong> reports
      {% if showAllHref %}
        ( <a href="{{ showAllHref }}" class=" govuk-link govuk-link--no-visited-state">show all</a> )
      {% endif %}
    </p>
  </div>
  
{% endmacro %}
