{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{{ mojSideNavigation({
  classes: 'govuk-!-padding-top-0',
  sections: [
    {
      heading: {
        text: "Components"
      },
      items: [
        {
          text: 'Chart card',
          href: '/components/dashboards/chart-card',
          active: page.filePathStem.indexOf('/components/dashboards/chart-card') === 0
        },
        {
          text: 'Chart tabs',
          href: '/components/dashboards/chart-tabs',
          active: page.filePathStem.indexOf('/components/dashboards/chart-tabs') === 0
        },
        {
          text: 'Chart',
          href: '/components/dashboards/chart-container',
          active: page.filePathStem.indexOf('/components/dashboards/chart-container') === 0
        },
        {
          text: 'Scorecard',
          href: '/components/dashboards/scorecard',
          active: page.filePathStem.indexOf('/components/dashboards/scorecard') === 0
        }
      ]
    }
  ]
}) }}
