{%- from "node_modules/@ministryofjustice/frontend/moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{{ mojSideNavigation({
  classes: 'govuk-!-padding-top-6',
  sections: [
    {
      heading: {
        text: "Guides"
      },
      items: [
        {
          text: 'Dashboard definition',
          href: '/dashboards/definitions/dashboard-definition',
          active: page.filePathStem.indexOf('/dashboards/definitions/dashboard-definition') === 0
        },
        {
          text: 'Visualisation definition',
          href: '/dashboards/visualisations/visualisation-definition',
          active: page.filePathStem.indexOf('/dashboards/visualisations/visualisation-definition') === 0
        },
        {
          text: 'Targeting data',
          href: '/dashboards/visualisations/targeting-data',
          active: page.filePathStem.indexOf('/dashboards/visualisations/targeting-data') === 0
        },
        {
          text: 'Data Scoring & Bucketing',
          href: '/dashboards/visualisations/custom-buckets',
          active: page.filePathStem.indexOf('/dashboards/visualisations/custom-buckets') === 0
        },
        {
          text: 'Flexible keys and Grouping',
          href: '/dashboards/visualisations/flexible-keys',
          active: page.filePathStem.indexOf('/dashboards/visualisations/flexible-keys') === 0
        }
      ]
    }
  ]
}) }}
