{% from "../report-columns-form/view.njk" import dprColumnsForm %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprReportColumns(columns, csrfToken) %}
  {% if columns and columns.options.length > 0 %}
  <div class="dpr-columns-section-wrapper">
    <div class="dpr-columns-section-heading">
      <p class="govuk-body"><strong>Columns</strong></p>
    </div>


    {% set columnsHtml %}
      {{ dprColumnsForm(columns, csrfToken) }}
    {% endset %}

    <div class="dpr-interactive-filters-accordion"> 
      {% set columnsTitle = "Show columns (" + columns.value.length + " of " + columns.options.length +" shown)"  %}
      <div class="columns-section-button">
        {{ govukDetails({
          summaryText: columnsTitle,
          html: columnsHtml
        }) }}
      </div>
    </div>
  </div>
  {% endif %}

{% endmacro %}
