---
layout: layouts/example.njk
title: Data table (example)
arguments: data-table
---

{%- from "dpr/components/data-table/view.njk" import dprDataTable -%}

{{ dprDataTable(
    [
        { text: "Name" },
        { text: "Location" },
        { text: "Total", format: "numeric" }
    ],
    [
        [{ text: "Aardvark" }, { text: "London" }, { text: "2", format: "numeric" }],
        [{ text: "Badger" }, { text: "Arctic" }, { text: "0", format: "numeric" }],
        [{ text: "Cat" }, { text: "Chesire" }, { text: "2312", format: "numeric" }]
    ],
    100,
    1,
    10
) }}
