---
layout: layouts/example.njk
title: Data table (example)
arguments: data-table
---

{%- from "dpr/components/data-table/view.njk" import dprDataTable -%}

{{ dprDataTable({
        head: [
            { text: "Name" },
            { text: "Location" },
            { text: "Total", format: "numeric" }
        ],
        rows: [
            [{ text: "Aardvark" }, { text: "London" }, { text: "2", format: "numeric" }],
            [{ text: "Badger" }, { text: "Arctic" }, { text: "0", format: "numeric" }],
            [{ text: "Cat" }, { text: "Cheshire" }, { text: "2312", format: "numeric" }]
        ],
        classification: 'OFFICIAL',
        pagination: {
            totalRows: 100,
            currentPage: 1,
            pageSize: 10
        },
        rowCount: 3,
        colCount: 3
    }) }}
