.dpr-search-table {
  table-layout: fixed;
  width: 100%;

  th:nth-child(1),
  td:nth-child(1) {
    width: 25%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 25%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 35%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 15%;
  }

  th:nth-child(4) {
    text-align: right;
  }

  td.govuk-table__cell {
    font-size: 16px;
    padding: 20px 40px 20px 0;
  }

  .govuk-table__cell:last-child {
    padding-right: 0px !important;
    text-align: right;
  }
}
