{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../catalogue-search/view.njk" import dprCatalogueSearch %}

{% macro dprCatalogueList(head, rows, features, id = 'reports-search') %}

  {% set tableHtml %}
    {{ govukTable({
      captionClasses: "govuk-table__caption--m",
      head: head,
      rows: rows,
      classes: "dpr-search-table"
    }) }}
  {% endset %}

  {{ dprCatalogueSearch(id, tableHtml, features) }}

{% endmacro %}
