{% extends layoutPath %}
{% from "../components/async-report-list/view.njk" import dprAsyncReportList %}
{% from "../components/icon-button-list/view.njk" import dprIconButtonList %}
{% from "../components/bookmark-toggle/view.njk" import dprBookmarkToggle %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {% set template = renderData.template %}
  {% set reportName = renderData.reportName %}
  {% set variantName = renderData.variantName %}
  {% set description = renderData.description %}
  {% set actions = renderData.actions %}
  {% set requestedTimestamp = renderData.requestedTimestamp %}
  {% set reportId = renderData.reportId %}
  {% set variantId = renderData.variantId %}
  {% set csrfToken = renderData.csrfToken %}

  <div class="govuk-width-container">
    <div class="govuk-width-container report-list-container">

      <div class="drp-async-reports-heading-container">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ reportName }} - {{ variantName }}
          {{ dprBookmarkToggle(reportId, variantId, csrfToken) }}</h1>
        <p class="govuk-body-s govuk-!-margin-bottom-2">
          <i>{{ description }}</i>
        </p>
        <p class="govuk-body-s govuk-!-margin-bottom-0">
          <strong>Requested at:</strong>
          {{ requestedTimestamp }}
        </p>

        {{ dprIconButtonList(actions) }}
      </div>

      {% if template === 'list' %}

        {{ dprAsyncReportList(renderData) }}

      {% elif(template === 'listWithSection') %}

        {# TODO: Add template view here #}

      {% else %}

        {{ dprAsyncReportList(renderData) }}

      {% endif %}
    </div>
  </div>
{% endblock %}
