{% extends layoutPath %}

{% from "../components/reports-list/view.njk" import dprReportsList %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-width-container">
    <h1>{{ title }}</h1>
    {{ dprReportsList(tableData.head, tableData.rows, true) }}
  </div>
{% endblock %}
