{% extends layoutPath %}
{% from "../components/_async/async-request/view.njk" import dprAsyncRequest %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {{ dprAsyncRequest({
    title: title,
    filterDescription: filterDescription,
    filters: filtersData.filters, 
    sortBy: filtersData.sortBy, 
    reportData: reportData, 
    endpoint: postEndpoint,
    type: type
  }) }}
{% endblock %}
