{% extends layoutPath %}

{% from "../components/loading-anim/view.njk" import dprLoadingAnim %}
{% from "../components/report-heading/view.njk" import dprReportHeading %}
{% from "../components/report-print-message/view.njk" import dprReportPrintMessage %}
{% from "../components/async-report/view.njk" import dprAsyncReport %}

{% set template = renderData.template %}
{% set pagination = renderData.pagination %}
{% set printable = renderData.printable %}
{% set reportSummaries = renderData.reportSummaries %}
{% set count = renderData.count %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-width-container report-list-container">
      {{ dprLoadingAnim() }}

      {% if (printable == false) %}
        {{ dprReportPrintMessage() }}
      {% endif %}

      <div class="dpr-reports-heading-container govuk-!-margin-top-5">
        {{ dprReportHeading(renderData) }}
      </div>

      {{ dprAsyncReport(renderData) }}

    </div>
  </div>
{% endblock %}
