{% extends layoutPath %}
{% from "../components/async-report-list/view.njk" import dprAsyncReportList %}
{% from "../components/loading-anim/view.njk" import dprLoadingAnim %}
{% from "../components/pagination/view.njk" import dprPagination %}
{% from "../components/report-heading/view.njk" import dprReportHeading %}

{% set template = renderData.template %}
{% set pagination = renderData.pagination %}
{% set printable = renderData.printable %}
{% set mainClasses = "app-container govuk-body" %}
{% set disabledPrintHtml %}
{% if (printable == false) %}
  <h3 class="govuk-heading-s screen-hide">
    Printing this report has been disabled due to time or content sensitivity.<br/>
    Please speak to your report administrator for further details.
  </h3>
{% endif %}
{% endset %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-width-container report-list-container">
      {{ dprLoadingAnim() }}
      {{ disabledPrintHtml | safe }}

      <div class="drp-async-reports-heading-container">
        {{ dprReportHeading(renderData) }}
      </div>

      <div class="report-template-container  {% if (printable == false) %}print-hide{% endif %}">
        {% if template === 'list-tab' or template === 'crosstab' %}

          {# Add template view here #}

        {% elif template === 'list-section' %}

          {{ dprAsyncReportList(renderData) }}

        {% else %}

          {{ dprAsyncReportList(renderData) }}
          {{ dprPagination(pagination) }}

        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
