{% extends layoutPath %}
{% from "../components/async-filters-form/view.njk" import dprAsyncFiltersForm %}

{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  <h1>{{ title }}</h1>

  {% if filters %}
    <p class="govuk-body">{{ filterDescription }}</p>
  {% endif %}
    
  {{ dprAsyncFiltersForm({ 
    filters: filters, 
    sortBy: sortBy, 
    data: reportData, 
    endpoint: postEndpoint,
    type: type 
  }) }}
{% endblock %}
