{% from "../components/chart-card/view.njk" import dprChartCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends layoutPath %}
{% set mainClasses = "app-container govuk-body" %}
{% set title = definition.name %}
{% set description = definition.description %}
{% set metrics = definition.metrics | json %}

{% block content %}
  <h1>Loading Dashboard</h1>

  <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">We are generating your dashboard.</p>

  <div class="govuk-!-margin-bottom-6 govuk-!-padding-bottom-6"data-dpr-module="load-dashboard">

    <div class="dpr-request-details">
      <table class="dpr-request-details__table">
        <tbody>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">Name:</p>
              </td>
              <td>
                <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{ title }}</h1>
              </td>
            </tr>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">Description:</p>
              </td>
              <td>
                <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{ description }}</h1>
              </td>
            </tr>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">No. of Metrics:</p>
              </td>
              <td>
                <h1 class="govuk-heading-s govuk-!-margin-bottom-1">{{ definition.metrics.length }}</h1>
              </td>
            </tr>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">Dashboard ID:</p>
              </td>
              <td>
                <p class="govuk-body-m govuk-!-margin-bottom-1">{{ id }}</p>
              </td>
            </tr>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">DPD ID:</p>
              </td>
              <td>
                <p class="govuk-body-m govuk-!-margin-bottom-1">{{ dpdId }}</p>
              </td>
            </tr>
            <tr>
              <td class="dpr-request-details__table-heading">
                <p class="govuk-body-m dpr-request-details__table-heading_name">Metric ID's:</p>
              </td>
              <td>
                <ul>
                  {% for metric in definition.metrics %}
                    <li class="govuk-body govuk-!-margin-bottom-1">{{ metric.id }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    {{ govukInsetText({
      html: "<p><strong>Do not close this window or you will lose your progress</strong></p> <p>It can take up to 15 mins to generate a dashboard.</p>"
    }) }}

    <form id="dpr-dashboard-loading-form" action="/dashboards/{{ dpdId }}/dashboard/{{ id }}" method="post" id="async-filters-form">
      <input type="hidden" name="dataProductDefinitionsPath" value="{{ definitionPath }}">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <input type="hidden" name="dpdId" value="{{ dpdId }}">
      <input type="hidden" name="id" value="{{ id }}">
      <input type="hidden" name="metrics" value="{{ metrics }}">
      <input type="hidden" name="title" value="{{ title }}">
      <input type="hidden" name="description" value="{{ description }}">
    </form>
  </div>


{% endblock %}
