{% from "../components/_dashboards/dashboard/view.njk" import dprDashboard %}

{% extends layoutPath %}
{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  {{ dprDashboard(dashboardData) }}
{% endblock %}
