{% from "../components/chart-card/view.njk" import dprChartCard %}
{% from "../components/dashboard/view.njk" import dprDashboard %}

{% extends layoutPath %}
{% set mainClasses = "app-container govuk-body" %}
{% block content %}
  {{ dprDashboard({
    title: title,
    description: description,
    metrics: metrics
  }) }}
{% endblock %}
