
{% extends layoutPath %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/download-feeback-form/view.njk" import dprDownloadFeedbackForm %}

{% set mainClasses = "app-container govuk-body" %}

{% if report.tableId %}
  {% set reportHref = '/async/report/' + report.reportId + '/' + report.variantId + '/request/' + report.tableId + '/report' %}
{% else %}
  {% set reportHref = '/dpr/embedded/sync/report/' + report.reportId + '/' + report.variantId + '/report' %}
{% endif %}

{% if report.dataProductDefinitionsPath %}
  {% set reportHref = reportHref + '?dataProductDefinitionsPath=' + report.dataProductDefinitionsPath  %}
{% endif %}

{% block content %}

  <div class="download-success-panel">
    {{ govukPanel({
      titleText: "Download is now enabled for this report",
      html: "Thank you for your feedback.",
      classes: "govuk-!-margin-bottom-6"
    }) }}
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">You have been granted permission to download this report (<strong>{{ report.reportName }} - {{ report.variantName }}</strong>)</p>

    <p class="govuk-body">This permission is permanent and you will not need to complete this form again.</p>

    <p class="govuk-body">The download button on the <a href="{{ reportHref }}" class="govuk-link govuk-link--no-visited-state">report</a> is now enabled.</p>

    <a href="{{ reportHref }}" class="govuk-link govuk-link--no-visited-state">Return to report to download</a>
  </div>
{% endblock %}
