{% extends layoutPath %}

{% from "../components/forms/download-request/view.njk" import dprDownloadRequestForm %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ title }}</h1>
  {{ dprDownloadRequestForm(user, report, csrfToken) }}
{% endblock %}
