
{% extends layoutPath %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/download-feeback-form/view.njk" import dprDownloadFeedbackForm %}

{% set mainClasses = "app-container govuk-body" %}
{% if report.tableId %}
  {% set reportHref = '/async/report/' + report.reportId + '/' + report.variantId + '/request/' + report.tableId + '/report' %}
{% else %}
  {% set reportHref = '/sync/report/' + report.reportId + '/' + report.variantId + '/report' %}
{% endif %}

{% block content %}
  {{ govukPanel({
    titleText: "Your report is now available to download",
    html: "Thank you for your feedback."
  }) }}

  {{ govukButton({
    text: "Return to report",
    classes: "govuk-button--primary govuk-!-margin-bottom-0",
    href: reportHref
  }) }}
{% endblock %}
