
{% extends layoutPath %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../components/download-feeback-form/view.njk" import dprDownloadFeedbackForm %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {{ govukPanel({
    titleText: "Download is now enabled for this report",
    html: "Thank you for your feedback."
  }) }}

  {% set href = '/async-reports/' + report.reportId + '/' + report.variantId + '/request/' + report.tableId + '/report'%}
  <a href="{{ href }}" class="govuk-link govuk-link--no-visited-state">Return to report to download</a>
{% endblock %}
