.dpr-interactive-filters-section {
  .dpr-interactive-filters {
    .filter-form-container {
      background-color: rgba(243, 242, 241, 0.4);
      padding-bottom: govuk-spacing(3);
      .filter-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: govuk-spacing(3);
        row-gap: govuk-spacing(3);

        @media(min-width: 769px) and (max-width: 1019px) {
            grid-template-columns: 1fr 1fr;
          }
        
        @media(max-width: 768px) {
          grid-template-columns: 1fr;
        }

        .dpr-filter-item {
          border-bottom: none;
          padding: govuk-spacing(3);

          .govuk-form-group {
            margin-bottom: govuk-spacing(2);
          }

          &:last-child {
            border-bottom: none
          }
        }
      }

      .filter-actions {
        margin-top: govuk-spacing(6);
        margin-bottom: govuk-spacing(0);
        margin-left: govuk-spacing(3);
        height: 40px;

        @media(max-width: 768px) {
          height: 80px;
        }

        .govuk-button-group {
          @media(max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }

  .govuk-button-group {
    margin: 0px;
  }

  .govuk-details {
    margin-bottom: 0px;

    .govuk-details__summary {
      margin-bottom: govuk-spacing(4);
    }

    .govuk-details__text {
      padding-left: 0px;
      border-left: none;
    }
  }
}
