{% from "dpr/components/_filters/filters-form/view.njk" import dprFiltersForm %}
{% from "dpr/components/_filters/filters-selected/view.njk" import dprSelectedFilters %}
{% from "dpr/components/_filters/fitlers-save-defaults/view.njk" import dprFiltersSaveDefaults %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprInteractiveFilters(filterData, templateArgs) %}

  {% set filters = filterData.filters %}
  {% set selectedFilters = filterData.selectedFilters %}

  {% set reportType = templateArgs.reportType %}
  {% set prefix = templateArgs.prefix %}
  {% set defaultQuery = templateArgs.defaultQuery %}

  <div class='dpr-interactive-filters-section'>
    {{ dprSelectedFilters(selectedFilters, { 
      resetId: 'interactive-reset-filters-button',
      defaultQuery: defaultQuery 
    }) }}

    {{ dprFiltersSaveDefaults('interactive-filters-form', './report') }}

    {% set filtersHtml %}
      <div class='dpr-interactive-filters'>
        <div data-dpr-module="interactive-filters" class="dpr-filters sync-filters-form--hidden">
          {{ dprFiltersForm({
            filters: filters, 
            prefix: prefix,
            formId: 'interactive-filters-form',
            submitId: 'interactive-apply-filters-button',
            defaultQuery: defaultQuery,
            reportType: reportType
          }) }}
        </div>
      </div>
    {% endset %}


    <div class="dpr-interactive-filters-accordion"> 
      {{ govukDetails({
        summaryText: 'Show filters',
        html: filtersHtml,
        attributes: {
          id: 'dpr-interactive-filters-details'
        }
      }) }}
    </div>
  </div>
{% endmacro %}
