{% from "../filters-form/view.njk" import dprFiltersForm %}
{% from "../filters-selected/view.njk" import dprSelectedFilters %}
{% from "../filters-save-defaults/view.njk" import dprFiltersSaveDefaults %}
{% from "../filters-applied/view.njk" import dprAppliedFilters %}
{% from "../filters-reset/view.njk" import dprFiltersFormReset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprInteractiveFilters(filters, templateArgs) %}
  {% set selectedFilters = filterData.selectedFilters %}

  {% set reportType = templateArgs.reportType %}
  {% set prefix = templateArgs.prefix %}
  {% set csrfToken = templateArgs.csrfToken %}
  {% set validationErrors = templateArgs.validationErrors %}
  {% set appliedFilters = templateArgs.appliedFilters %}
  {% set hasDefaults = templateArgs.hasDefaults %}
  {% set saveDefaultsEnabled = templateArgs.saveDefaultsEnabled %}
  {% set formId = 'dpr-interactive-filters-form' %}

  <div class='dpr-interactive-filters-section'>
    {{ dprAppliedFilters(appliedFilters) }}

    <div class='dpr-interactive-save-defaults-actions'>
      {{ dprFiltersFormReset(reportType) }}
      
      {% if saveDefaultsEnabled %}
        {{ dprFiltersSaveDefaults(reportType, hasDefaults, formId) }}
      {% endif %}
    </div>


    {% set filtersHtml %}
      <div class='dpr-interactive-filters'>
        <div class="dpr-filters sync-filters-form--hidden">
          {{ dprFiltersForm({
            formId: formId,
            filters: filters, 
            prefix: prefix,
            reportType: reportType,
            csrfToken: csrfToken,
            validationErrors: validationErrors
          }) }}
        </div>
      </div>
    {% endset %}


    <div class="dpr-interactive-filters-accordion"> 
      {{ govukDetails({
        summaryText: 'Show filters',
        html: filtersHtml,
        attributes: {
          id: 'dpr-interactive-filters-details'
        }
      }) }}
    </div>
  </div>
{% endmacro %}
