{% from "../filters-form/view.njk" import dprFiltersForm %}
{% from "../filters-selected/view.njk" import dprSelectedFilters %}
{% from "../fitlers-save-defaults/view.njk" import dprFiltersSaveDefaults %}
{% from "../filters-applied/view.njk" import dprAppliedFilters %}
{% from "../filters-reset/view.njk" import dprFiltersFormReset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprInteractiveFilters(filterData, templateArgs) %}

  {% set filters = filterData.filters %}
  {% set hasDefaults = filterData.hasDefaults %}
  {% set canSaveDefaults = filterData.canSaveDefaults %}
  {% set selectedFilters = filterData.selectedFilters %}

  {% set reportType = templateArgs.reportType %}
  {% set prefix = templateArgs.prefix %}
  {% set defaultsSaved = templateArgs.defaultsSaved %}
  {% set csrfToken = templateArgs.csrfToken %}
  {% set validationErrors = templateArgs.validationErrors %}
  {% set appliedFilters = templateArgs.appliedFilters %}
  {% set returnUrl = templateArgs.returnUrl %}

  <div class='dpr-interactive-filters-section'>
    {{ dprAppliedFilters(appliedFilters) }}

    {% if canSaveDefaults %}
      <div class='dpr-interactive-save-defaults-actions'>
        {{ dprFiltersFormReset(reportType) }}
        {{ dprFiltersSaveDefaults('interactive-filters-form', './report', hasDefaults) }}
      </div>
    {% endif %}


    {% set filtersHtml %}
      <div class='dpr-interactive-filters'>
        <div class="dpr-filters sync-filters-form--hidden">
          {{ dprFiltersForm({
            filters: filters, 
            prefix: prefix,
            formId: 'interactive-filters-form',
            submitId: 'interactive-apply-filters-button',
            reportType: reportType,
            csrfToken: csrfToken,
            validationErrors: validationErrors
          }) }}
        </div>
      </div>
    {% endset %}


    <div class="dpr-interactive-filters-accordion"> 
      {{ govukDetails({
        summaryText: 'Show filters',
        html: filtersHtml,
        attributes: {
          id: 'dpr-interactive-filters-details'
        }
      }) }}
    </div>
  </div>
{% endmacro %}
