{% from "dpr/components/filter-input/view.njk" import dprFilterInput %}

{% macro dprAsyncFilterInputs(filters, prefix = "filters.") %}

  <div class="filter-container">
    {%- for filter in filters %}
      {{ dprFilterInput(filter, prefix) }}
    {%- endfor %}
  </div>

{% endmacro %}
