{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../filters/view.njk" import dprFilters %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprFilterControls(filters, selectedFilters, urlWithNoFilters, parameterPrefix = "filters.") %}
  {% set detailsClasses = 'filters-accordion govuk-!-margin-0' %}

  {% set filterHtml %}
  <div class="data-table-filters">
    {{ dprFilters(
      filters,
      urlWithNoFilters
    ) }}
  </div>
  {% endset %}

  <div class="filter-section">
    <div class="filter-section-row filter-section-row__filter">

      <div class="filter-section-accordion-button">
        {{ govukDetails({
            summaryText: "Filters",
            classes: detailsClasses,
            html: filterHtml 
          }) 
        }}
      </div>

      <div class="filter-section-details">
        <div class="filter-section-details-scroll">
          {%- for filter in selectedFilters %}
            <div class="selected-filters-button">
              {{ govukButton(filter) }}
            </div>
          {%- endfor %}
        </div>
      </div>
    </div>

  {% endmacro %}