{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../button-link/view.njk" import dprButtonLink %}

{% macro dprFiltersFormReset() %}
  {% set classes = 'dpr-button-link' %}
  <button class="{{ classes }}" type="submit" formaction="filters/resetFilters" >Reset filters</button>
{% endmacro %}
