{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../../../button-link/view.njk" import dprButtonLink %}

{% macro dprFiltersFormReset() %}

  {{
    dprButtonLink({
      text: "Reset filters",
      attributes: {
        formaction: "filters/resetFilters",
        type: "submit"
      }
    })
  }}
{% endmacro %}
