{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro dprUnauthorisedToggle(tableId) %}
  <div class="dpr-unauthorised-toggle" data-dpr-module="dpr-catalogue-show-unauthorised">
    {% set name = 'Show unauthorised reports' %}

    {% set showUnauthorised = {text:"Show unauthorised reports", value:"show-unauthorised", id: "show-unauthorised" } %}
    {% set showMissing = { text:"Show missing reports", value:"show-missing", id: "show-missing" } %}
    {% set hideLive = { text:"Hide live reports", value:"hide-live", id: "hide-live" } %}

    {{ govukCheckboxes({
      name: name,
      classes: "dpr-show-unauthorised-checkbox govuk-checkboxes--small",
      formGroup: {
        classes: ""
      },
      fieldset: {
        legend: {
          text: 'Show/hide reports',
          classes: "govuk-label govuk-!-font-weight-bold"
        }
      },
      attributes: {
        "id": 'dpr-toggle-filters',
        "aria-label": name + ' checkboxes',
        "data-table-id": tableId
      },
      items: [
        showUnauthorised
      ],
      values: []
    }) }}
  </div>
{% endmacro %}
