{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% macro dprUnauthorisedToggle(tableId) %}
  <div class="dpr-unauthorised-toggle" data-dpr-module="dpr-catalogue-show-unauthorised">
    {% set name = 'Show unauthorised reports' %}

    {{ govukCheckboxes({
      name: name,
      classes: "dpr-show-unauthorised-checkbox govuk-checkboxes--small",
      formGroup: {
        classes: "govuk-!-margin-bottom-3"
      },
      fieldset: {
        legend: {
          text: '',
          classes: "govuk-label govuk-!-font-weight-bold"
        }
      },
      attributes: {
        "id": 'dpr-toggle-filters',
        "aria-label": name + ' checkboxes',
        "data-table-id": tableId
      },
      items: [{text:"Show unauthorised reports", value:"show-unauthorised", id: "show-unauthorised" }],
      values: []
    }) }}
  </div>
{% endmacro %}
