{% from "../../../../_filters/filter-input/view.njk" import dprFilterInput %}

{% macro dprAsyncSortFormFields(sortBy) %}
  {% for option in sortBy %}
    {{ dprFilterInput(option, '') }}
  {% endfor %}
{% endmacro %}
