.dpr-dropdown-button {
  position: relative;
  float: right;

  button.govuk-button, a.govuk-button {
    box-shadow: none;
    margin-bottom: 0;
  }

  ul {
    background-color: white;
    border-top: #b1b4b6 1px solid;
    display: none;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    z-index: 10000;
  }

  .dropdown-group-name-li {
    background-color: white;
  }

  .dropdown-group-item-li {
    padding-left: 4px;
    background-color: white;

    &:Hover {
      background-color: govuk-colour("light-blue");
    }
  }

  li {
    border: #b1b4b6 1px solid;
    border-top: 0;
    text-align: left;

    button, a {
      text-align: left;
      width: 100%;
    }

    .dropdown-group-name {
      margin-bottom: 0;
      padding: 8px 12px 7px;
    }
  }
  
  @media(max-width: 640px) {
    width: 100%;
    margin-bottom: govuk-spacing(2);

    #actions-menu {
      width: 100%;
    }
  }
}
