{#
  options: {
    id: string,
    text: string
    classes: string
    items: item[]
    groups: item[]
  }

  item = {
      html: string
      id: string
      text: string
      classes: string
      attributes: {
        [key: string]: string
      }
      href: string
    }
#}
{% macro dprDropdownButton(options) %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {%- set id = options.id %}
  {%- set text = options.text %}
  {%- set classes = options.classes %}
  {%- set items = options.items %}
  {%- set groups = options.groups %}

  <div class="dpr-dropdown-button" data-dpr-module="dropdown-button">
    {{ govukButton({
        id: id + "-button",
        text: text + " ▼",
        classes: classes + " ",
        attributes: {
          "aria-expanded": "false"
        }
    }) }}

    <ul id="{{ id }}-menu">
      {% for item in items %}
        <li>
          {% if item.html %}
            {{ item.html | safe }}
          {% else %}
            {{ govukButton({
              id: item.id,
              text: item.text,
              classes: "govuk-button--inverse " + item.classes,
              attributes: item.attributes,
              href: item.href
            }) }}
          {% endif %}
        </li>
      {% endfor %}

      {% for group in groups %}
        <li class="dropdown-group-name-li">
          <div class="govuk-body-m dropdown-group-name">{{ group.title }}</div>
        </li>
        {% for groupItem in group.items %}
          <li class="dropdown-group-item-li">
            {% if groupItem.html %}
              {{ groupItem.html | safe }}
            {% else %}
              {{ govukButton({
                id: groupItem.id,
                text: groupItem.text,
                classes: "govuk-button--inverse " + groupItem.classes,
                attributes: groupItem.attributes,
                href: groupItem.href
              }) }}
            {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
      
    </ul>
  </div>
{% endmacro %}