{% macro dprMyReportListHeadings(headings) %}
  <div class="dpr-my-reports__headings dpr-my-reports__row">
    {% for head in headings %}
      {% set classes = head.classes %}
      {% set name = head.name %}

      <div class="dpr-my-reports__cell dpr-my-reports__cell--head {{ classes }}">
        <p class="govuk-heading-s">{{ name }}</p>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
