{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../../../request-details/view.njk" import dprRequestDetails %}

{% macro dprPollingFinishedState(data) %}

  {% set statusDetails = data.statusDetails %}
  {% set descriptionText = statusDetails.descriptionText %}
  {% set altText = statusDetails.altText %}  
  {% set requestDetails = data.requestDetails %}

  <div class="dpr-poling-state__finished">
    <p class="govuk-!-margin-top-4 govuk-!-margin-bottom-6">{{ descriptionText }}</p>

    {{ dprRequestDetails(requestDetails)}}

    {% for text in altText %}
      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-6">{{ text }}</p>
    {% endfor %}
  
  </div>
{% endmacro %}
