{% from "../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprDashboardFilters(filterData, defaultQuery, prefix) %}
    {% set templateArgs = {
      defaultQuery: defaultQuery,
      prefix: prefix,
      reportType: 'dashboard',
      csrfToken: defaultQuery.csrfToken
    }%}

    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, templateArgs) }}
    {% endif %}
{% endmacro %}
