.dpr-report-totals p {
  text-align: right;
  margin-bottom: govuk-spacing(2);
}

@media print {
  .dpr-report-totals p {
    color: govuk-colour("black");
    font-weight: normal;
    text-align: right;
    margin-bottom: govuk-spacing(1);
    font-size: 12px;
  }
}
