{% from "../user-list-content/view.njk" import dprUserList %}

{% macro dprAsyncRequestList(args) %}
  <div id="dpr-async-request-component" data-dpr-module="async-request-list" data-request-data='{{ args.meta | dump | safe }}' data-csrf-token="{{ args.csrfToken }}">
    {{ dprUserList(args) }}
  </div>
{% endmacro %}
