{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% macro dprReportActions(buttonList) %}

  {% set items = [] %}
  {% for button in buttonList %}
    {% if button.id === 'dpr-button-downloadable' %}
      {% set item = {
        text: button.tooltipText,
        attributes: {
          id: button.id,
          disabled: button.disabled,
          form: "download-report-form"
        } if button.disabled else {
          id: button.id,
          form: "download-report-form"
        },
        classes: '{{ button.id }} govuk-button--secondary'
      } %}

    {% if not button.disabled %}
      <form id="download-report-form" action="/downloadReport/" method="post">
        <input type="hidden" name="dataProductDefinitionsPath" value="{{ button.attributes.definitionPath }}">
        <input type="hidden" name="_csrf" value="{{ button.attributes.csrfToken }}">
        <input type="hidden" name="reportId" value="{{ button.attributes.reportId }}">
        <input type="hidden" name="id" value="{{ button.attributes.id }}">
        <input type="hidden" name="type" value="{{ button.attributes.type }}">
        <input type="hidden" name="tableId" value="{{ button.attributes.tableId }}">
        <input type="hidden" name="reportName" value="{{ button.attributes.reportName }}">
        <input type="hidden" name="variantName" value="{{ button.attributes.variantName }}">
      </form>
    {% endif %}

    {% else %}
      {% set item = {
        text: button.tooltipText,
        attributes: {
          id: button.id,
          "data-href": button.href,
          "aria-label": button.ariaLabelText,
          disabled: button.disabled
        } if button.disabled else {
          id: button.id,
          "data-href": button.href,
          "aria-label": button.ariaLabelText
        },
        classes: '{{ button.id }} govuk-button--secondary'
      } %}
    {% endif %}

    {% set items = (items.push(item), items) %}
  {% endfor %}

  
  <div class="report-actions" data-dpr-module='report-actions'>
    {{ mojButtonMenu({
      items: items
    }) }}

    <div class="dpr-display-none">
      {{ downloadFormHtml }}
    </div>
  </div>
{% endmacro %}
