{% from "../toggle-button/view.njk" import dprToggleButton %}

{% macro dprToggleContent(id, icons, content) %}
  <div class="dpr-toggle-container">
    <div class="dpr-toggle-button-container">
      {{ dprToggleButton(id, icons) }}
    </div>
    {% for item in content %}
      <div class="dpr-toggle-content {% if item.active %}dpr-toggle-content--active{% endif %}">
        {{ item.html | safe }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}
