{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprDataTable(dataTable, classification, template) %}
  {% set rows = dataTable.rows %}
  {% set head = dataTable.head %}
  {% set colCount = dataTable.colCount %}
  
  <div id="table-container" class='dpr-table-container dpr-table-container--{{ template }}' data-dpr-module="data-table" aria-labelledby="dpr-report-name">
    <div class="dpr-overflow-gradient" id="dpr-overflow-gradient"></div>
    <div class="dpr-table-wrapper" id="dpr-table-wrapper">
      <div class="dpr-table-content">
        {{ govukTable({
          head: head,
          rows: rows,
          attributes: { 
            'id': 'dpr-data-table',
            'data-classification': classification,
            'data-col-length': colCount
          }
        }) }}
      </div>
    </div>
  </div>
{% endmacro %}
