{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro dprCatalogueSearch(id, catalogueCollectionInfo, type = 'catalogue') %}
  {% set catalogueCollections = catalogueCollectionInfo.catalogueCollections %}
  {% set selectedCatalogueCollection = catalogueCollectionInfo.selectedCatalogueCollection %}

  <div class="dpr-search" data-dpr-module="dpr-catalogue-search">
    <div class="dpr-search-inputs">
        {{ govukInput({
          label: {
            text: "Filter by key word",
            classes: "govuk-!-font-weight-bold govuk-!-margin-bottom-2"
          },
          id: id + '_search_input',
          name: 'search',
          autocomplete: "off",
          classes: "dpr-search-box govuk-!-margin-bottom-0",
          attributes: {
            placeholder: "Type to filter reports",
            "data-table-id": id
          }
        }) }}
        {% if catalogueCollections.length > 0 %}
          {{ govukSelect({
            id: 'catalogue-collection',
            value: selectedCatalogueCollection,
            formGroup: {
              attributes: {
                style: "justify-self: end;"
              }
            },
            items: catalogueCollections,
            label: {
              text: 'Your collections',
              classes: "govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-2"
            }
        }) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}
