{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro dprCatalogueSearch(id, productCollectionInfo, type = 'catalogue') %}
  {% set productCollections = productCollectionInfo.productCollections %}
  {% set selectedProductCollection = productCollectionInfo.selectedProductCollection %}

  <div class="dpr-search" data-dpr-module="dpr-catalogue-search">
    <div class="dpr-search-inputs">
        {{ govukInput({
          label: {
            text: "Filter by key word",
            classes: "govuk-!-font-weight-bold govuk-!-margin-bottom-2"
          },
          id: id + '_search_input',
          name: 'search',
          autocomplete: "off",
          classes: "dpr-search-box govuk-!-margin-bottom-0",
          attributes: {
            placeholder: "Type to filter reports",
            "data-table-id": id
          }
        }) }}
        {% if productCollections.length > 0 %}
          <form method="post" action="dpr/product-collection/selected">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukSelect({
              id: 'productCollection',
              name: 'productCollection',
              value: selectedProductCollection.id,
              formGroup: {
                attributes: {
                  style: "justify-self: end;"
                }
              },
              items: productCollections,
              label: {
                text: 'Your collections',
                classes: "govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-2"
              }
          }) }}
        </form>
      {% endif %}
    </div>
  </div>
{% endmacro %}
