{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro dprCatalogueSearch(id) %}
  <div class="dpr-search" data-dpr-module="dpr-catalogue-search">
    <div class="dpr-search-inputs">
        {{ govukInput({
          id: id + '_search_input',
          name: 'search',
          autocomplete: "off",
          classes: "dpr-search-box govuk-!-margin-bottom-0",
          attributes: {
            placeholder: "Type to filter reports",
            "data-table-id": id
          }
        }) }}
    </div>
  </div>
{% endmacro %}
