{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprMyReportsSubscriptionsRefreshed(refreshedSubs) %}
  {% set message = refreshedSubs.message %}
  {% set details = refreshedSubs.details %}

  <div class="dpr-my-reports-notification--refreshed-subscriptions">
    {% set detailsHtml %}
      {% set detailsListHtml = '' %}

      {% for detail in details %}
        {% set detailsListHtml = detailsListHtml + '<li>' + detail + '</li>' %}
      {% endfor %}

      <p class="govuk-body">The following subscriptions were refreshed and are available with new data:</p>

      <ul>
        {{ detailsListHtml | safe }}
      </ul>
    {% endset %}


    {% set alertHtml %}
      {{ message | dpr.safe }}

      {{
        govukDetails({
          summaryText: 'Details',
          html: detailsHtml
        })
      }}
    {% endset %}

    {{
      mojAlert({
        variant: "information",
        dismissible: true,
        html: alertHtml
      })
    }}
  </div>
{% endmacro %}
