{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro dprAutocompleteTextInput(options, validationErrors) %}

  {% set listId = (options.id | replace(".", "")) + "-list" %}
  {% set labelInputName = 'label.' + options.name %}

  {% set inputAttributes = {
    "role": "combobox",
    "aria-autocomplete": "list",
    "aria-expanded": "false",
    "aria-controls": listId,
    "aria-haspopup": "listbox",
    "data-minimum-length": options.minimumLength,
    "placeholder": "Search",
    "pattern": options.pattern,
    "required": "true" if options.mandatory
  } %}

  <div
    class="dpr-autocomplete-text-input"
    data-dpr-module="autocomplete-text-input"
  >

    <input
      type="hidden"
      name="{{ options.name }}"
      value="{{ options.staticOptionNameValue }}"
      data-autocomplete-hidden
    />

    {{
      govukInput({
        id: options.id,
        label: {
          text: options.labelText,
          classes: "govuk-!-font-weight-bold dpr-inline-label"
        },
        name: labelInputName,
        value: options.displayValue,
        type: "text",
        autocomplete: "off",
        errorMessage: validationErrors | dpr.findError(options.id),
        classes: (options.classes if options.classes else "") + " autocomplete-text-input-box govuk-input--width-20",
        attributes: inputAttributes,
        suffix: {
          html: "&#x1F50D;"
        },
        hint: {
          html: "(Optional)"
        } if not options.mandatory
      })
    }}

    <div class="autocomplete-text-input-list-container">
      <ul
        id="{{ listId }}"
        class="autocomplete-text-input-list autocomplete-text-input-list--hidden"
        role="listbox"
        aria-label="{{ options.labelText }}"
      >

        {% for item in options.items %}
          <li
            id="{{ listId }}-{{ loop.index0 }}"
            role="option"
            aria-selected="false"
            class="autocomplete-option autocomplete-text-input-item-hide"
            data-value="{{ item.value }}"
            data-display="{{ item.text }}"
          >
            {{ item.text }}
          </li>
        {% endfor %}

      </ul>
    </div>

  </div>

{% endmacro %}
