{% from "dpr/components/filters-form/view.njk" import dprFiltersForm %}

{% macro dprInteractiveFilters(filters, prefix) %}
  <div data-dpr-module="interactive-filters" class="dpr-filters sync-filters-form--hidden">
    {{ dprFiltersForm({
      filters: filters, 
      prefix: prefix,
      formId: 'interactive-filters-form',
      submitId: 'interactive-apply-filters-button',
      resetId: 'interactive-reset-filters-button'
    }) }}
  </div>
{% endmacro %}
