
{% macro dprAsyncFiltersFormHiddenFields(args) %}
  {% set data = args.data %}
  {% set type = args.type %}

  {% set reportId = data.reportId %}
  {% set id = data.id %}
  {% set name = data.name %}
  {% set description = data.description %}
  {% set reportName = data.reportName %}
  {% set csrfToken = data.csrfToken %}
  {% set template = data.template %}
  {% set type = data.type %}
  {% set sections = data.sections %}

  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <input type="hidden" name="reportId" value="{{ reportId }}">
  <input type="hidden" name="name" value="{{ name }}">
  <input type="hidden" name="reportName" value="{{ reportName }}">
  <input type="hidden" name="description" value="{{ description }}">
  <input type="hidden" name="type" value="{{ type }}">
  <input type="hidden" name="pathname" id="async-filters-form-pathname" value="">
  <input type="hidden" name="origin" id="async-filters-form-origin" value="">
  <input type="hidden" name="href" id="async-filters-form-href" value="">
  <input type="hidden" name="search" id="async-filters-form-search" value="">
  <input type="hidden" name="id" value="{{ id }}">

  {% if template %}<input type="hidden" name="template" value="{{ template }}">{% endif %}
  {% if sections %}<input type="hidden" name="sections" value="{{ sections | json }}">{% endif %}  
{% endmacro %}
