{% macro dprSubscribeText(schedule) %}

  <h2>This is a scheduled report</h2>
  <p>Scheduled to run: <strong>{{ schedule }}</strong>
  <p>Subscribe to receive the latest report automatically after each scheduled refresh.</p>
  <p>Or request the report to receive latest data</p>

{% endmacro %}
