---
layout: layouts/example.njk
title: Disable actions (example)
arguments: report/actions
---
{% from "dpr/components/_reports/report-actions/view.njk" import dprReportActions %}

{% set actions = [
  {
    id: "dpr-button-printable",
    disabled: false,
    text: "Print",
    ariaLabelText: "print report",
    href: "#"
  }
] %}

{{ dprReportActions(actions) }}

