---
layout: layouts/example.njk
title: Dropdown Button (example)
arguments: dropdown-button
---

{% from "dpr/components/dropdown-button/view.njk"    import dprDropdownButton %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set bespokeButtonHtml %}
  {{ govukButton({
    id: 'MyCustomButtonID',
    text: 'My Custom Button'
    attributes: {
      "data-my-button-action-listener": "true"
    }
  })}}
{% endset %}

{{ dprDropdownButton({
  id: "example-id",
  text: "Example Text",
  classes: 'dropdown-button-class',
  attributes: {
    'attribute-example': 'attribute-example'
  },
  items: [
    {
      text: 'Example 1',
      href: "#",
      classes: 'item-class',
      attributes: {
        'attribute-example': 'attribute-example'
      }
    },
    {
      html: bespokeButtonHtml
    }
  ],
  groups: [
    {
      title: 'Group 1',
      items: [
        {
          text: 'Group 1 item',
          href: "#",
          classes: 'group-item-class',
          attributes: {
            'attribute-example': 'attribute-example'
          }
        },
        {
          text: 'Group 2 item',
          href: "#",
          classes: 'group-item-class',
          attributes: {
            'attribute-example': 'attribute-example'
          }
        }
      ]
    },
    {
      title: 'Group 2',
      items: [
        {
          text: 'Group 2 item',
          href: "#",
          classes: 'item-class',
          attributes: {
            'attribute-example': 'attribute-example'
          }
        }
      ]
    }
  ]
 }) }}