{% extends layoutPath %}

{% from "../../../../../components/_catalogue/catalogue-list/view.njk" import dprCatalogueList %}
{% from "../../../../../components/_catalogue/catalogue-filters/view.njk" import dprCatalogueFilters %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-width-container">
    <h1>{{ title }}</h1>
    <div id="{{ id }}">
      {{ dprCatalogueFilters(id, features, 'recently viewed reports') }}
      {{ dprCatalogueList(tableData.head, tableData.rows, id) }}
    </div>
  </div>
{% endblock %}
