---
layout: layouts/example.njk
title: Catalogue with feature config (example)
---

{%- from "dpr/components/_catalogue/catalogue/view.njk" import dprCatalogue -%}

{% set data = {
  head: [
    { text: "Product", classes: "dpr-product-head" },
    { text: "Name",classes: "dpr-name-head" },
    { text: "Description", classes: "dpr-description-head" },
    { text: "Actions", classes: "dpr-bookmark-head" }
  ],
  rows: [
    [
      { html: "<p class='govuk-body-s'>Product 1</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 1</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 1 escription' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant name 1 escription</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-1/variantId-1/request'>Request report</a><button class='dpr-bookmark dpr-bookmark-table' data-dpr-module='bookmark-toggle'>\n <input class='bookmark-input' type='checkbox' id='test-report-1-variantId-1-reports-list' data-report-id='test-report-1' data-id='variantId-1' data-report-type='report' data-csrf-token='csrfToken' null />\n <label id='variantId-4-test-report-3-reports-list-bookmark-label' for='test-report-1-variantId-1-reports-list'><span class='dpr-bookmark-label govuk-body-s'>Add bookmark</span></label>\n</button>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 2</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 2 escription' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 2 escription</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-2/variantId-2/request'>Request report</a><button class='dpr-bookmark dpr-bookmark-table' data-dpr-module='bookmark-toggle'>\n <input class='bookmark-input' type='checkbox' id='test-report-2-variantId-2-reports-list' data-report-id='test-report-2' data-id='variantId-2' data-report-type='report' data-csrf-token='csrfToken' null />\n <label id='variantId-4-test-report-2-reports-list-bookmark-label' for='test-report-2-variantId-2-reports-list'><span class='dpr-bookmark-label govuk-body-s'>Add bookmark</span></label>\n</button>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 3</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 1</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 1 escription' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 1 escription</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-3/variantId-3-1/request'>Request report</a><button class='dpr-bookmark dpr-bookmark-table' data-dpr-module='bookmark-toggle'>\n <input class='bookmark-input' type='checkbox' id='test-report-3-variantId-3-1-reports-list' data-report-id='test-report-3' data-id='variantId-3-1' data-report-type='report' data-csrf-token='csrfToken' null />\n <label id='variantId-3-1-test-report-3-reports-list-bookmark-label' for='test-report-3-variantId-3-1-reports-list'><span class='dpr-bookmark-label govuk-body-s'>Add bookmark</span></label>\n</button>" }
    ],
    [
      { html: "<p class='govuk-body-s'>Product 3</p>" },
      { html: "<div>\n <p class='govuk-body-s govuk-!-margin-bottom-2'><strong>Variant 2</strong></p>\n <strong class='govuk-tag dpr-request-status-tag dpr-request-status-tag--small'>Report</strong>\n</div>" },
      { html: "<div class='dpr-show-more' data-content='Variant 2 escription' data-dpr-module='show-more' data-length='200'>\n <div class='dpr-show-more-content'>Variant 2 escription</div><a class='dpr-show-hide-button govuk-link--no-visited-state' href='#'>show more</a>\n </div>" },
      { html: "<a class='dpr-user-list-action govuk-link--no-visited-state govuk-!-margin-bottom-1' href='/async/report/test-report-3/variantId-3-2/request'>Request report</a><button class='dpr-bookmark dpr-bookmark-table' data-dpr-module='bookmark-toggle'>\n <input class='bookmark-input' type='checkbox' id='test-report-3-variantId-3-2-reports-list' data-report-id='test-report-3' data-id='variantId-3-2' data-report-type='report' data-csrf-token='csrfToken' null />\n <label id='variantId-3-2-test-report-3-reports-list-bookmark-label' for='test-report-3-variantId-3-2-reports-list'><span class='dpr-bookmark-label govuk-body-s'>Add bookmark</span></label>\n</button>" }
    ]
  ],
  id: 'dpr-reports-catalogue'
} %}

{% set features = {
  filteringEnabled: false,
  unauthorisedToggleEnabled: false,
  howToUseEnabled: false
} %}


{{ dprCatalogue({ data: data, features: features }) }}
