{% from "../filter-input/view.njk" import dprFilterInput %}
{% from "../filters-actions/view.njk" import dprFiltersActions %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro dprFiltersForm(args) %}
    {% set filters = args.filters %}
    {% set formId = args.formId %}
    {% set submitId = args.submitId %}
    {% set resetId = args.resetId %}
    {% set prefix = args.prefix %}
    {% set defaultQuery = args.defaultQuery %}

    <form id="{{ formId }}">
      <div id="query-error-summary" class="query-error-summary query-error-summary--hidden">
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: []
        }) }}
      </div>

      <div class="filter-form-container">
        <div class="filter-container">
          {%- for filter in filters %}
            {{ dprFilterInput(filter, prefix) }}
          {%- endfor %}
        </div>

        <div class="filter-actions">
          {{ dprFiltersActions({
            submitText: "Apply filters",
            submitId: submitId,
            resetText: 'Reset filters',
            resetId: resetId,
            showReset: true,
            defaultQuery: defaultQuery
          }) }}
        </div>
      </div>
      
    </form>
{% endmacro %}
