{% from "../filter-input/view.njk" import dprFilterInput %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro dprFiltersForm(args) %}

    {% set filters = args.filters %}
    {% set csrfToken = args.csrfToken %}
    {% set formId = args.formId %}
    {% set submitId = args.submitId %}
    {% set resetId = args.resetId %}
    {% set prefix = args.prefix | default("filters.", true) %}
    {% set defaultQuery = args.defaultQuery | default("", true) %}
    {% set reportType = args.reportType %}
    {% set validationErrors = args.validationErrors %}

    <form method="POST" action="./{{ reportType }}/apply-filters" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">

      <div class="filter-form-container">
        <div class="filter-container">
          {%- for filter in filters %}
            {{ dprFilterInput(filter, validationErrors,  prefix) }}
          {%- endfor %}
        </div>

        <div class="filter-actions">
          {{ govukButton({
            text: 'Apply filters',
            classes: "govuk-button--primary"
          }) }}
        </div>
      </div>
    </form>
{% endmacro %}
