#dpr-recently-viewed-component, #dpr-async-request-component, #dpr-bookmarks-list {
  .govuk-table {
    margin-bottom: 0px;
    width: 100%;
  }

  th.dpr-req-product-head, th.dpr-req-name-head {
    width: 25%;
  }
  th.dpr-req-description-head {
    width: 30%;
  }
  th.dpr-bm-description-head {
    width: 50%;
  }
  th.dpr-req-filters-head {
    width: 25%;
  }
  th.dpr-req-status-head {
    width: 100px;
    width: 9%;
  }
  th.dpr-bm-actions-head {
    width: 30%;
    text-align: right;
  }
  th.dpr-req-actions-head {
    width: 11%;
    text-align: right;
  }
  td.govuk-table__cell {
    vertical-align: top;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  td.dpr-req-middle-cell {
    vertical-align: top;
  }

  td.dpr-req-cell__type {
    padding-top: 20px;
    min-width: 80px;
  }

  td.dpr-req-cell__status{
    padding-top: 20px;
  }

  tr:last-child {
    td {
      border: none
    }
  }

  .govuk-table__cell:last-child {
    padding-right: 0px !important;
    text-align: right;
  }
}

#requested-reports-tab, #recently-viewed-tab, #my-bookmarks-tab {
  padding-left: 40px;
  padding-right: 40px;
}

.dpr-user-list-action {
  display: block;
}

.dpr-display-none {
  display: none;
}
