.dpr-catalogue-filters {
  border: Solid 1px govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(6);;

  .dpr-catalogue-filters--heading {
    padding: govuk-spacing(4);
    background-color: govuk-colour('light-grey');

    h2 {
      margin: 0px;
    }
  }
  .dpr-catalogue-filters--content {
    padding: govuk-spacing(4);
    
    .dpr-catalogue-filters--content-filters {
      column-gap: govuk-spacing(6);
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      row-gap: 15px;
    }

    .govuk-details {
      margin-bottom: 0px;

      .govuk-details__text {
        border-left: none;
        padding-bottom: 0px;
      }
    }
  }
}
 