{% extends "views/page.njk" %}

{%- from "components/report-list/view.njk" import dprReportList -%}

{% block content %}
  <span class="govuk-caption-l">Report template</span>
  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-width-container">
    {{ dprReportList(reportData) }}
  </div>
{% endblock %}

