{% macro dprChart(chartData) %}
  {% set id = chartData.id %}
  {% set type = chartData.type %}

  <div class="chart" data-dpr-module="{{ type }}-chart" data-dpr-chart-data="{{ chartData | json }}">
    <canvas id="{{ id }}_{{ type }}" class="chart-canvas"></canvas>
    <div id="js-legend-{{ id }}_{{ type }}" class="dpr-chart-legend"></div>
  </div>
{% endmacro %}
