{% from "../../../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprReportFilters(filterData, defaultQuery = '', prefix = 'filters.') %}
    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, defaultQuery, prefix) }}
    {% endif %}
{% endmacro %}
