@use 'sass:color';

.dpr-show-more {
  .dpr-show-hide-button {
    display: inline-block;
  }

  .dpr-show-more-content {
    display: inline;
  }
}

ul.dpr-card-group__item__filters-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0px;

  li {
    float: left;
    margin-bottom: 0;
    padding: govuk-spacing(1);
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: govuk-spacing(1);
    margin-right: govuk-spacing(1);
  }

  li.dpr-query-summary {
    background-color: govuk-colour('black', $variant: 'tint-95');
  }

  li.dpr-interactive-query-summary {
    background-color: color.adjust(govuk-colour('blue', $variant: 'tint-25'), $lightness: 36%);
  }

  li:last-child {
    margin-bottom: govuk-spacing(0);
  }
}
