.dpr-show-more {
  .dpr-show-hide-button {
    display: inline-block
  }

  .dpr-show-more-content {
    display: inline;
  }
}

ul.dpr-card-group__item__filters-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0px;

  li {
    margin-bottom: 0;
  }
}
 