{% macro dprShowMore(text) %}
  <div class="dpr-show-more" data-content='{{ text }}' data-dpr-module="show-more">
    <p><span class='dpr-show-more-content'>{{ text | safe }}</span><a class="dpr-show-hide-button" href="#">Show more</a></p>
  </div>
{% endmacro %}
