{% macro dprCopyUrlButton(options) %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% set id = options.id %}
  {% set classes = options.classes %}

  <div class="copy-url-button" data-dpr-module="copy-url-button">
    {{ govukButton({
      id: 'copy_url_' + id,
      text: 'Copy URL',
      classes: classes,
      attributes: {
        "data-copy-url": "true"
      }
    }) }}
  {% endmacro %}