{% extends "views/page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/user-reports/view.njk" import dprUserReports %}
{% from "components/_catalogue/catalogue/view.njk" import dprCatalogue %}
{% from "components/my-reports/my-reports-list/view.njk" import dprMyReportList %}


{% block content %}
  <div class="govuk-width-container">

    <h1>Requests</h1>
    {{ dprMyReportList(myReportsData.requested) }}

    {# <h1>Bookmarks</h1>
    {{ dprMyReportList(dprMyBookmarkListConfig) }} #}


    {% set rows = [] %}
    {% if (breadCrumbList.length > 0) %}
      {% set rows = rows.concat(breadCrumbList) %}
    {% endif %}
    {% set rows = rows.concat([
      {
        text: title
      }
    ]) %}

    {% if title !== 'Home' %}
      <div class="govuk-!-margin-bottom-4">
        {{ govukBreadcrumbs({
          collapseOnMobile: true,
          items: rows,
          classes: "govuk-!-display-none-print hmpps-header__container"
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>
    {{ dprUserReports(userReportsLists)}}
    {{ dprCatalogue(catalogue) }}
  </div>
{% endblock %}
