{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro dprDate(dateData, label, parameterSuffix = '', toggleMin = true, toggleMax = true, parameterPrefix = 'filters.') %}
  {% set name = dateData.name %}
  {% set text = dateData.text %}
  {% set value = dateData.value %}
  {% set min = dateData.min %}
  {% set max = dateData.max %}
  {% set id = parameterPrefix + name + parameterSuffix %}

  {% if label %}
    {% set labelText = {
      text: label
    } %}
  {% endif %}

  <div class="dpr-date" data-dpr-module="date-input">
    {% if text %}
      <label class="govuk-label govuk-label govuk-!-font-weight-bold" for="{{id}}">
        {{ text }}
      </label>
    {% endif %}

    {{ govukInput({
        id: id,
        label: labelText,
        name: id,
        value: value,
        type: 'date',
        classes: 'dpr-date-input',
        attributes: {
          max: max,
          min: min,
          required: true
        } if mandatory else {
          max: max,
          min: min
        },
        hint: {
          html: "(Optional)"
        } if not mandatory
      }) }}

    {% if toggleMin %}
      <a class="govuk-body-xs daterange-set-to-minmax" 
          data-set-to-input='{{ id }}' 
          data-set-min-max-value={{ min }} 
          data-set-min-max-trigger='true'
        > 
          set to min ({{ min | date }})
        </a>
    {% endif %}

    {% if toggleMax %}
      <a class="govuk-body-xs daterange-set-to-minmax" 
          data-set-to-input='{{ id }}' 
          data-set-min-max-value={{ max }} 
          data-set-min-max-trigger='true'
        >
          set to max ({{ max | date }})
        </a>
    {% endif %}
  </div>
{% endmacro %}
