{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}


{% macro dprDate(dateData, label, parameterSuffix = '', toggleMin = true, toggleMax = true, parameterPrefix = 'filters.') %}
  {% set name = dateData.name %}
  {% set text = dateData.text %}
  {% set value = dateData.value %}
  {% set mandatory = dateData.mandatory %}
  {% set min = dateData.min %}
  {% set max = dateData.max %}
  {% set id = parameterPrefix + name + parameterSuffix %}

  {% set defaultMinDate = '25/05/1977' %}
  {% set defaultMaxDate = '01/01/9999' %}

  {% if min ===  defaultMinDate %}
    {% set toggleMin = false %}
  {% endif %}
  
  {% if max ===  defaultMaxDate %}
    {% set toggleMax = false %}
  {% endif %}

  {% if label %}
    {% set labelText = {
      text: label
    } %}
  {% endif %}

  <div class="dpr-date" data-dpr-module="date-input">
    {% if text %}
    <label class="govuk-label govuk-label govuk-!-font-weight-bold" for="{{id}}">
      {{ text }}
    </label>
    {% endif %}

    {{ mojDatePicker({
      id: id,
      name: id,
      label: labelText,
      value: value | date,
      minDate: min | date,
      maxDate: max | date,
      hint: {
        text: "For example, 17/5/2024."
      }
    }) }}

    {% if toggleMin and min %}
    <a class="govuk-body-xs daterange-set-to-minmax" 
      data-set-to-input='{{ id }}' 
      data-set-min-max-value={{ min | date }} 
      data-set-min-max-trigger='true'
    > 
      set to min ({{ min | date }})
    </a>
    {% endif %}

    {% if toggleMax and max %}
    <a class="govuk-body-xs daterange-set-to-minmax" 
      data-set-to-input='{{ id }}' 
      data-set-min-max-value={{ max | date }} 
      data-set-min-max-trigger='true'
    >
      set to max ({{ max | date }})
    </a>
    {% endif %}
  </div>
{% endmacro %}
