{% extends "views/page.njk" %}

{% from "components/_catalogue/catalogue-list/view.njk" import dprCatalogueList %}
{% from "components/_catalogue/catalogue-search/view.njk" import dprCatalogueSearch %}

{% block content %}
  <h1 class="govuk-heading-l">Search</h1>

  {{ dprCatalogueSearch('dpr-search-table') }}

  <div class="govuk-width-container">
    {{ dprCatalogueList(head, rows, 'dpr-search-table') }}
  </div>
{% endblock %}
