---
layout: layouts/example.njk
title: Accordion Controls (example)
arguments: items
---

{% from "dpr/components/accordion-controls/view.njk"    import dprAccordionControls %}

{{ dprAccordionControls([
  {
    summaryText: 'Section 1',
    bodyHtml: '<p>this is the body html content<p>',
    headerHtml: '<p>this is header html content<p>'
  },
  {
    summaryText: 'Section 2',
    bodyHtml: '<p>this is section 2s body html content<p>',
    headerHtml: '<p>header content<p>'
  }
]) }}