---
layout: layouts/example.njk
title: Autocomplete (example)
arguments: autocomplete-text-input
---
{%- from "dpr/components/_inputs/autocomplete-text-input/view.njk" import dprAutocompleteTextInput -%}

{{ dprAutocompleteTextInput({
  id: 'people',
  name: 'people',
  items: [
    { text: 'Magnar Azure' },
    { text: 'Quinctus Zainabu' },
    { text: 'Paraskevi Munroe' },
    { text: 'Gundega Johanneke' },
    { text: 'Konjit Taina' },
    { text: 'Lennie Alma' },
    { text: 'Murad Ali' },
    { text: 'Lennie Olivia' },
    { text: 'Andromache Isolda' },
    { text: 'Zuleima Vojta' },
    { text: 'Evgeniy Laurence' },
    { text: 'Branimira Hershel' },
    { text: 'Rebecca Ivo' },
    { text: 'Ralf Rubab' },
    { text: 'Sasho Estera' },
    { text: 'Andraste Andoni' },
    { text: 'Ina Arke' },
    { text: 'Muhsina Ginés' },
    { text: 'Riad Marcelina' },
    { text: 'Džan Lárus' },
    { text: 'Ragnarr Mártuska' },
    { text: 'Thrasyboulos Topsy' },
    { text: 'Gertruida Laird' },
    { text: 'Paz Bamidele' },
    { text: 'Dajana Mikalay' }
  ],
  labelText: 'People',
  minimumlength: 1
}) }}
