{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprAsyncFiltersSaveDefaults(reportType, hasDefaults) %}
  <div class="dpr-save-defaults-action">
    {% set classes = 'dpr-clear-button-styles govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-!-margin-right-2' %}
    {% set text = 'Save current filter values as defaults' %}
    {% set submitAction = './' + reportType + '/save-defaults'  %}
    {% set removeAction = './' + reportType + '/remove-defaults' %}
    
    {% if hasDefaults %}
      <p class="govuk-body-xs govuk-!-margin-bottom-2">Your saved default filter values have been applied to this form.</p>
      {% set text = 'Update defaults' %}
    {% endif %}

    {{ govukButton({
      text: text,
      classes: classes,
      attributes: {
        formaction: submitAction
      }
    }) }}

    {% if hasDefaults %}
      {{ govukButton({
        text: 'Delete defaults',
        classes: classes,
        attributes: {
          formaction: removeAction
        }
      }) }}
    {% endif %}

  </div>
{% endmacro %}
