{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprReportPrintMessage() %}
  <h3 class="govuk-heading-s screen-hide">
    Printing this report has been disabled due to time or content sensitivity.<br/>
    Please speak to your report administrator for further details.
  </h3>
{% endmacro %}
