{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% macro dprFiltersSaveDefaults(formId, action, hasDefaults, defaultsSaved) %}
  <div class="dpr-save-defaults-action">
    {% set text = 'Save current filter values as defaults for this report' %}
    {% if hasDefaults %}
      <p class="govuk-body-xs govuk-!-margin-bottom-2">Your saved default filter values have been applied to this form.</p>
      {% set text = 'Update defaults' %}
    {% endif %}

    {{ govukButton({
      text: text,
      classes: "dpr-button-link",
      attributes: {
        id: 'dpr-save-user-defaults',
        form: formId,
        formaction: action + '/save-defaults'
      }
    }) }}
    
    {% if hasDefaults %}
      {{ govukButton({
        text: 'Delete defaults',
        classes: "govuk-button--secondary dpr-button-link",
        attributes: {
          id: 'dpr-remove-user-defaults',
          form: formId,
          formaction: action + '/remove-defaults'
        }
      }) }}
    {% endif %}

    {% if defaultsSaved %}
      <p class="govuk-body-s dpr-default-saved">Defaults saved!</p>
    {% endif %}
  </div>
{% endmacro %}
