.dpr-report-section__actions {
  display: flex;

  .dpr-report-section__actions--left-aligned {
    flex: 1;
    text-align: left;
  }
  .dpr-report-section__actions--right-aligned {
    flex: 1;
    text-align: right;
  }
}

@media print {
  .dpr-report-section__actions {
    display: none;
  }
}
