{% macro dprCardGroup(cards, variant = 1) %}
  <div class="dpr-card-group" data-dpr-module="card-group">
    {% for card in cards %}
      {% if variant === 1 %}
        {% include "./includes/card-variant-1.html" %}
      {% else %}
        {% include "./includes/card-variant-2.html" %}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}