.govuk-error-message--hidden, .query-error-summary--hidden, .async-filters-form--hidden {
  display: none;
}

.dpr-filters {
  .dpr-filters-container {
    column-gap: govuk-spacing(6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    row-gap: 15px;

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .dpr-async-request-filters__section {
      border: solid 1px govuk-colour('mid-grey');
      margin-bottom: govuk-spacing(6);

      .dpr-async-request-filters__section--heading {
        background-color: govuk-colour('mid-grey');
        padding: govuk-spacing(2);
        padding-left: govuk-spacing(4);
        padding-right: govuk-spacing(4);
    
        p {
          margin-bottom: 0px;
        }
      }

      .dpr-request-save-filters-container {
        padding: govuk-spacing(4);
        border-top: solid 1px govuk-colour('mid-grey');
        border-bottom: solid 1px govuk-colour('mid-grey');
        background-color: white;
      }
      
      .dpr-async-request-filters__section--actions {
        padding: govuk-spacing(4);

        .govuk-button-group {
          margin-bottom: 0px;

          button, .dpr-reset-columns-button {
            margin-bottom: 0px;
          }
        }
      }


      .filter-container {
        padding-left: govuk-spacing(4);
        padding-right: govuk-spacing(4);
        display: block;
      }
    }
    

      .dpr-filter-item {
        background-color: none;
        border-bottom: 1px Solid govuk-colour("mid-grey");
        padding-top: govuk-spacing(5);
      
        &:last-child {
          border-bottom: none;
        }
      }
  }
}
