{% from "./fields/filter-fields/view.njk" import dprAsyncFiltersFormFields %}
{% from "./fields/sort-fields/view.njk" import dprAsyncSortFormFields %}
{% from "./fields/hidden-fields/view.njk" import dprAsyncFiltersFormHiddenFields %}
{% from "./actions/request-report-button/view.njk" import dprRequestReportButton %}
{% from "./actions/reset-form-button/view.njk" import dprFiltersFormReset %}
{% from "./actions/selected-filters/view.njk" import dprSelectedFilters %}
{% from "./actions/save-defaults/view.njk" import dprAsyncFiltersSaveDefaults %}

{% from "../../validation-summary/view.njk" import dprValidationSummary %}

{% macro dprAsyncFiltersForm(args) %}
  {% set filters = args.filters %}
  {% set sortBy = args.sortBy %}
  {% set validationErrors = args.validationErrors %}
  {% set type = args.type %}
  {% set data = args.data %}
  {% set hasDefaults = data.hasDefaults %}

  {{ dprValidationSummary(validationErrors, 'There is a problem') }}

  {# Form container #}
  <div class="dpr-async-request-filters dpr-filters govuk-!-margin-top-4">
    <form method="POST" data-dpr-module="filters-form" novalidate>
      {# Hidden fields #}
      {{dprAsyncFiltersFormHiddenFields(args)}}
      
      {% if filters.length or sortBy.length > 0 %}
      <div class="dpr-filters-container govuk-!-margin-top-6">

        {# Filter fields #}
        {% if filters.length %}

        <div class="dpr-async-request-filters__section" aria-labelledby="async-filters-title">
          <div class="dpr-async-request-filters__section--heading">
            <h2 id="async-filters-title" class="govuk-heading-m govuk-!-margin-bottom-0">Filters</strong></h2>
          </div>

          <div class='dpr-request-selected-filters-container'>
            {{ dprSelectedFilters() }}
          </div>

          <div class='dpr-request-save-filters-container'>
            {{ dprFiltersFormReset() }}
            {{ dprAsyncFiltersSaveDefaults('./filters', hasDefaults) }}
          </div>

          <div class="filter-container">
            {{ dprAsyncFiltersFormFields(filters, validationErrors) }}
          </div>
        </div>

        {% endif %}

        {# Sort fields #}
        {%  if sortBy.length > 0 and type !== 'dashboard' %}

        <div class="dpr-async-request-filters__section">
          <div class="dpr-async-request-filters__section--heading">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Sort</strong></h2>
          </div>

          <div class="filter-container">
            {{ dprAsyncSortFormFields(sortBy, validationErrors) }}
          </div>
        </div>

        {% endif %}

      </div>
      {% endif %}

      {# Form actions #}
      <div>
        {{ dprRequestReportButton(type) }}
      </div>
    </form>
  <div>  
{% endmacro %}
