.dpr-report-totals p {
  color: #505a5f;
  font-weight: 100;
  text-align: right;
  margin-bottom: govuk-spacing(2);
}

@media print {
  .dpr-report-totals p {
    color: govuk-colour("black");
    font-weight: normal;
    text-align: right;
    margin-bottom: govuk-spacing(1);
    font-size: 16px;
  }
}
