{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% macro dprPagination(pagination) %}

  {% set previousHref = pagination.prev %}
  {% set nextHref = pagination.next %}
  {% set pages = pagination.pages %}
  {% set sizes = pagination.sizes %}

  <div class="dpr-pagination">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      {{ govukPagination({
        previous: {
          href: previousHref
        } if previousHref,
        next: {
          href: nextHref
        },
        items: pages
      }) }}
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-0 data-table-page-size-container">
      <div class="data-table-page-size">
        <div class="govuk-input__wrapper">
          <form id="pagination-page-size-form" data-dpr-module="pagination">
            {{ govukSelect({
              id: "page-size-select",
              name: "pageSize",
              value: pageSize,
              items: sizes
            }) }}
          </form>
          <div class="govuk-input__suffix" aria-hidden="true">
            rows per page
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
