{% from "../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprReportFilters(filterData, defaultQuery, csrfToken) %}
    {% set templateArgs = {
      defaultQuery: defaultQuery,
      reportType: 'report',
      hasDefaults: filterData.hasDefaults,
      csrfToken: csrfToken
    }%}
    
    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, templateArgs) }}
    {% endif %}
{% endmacro %}
