{% from "../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprReportFilters(filterData, defaultQuery, prefix) %}
    {% set templateArgs = {
      defaultQuery: defaultQuery,
      prefix: prefix,
      reportType: 'report',
      hasDefaults: filterData.hasDefaults
    }%}
    
    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, templateArgs) }}
    {% endif %}
{% endmacro %}
