{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprColumnsFormReset() %}
  {% set classes = 'dpr-clear-button-styles govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-3' %}
  <button class="{{ classes }}" type="submit" formaction="./report/reset-columns">Reset columns</button>
{% endmacro %}
