{% from "../summary-table/view.njk" import dprReportSummary %}

{% macro dprSectionedSummary(reportSummaries) %}

  {% for sectionHeaderName, summary in reportSummaries %}
    <h2 class="govuk-heading-m dpr-sectioned-summary-heading">{{ sectionHeaderName }}</h2>
    {{ dprReportSummary(reportSummaries, sectionHeaderName) }}
  {% endfor %}

{% endmacro %}