.dpr-summary-container-group {
  display: flex;
  position: relative;
  row-gap: 15px;
  flex-flow: column wrap;
  margin-top: govuk-spacing(6);

  .dpr-summary-container {
    min-width: 200px;
    width: fit-content;

    .govuk-table {
      border: solid 1px govuk-colour('mid-grey');
      margin-bottom: 0;

      th,
      td {
        padding: 10px;
      }
      th {
        background-color: govuk-colour('light-grey');
        border-bottom: 0px;
      }
    }
  }
}

.dpr-summary-container-group:has(td.govuk-table__cell) {
  border-bottom: 0px;
}

.dpr-summary-container-group-page-header {
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(4);
}

.dpr-summary-container-group-page-footer {
  margin-bottom: 30px;
}

@media print {
  .dpr-summary-container-group {
    .dpr-summary-container {
      .govuk-table {
        th,
        td {
          padding: govuk-spacing(1);
        }
        th {
          background-color: govuk-colour('light-grey');
          border-bottom: 0px;
        }
      }
    }
  }
}
