{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "../catalogue-search/view.njk" import dprCatalogueSearch %}
{% from "../catalogue-unauthorised-toggle/view.njk" import dprUnauthorisedToggle %}

{% macro dprCatalogueFilters(id, features) %}
  {% set filteringEnabled = features.filteringEnabled %}
  {% set unauthorisedToggleEnabled = features.unauthorisedToggleEnabled %}

  <div class='dpr-catalogue-filters' data-dpr-module='dpr-catalogue-filters'>
    <div class='dpr-catalogue-filters--heading'>
      <div class="dpr-catalogue-filters__search">
        {{ dprCatalogueSearch(id) }}
      </div> 
    </div>
    <div class='dpr-catalogue-filters--content'>
      {% set catalogueFiltersHtml %}
        <div class="dpr-catalogue-filters__unauth-toggle">
          {{ dprUnauthorisedToggle(id) }}
        </div> 
      {% endset %}

      <div class="dpr-interactive-filters-accordion"> 
        {{ govukDetails({
          summaryText: 'Show more filters',
          html: catalogueFiltersHtml,
          open: false
        }) }}
      </div>
    </div>
  </div>
{% endmacro %}
