{% from "components/table-card-group/view.njk" import dprTableCardGroup %}

{% macro dprRecentlyViewedList(head, cardData, tableData, total, meta, csrfToken) %}
  <div id="dpr-recently-viewed-component" data-dpr-module="recently-viewed-list" data-request-data='{{ meta | dump | safe }}' data-csrf-token="{{ csrfToken }}">
    {{ dprTableCardGroup(
      head,
      cardData, 
      tableData,
      total
    )}}
  </div>
{% endmacro %}
