{% from "../user-list-content/view.njk" import dprUserList %}

{% macro dprRecentlyViewedList(args) %}
  <div id="dpr-recently-viewed-component" data-dpr-module="recently-viewed-list" data-request-data='{{ meta | dump | safe }}' data-csrf-token="{{ csrfToken }}">
    {{ dprUserList(args) }}
  </div>
{% endmacro %}
