{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../report-summary-table/view.njk" import dprReportSummary %}

{% from "./report-data-table/view.njk" import dprDataTable %}
{% from "./parent-child-template/view.njk" import dprParentChildTemplate %}

{% macro dprReportSection(renderData, template, classification) %}
  {% set sections = renderData.sections %}

  <div id="dpr-report-sections">
    {% for section in sections %}
      <div id="dpr-{{ template }}-section-{{ loop.index }}" class="dpr-{{ template }}-section dpr-report-section">
        {% set sectionTitle = section.title %}
        {% set sectionCount = section.count %}
        {% set data = section.data %}
        {% set summaries = section.summaries %}

        {% if sectionTitle %}
        <div class="dpr-report-section__title">
          <h2 class="govuk-heading-m">{{ sectionTitle }}
            {% if template !== 'summary-section' %}
            <span class="govuk-caption-m">{{ sectionCount }} results</span>
            {% endif %}
          </h2>
        </div>
        {% endif %}

        {# SECTION HEADER SUMMARIES #}
        {{ dprReportSummary(summaries, 'section-header') }}

        {# TEMPLATES #}
        {% if template === 'parent-child' or template === 'parent-child-section' %}

          {{ dprParentChildTemplate(data, classification, template) }}

        {% else %}

          <div id="dpr-{{ template }}-section-data-{{ loop.index }}" class="dpr-{{ template }}-section__data">
            {{ dprDataTable(data, classification, template, loop.index) }}
          </div>

        {% endif %}

        {# SECTION FOOTER SUMMARIES #}
        {{ dprReportSummary(summaries, 'section-footer') }} 

      </div>
    {% endfor %}
  </div>
{% endmacro %}
