{% macro dprIconButtonList(buttonList) %}
  <div class="icon-button-list" data-dpr-module='icon-button-list'>
    {# {{ buttonList | dump | safe }} #}
    {% for button in buttonList %}
      <div
        id="{{ button.id }}"
        data-href="{{ button.href }}"
        class="dpr-icon-wrapper dpr-icon-wrapper--l dpr-icon-live {% if button.disabled %}dpr-icon-disabled{% endif %}" 
        tooltip="{{ button.tooltipText }}" 
        aria-label="{{ button.ariaLabelText }}">
        <i class="dpr-icon {{ button.icon }}-icon"></i>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
