{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprParentChildTemplate(data, classification, template) %}
  {% for dataset in data %}
    {% set parent = dataset.parent %}
    {% set children = dataset.children %}

    <div id="dpr-parent-child-data-{{ loop.index }}" class="dpr-parent-child-data">
      <div class="dpr-parent-child-data__parent">
        {{ govukTable({
          head: parent.head,
          rows: parent.rows,
          attributes: { 
            'data-classification': classification
          }
        }) }}
      </div>

      {% for child in children %}
      <div id="dpr-parent-child-data__child-{{ loop.index }}" class="dpr-parent-child-data__child">
        <h2 class="govuk-heading-s">{{ child.title }}</h2>

        <div class="dpr-parent-child-data__child-table">
          {{ govukTable({
            head: child.head,
            rows: child.rows,
            attributes: { 
              'data-classification': classification
            }
          }) }}
        </div>
      </div>
      {% endfor %}

    </div>
  {% endfor %}
{% endmacro %}
