.dpr-selected-filters-container {
  position: relative;

  .dpr-selected-filters {
    background-color: govuk-colour('light-grey');
    padding: govuk-spacing(4);
  }
}

@media print {
  .dpr-selected-filters-container {
    .dpr-selected-filters {
      a,
      p {
        font-size: 16px;
        text-decoration: none;
        margin-right: govuk-spacing(1);
        margin-bottom: govuk-spacing(1);
        color: govuk-colour('black');
      }
    }
  }
}
