
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprUserReportsList(args) %}
  {% set tableData = args.tableData %}
  {% set total = args.total %}
  {% set meta = args.meta %}
  {% set csrfToken = args.csrfToken %}
  {% set maxRows = args.maxRows %}

  {% set head = args.head %}
  {% set emptyMessage = head.emptyMessage %}
  {% set href = head.href %}

  <div>
    <div class="dpr-slide__header">
      {% if not emptyMessage.length and total %}
        <p class="govuk-body-s dpr-slide__sub-text">Showing {{ total.shown }} of {{ total.amount }} {% if total.amount > maxRows %} <a class="govuk-body-s" href='{{ href }}'>Show all</a>{% endif %}</p>
      {% endif %}
    </div>
    {% if emptyMessage.length %}
      <p>{{emptyMessage}}</p>
    {% else %}
      {{ govukTable(tableData) }}
    {% endif %}
  </div>
{% endmacro %}
