{% from "../../../components/_dashboards/dashboard/view.njk" import dprDashboard %}

{% extends layoutPath %}

{% block content %}
  {{ dashboardData.bookmarked }}

  {{ dprDashboard(dashboardData) }}
{% endblock %}
