{% from "../../../components/_reports/report-wrapper/view.njk" import dprReportWrapper %}
{% from "../../../components/_reports/report-page/view.njk" import dprReportPage %}

{% extends layoutPath %}

{% block content %}
  {{ dprReportPage(renderData) }}
{% endblock %}
