{% from "../filters-selected/view.njk" import dprSelectedFilters %}

{% macro dprRequestSelectedFilters() %}    
  <div class='dpr-request-selected-filters-container'>
    {{ dprSelectedFilters() }}
  </div>
{% endmacro %}
