.dpr-parent-child-section {
  margin-bottom: govuk-spacing(6);

  .govuk-table {
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  .dpr-parent-child-section-data__parent {

  }

  .dpr-parent-child-section-data__child {
    .dpr-parent-child-section-data__child-table {
      padding: govuk-spacing(3);

      .govuk-table {
        margin-bottom: 0px;

        tr:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }

    margin-bottom: govuk-spacing(6);
    border: solid 1px #b1b4b6;

    h2 {
      background-color: #f3f2f1;
      margin-bottom: 0px;
      padding: govuk-spacing(2);
      padding-left: govuk-spacing(3);
    }

  }
}
