{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprParentChildTemplate(renderData, classification) %}
  {% set renderData = {
    parentHead: [
      {
        fieldName: 'parent1',
        text: 'Name'
      },
      {
        fieldName: 'parent2',
        text: 'Surname'
      }
    ],
    childHead: [
        {
        fieldName: 'parent1',
        text: 'Name'
      },
      {
        fieldName: 'parent2',
        text: 'Surname'
      }
    ],
    sections: [
      {
        data: [
          {
            parent: {
              rows: [
                [
                  {
                    fieldName: 'parent1',
                    text: 'Parent 1'
                  },
                  {
                    fieldName: 'parent2',
                    text: 'Parent 2'
                  }
                ]
              ]
            },
            child: {
              title: 'Child report 1',
              rows: [
                [
                  {
                    fieldName: 'child1',
                    text: 'Child 1.0'
                  },
                  {
                    fieldName: 'child2',
                    text: 'Child 1.1'
                  }
                ],
                [
                  {
                    fieldName: 'child1',
                    text: 'Child 2.0'
                  },
                  {
                    fieldName: 'child2',
                    text: 'Child 2.1'
                  }
                ]
              ]
            }
          },
          {
            parent: {
              rows: [
                [
                  {
                    fieldName: 'parent1',
                    text: 'Parent 1'
                  },
                  {
                    fieldName: 'parent2',
                    text: 'Parent 2'
                  }
                ]
              ]
            },
            child: {
              title: 'Child report 1',
              rows: [
                [
                  {
                    fieldName: 'child1',
                    text: 'Child 1.0'
                  },
                  {
                    fieldName: 'child2',
                    text: 'Child 1.1'
                  }
                ],
                [
                  {
                    fieldName: 'child1',
                    text: 'Child 2.0'
                  },
                  {
                    fieldName: 'child2',
                    text: 'Child 2.1'
                  }
                ]
              ]
            }
          }
        ]
      }
    ]
  } %}

{% set parentHead = renderData.parentHead %}
{% set childHead = renderData.childHead %}
{% set sections = renderData.sections %}

{% for section in sections %}
  <div class="dpr-parent-child-section">
    {% set sectionTitle = section.title %}
    {% set sectionCount = section.count %}
    {% set data = section.data %}

    {% for dataset in data %}
      {% set parent = dataset.parent %}
      {% set child = dataset.child %}

      <div class="dpr-parent-child-section-data">
        <div class="dpr-parent-child-section-data__parent">
          {{ govukTable({
            head: parentHead,
            rows: parent.rows,
            attributes: { 
              'data-classification': classification
            }
          }) }}
        </div>

        <div class="dpr-parent-child-section-data__child">
          <h2 class="govuk-heading-s">{{ child.title }}</h2>

          <div class="dpr-parent-child-section-data__child-table">
            {{ govukTable({
              head: childHead,
              rows: child.rows,
              attributes: { 
                'data-classification': classification
              }
            }) }}
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
{% endfor %}

{% endmacro %}
