{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro dprParentChildTemplate(renderData, classification) %}
  {% set sections = renderData.sections %}

  <div id="dpr-parent-child-template">
    {% for section in sections %}
      <div id="dpr-parent-child-section-{{ loop.index }}" class="dpr-parent-child-section">
        {% set sectionTitle = section.title %}
        {% set sectionCount = section.count %}

        {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }} 
        <span class="govuk-caption-m">{{ sectionCount }} results</span></h2>
        {% endif %}

        {% set data = section.data %}
        {% for dataset in data %}
          {% set parent = dataset.parent %}
          {% set children = dataset.children %}

          <div id="dpr-parent-child-section-data-{{ loop.index }}" class="dpr-parent-child-section-data">
            <div class="dpr-parent-child-section-data__parent">
              {{ govukTable({
                head: parent.head,
                rows: parent.rows,
                attributes: { 
                  'data-classification': classification
                }
              }) }}
            </div>

            {% for child in children %}
            <div id="dpr-parent-child-section-data__child-{{ loop.index }}" class="dpr-parent-child-section-data__child">
              <h2 class="govuk-heading-s">{{ child.title }}</h2>

              <div class="dpr-parent-child-section-data__child-table">
                {{ govukTable({
                  head: child.head,
                  rows: child.rows,
                  attributes: { 
                    'data-classification': classification
                  }
                }) }}
              </div>
            </div>
            {% endfor %}

          </div>
        {% endfor %}
        
      </div>
    {% endfor %}
  </div>
{% endmacro %}
