{% extends layoutPath %}
{% from "../../../components/catalogue/view.njk" import dprReportsCatalogue %}

{% block content %}
  <div class="govuk-width-container">
    {{ dprReportsCatalogue(catalogue) }}
  </div>
{% endblock %}
