{% extends layoutPath %}

{% from "../../../components/_catalogue/catalogue/view.njk" import dprCatalogue %}

{% block content %}
  <div class="govuk-width-container">
    {{ dprCatalogue(catalogue) }}
  </div>
{% endblock %}
