{% from "../../../_filters/filters-interactive/view.njk" import dprInteractiveFilters %}

{% macro dprReportFilters(filterData, validationErrors, appliedFilters, csrfToken) %}
    {% set templateArgs = {
      reportType: 'report',
      hasDefaults: filterData.hasDefaults,
      csrfToken: csrfToken,
      validationErrors: validationErrors,
      appliedFilters: appliedFilters
    }%}
    
    {% if filterData.filters.length %}
      {{ dprInteractiveFilters(filterData, templateArgs) }}
    {% endif %}
{% endmacro %}
