.dashboard-wrapper {
  .dashboard-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4px;
    flex: 0 0 auto;
    align-self: flex-start;
    width: 210px;
    padding-right: govuk-spacing(8);

    .moj-side-navigation {
      padding-top: 0px;
    }

    @media(max-width: 768px) {
      display: none;
    }
  }
}
