{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}


{% macro dprDashboardSidebar(sections) %}
    {% set items = [] %}

    {% for section in sections %}

      {% set title = section.title %} 
      {% set id = section.id %}
      
      {% set items = (items.push({
        html: '<span class="dashboard-sidebar-nav-item">' + title + '</span>',
        href: '#' + id + '-dashboard-section'
      }), items) %}

      {% for vis in section.visualisations %}

        {% set visTitle = vis.title %} 
        {% set visId = vis.id %} 
      
        {% if visTitle %}
          {% set items = (items.push({
            html: '<span class="dashboard-sidebar-sub-nav-item">' + visTitle + '</span>',
            href: '#' + visId + '-dash-section-visualisation'
          }), items) %}
        {% endif %}
      
      {% endfor %}
    {% endfor %}

    {{ mojSideNavigation({
      label: 'Side navigation',
      sections: [{
        heading: {
          text: 'Contents'
        },
        items: items
      }]
    }) }}
{% endmacro %}
