{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}


{% macro dprDashboardSidebar(sections) %}
    {% set items = [] %}

    {% for metric in sections %}
      {% set items = (items.push({
        text: metric.title,
        href: '#' + metric.id + '-dashboard-section'
      }), items) %}
    {% endfor %}

    {{ mojSideNavigation({
      label: 'Side navigation',
      sections: [{
        heading: {
          text: 'Contents'
        },
        items: items
      }]
    }) }}
{% endmacro %}
