{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../date-input/view.njk" import dprDate %}

{% from "../start-end-date/view.njk" import dprStartEndDate %}

{% macro dprDateRange(data, parameterPrefix = "filters.", mandatory = false) %}
  {% set min = data.min %}
  {% set max = data.max %}
  {% set relativeOptions = data.relativeOptions %}
  {% set startId = parameterPrefix + data.name + '.start' %}
  {% set endId = parameterPrefix + data.name + '.end' %}
  {% set durationInputId = parameterPrefix + data.name + '.relative-duration' %}

  <div class="dpr-date-range" data-dpr-module="date-range-input">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-label govuk-!-font-weight-bold">
        {{ data.text }}
      </legend>

      {% set datepickerHtml %}
      <div id='dpr-date-range' data-field-name='{{ data.name }}'>
        {{ dprStartEndDate(data.name, data.value, min, max, mandatory) }}
      </div>
      {% endset %}
      
      {% set relativeRangeHtml %}
      {{ govukRadios({
        classes: 'govuk-radios--small',
        id: durationInputId,
        name: durationInputId,
        fieldset: {
          legend: {
            text: 'Preset date range',
            classes: "govuk-label govuk-!-font-weight-bold"
          }
        },
        formGroup: {
          classes: "govuk-!-margin-bottom-3 dpr-relative-range-radio"
        },
        items: relativeOptions,
        value: data.value,
        attributes: {
          'display-name': 'Preset date range'
        }
      }) }}
      {% endset -%}

      {% if relativeOptions === undefined or relativeOptions.length === 0 %}
        {{ datepickerHtml | safe }}
      {% else %}
        {{ govukTabs({
          items: [
            {
              label: "Date range",
              id: "date-picker",
              panel: {
                html: datepickerHtml
              }
            },
            {
              label: "Preset date ranges",
              id: "relative-range",
              panel: {
                html: relativeRangeHtml
              }
            }
          ]
        }) }}
      {% endif %}

    </fieldset>
  </div>
{% endmacro %}
