{% extends "page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/async-columns/view.njk" import dprAsyncColumns %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "components/async-report-list/view.njk" import dprAsyncReportList %}
{% from "components/icon-button-list/view.njk" import dprIconButtonList %}

{% block content %}
  <div class="govuk-width-container">
    {{ dprAsyncReportList(renderData) }}
  </div>
{% endblock %}
