{% extends "page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/reports-list/view.njk" import dprReportsList %}
{% from "components/user-reports/view.njk" import dprUserReports %}

{% block content %}
  <div class="govuk-width-container">

    {% set rows = [] %}
    {% if (breadCrumbList.length > 0) %}
      {% set rows = rows.concat(breadCrumbList) %}
    {% endif %}
    {% set rows = rows.concat([
      {
        text: title
      }
    ]) %}

    {% if title !== 'Home' %}
      <div class="govuk-!-margin-bottom-4">
        {{ govukBreadcrumbs({
          collapseOnMobile: true,
          items: rows,
          classes: "govuk-!-display-none-print hmpps-header__container"
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ dprUserReports({
      requestedReports: requestedReports,
      viewedReports: viewedReports,
      bookmarks: bookmarks
    })}}
  
    <h1 class="govuk-heading-l">Reports</h1>

    {{ dprReportsList(reports.head, reports.rows) }}
  </div>
{% endblock %}
