{% extends "page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/content-slide/view.njk" import dprContentSlide %}
{% from "components/content-slide-cards/view.njk" import dprContentSlideCards %}
{% from "components/table-card-group/view.njk" import dprTableCardGroup %}
{% from "components/async-reports-list/view.njk" import dprAsyncReportsList %}
{% from "components/bookmark-list/view.njk" import dprBookmarkList %}
{% from "components/reports-list/view.njk" import dprReportsList %}

{% block content %}
  <div class="govuk-width-container">

    {% set rows = [] %}
    {% if (breadCrumbList.length > 0) %}
      {% set rows = rows.concat(breadCrumbList) %}
    {% endif %}
    {% set rows = rows.concat([
      {
        text: title
      }
    ]) %}

    {% if title !== 'Home' %}
      <div class="govuk-!-margin-bottom-4">
        {{ govukBreadcrumbs({
          collapseOnMobile: true,
          items: rows,
          classes: "govuk-!-display-none-print hmpps-header__container"
        }) }}
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ dprAsyncReportsList(requestedReports, viewedReports) }}

    {{ dprBookmarkList(bookmarks) }}

    {{ dprReportsList(reports.head, reports.rows) }}
  </div>
{% endblock %}
