{% extends "page.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "components/card-group/view.njk" import dprCardGroup %}

{% block content %}
  <div class="govuk-width-container">
    {% set rows = [{ text: 'Digital Prison Services', href: 'https://sign-in.hmpps.service.justice.gov.uk/auth/sign-in' }] %}
    {% if (breadCrumbList.length > 0) %}
      {% set rows = rows.concat(breadCrumbList) %}
    {% endif %}

    <div class="govuk-!-margin-bottom-4">
      {{ govukBreadcrumbs({
          collapseOnMobile: true,
          items: rows,
          classes: "govuk-!-display-none-print hmpps-header__container"
        }) }}
    </div>

    <h1 class="govuk-heading-l">{{ title }}</h1>

    {{ dprCardGroup(cards, 2) }}
  </div>
{% endblock %}