{% extends "govuk/template.njk" %}
{% from "components/card-group/view.njk" import dprCardGroup %}

{% block head %}
  <link href="/assets/dpr/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block pageTitle %}Test App{% endblock %}

{% block bodyEnd %}  

  {# GOVUK #}
  <script type="module" src="/govuk/all.js"></script>
  <script type="module">
    import {initAll} from '/govuk/all.js'
    initAll()
  </script>

  {# MOJ #}
  <script src="/moj/all.js"></script>
  <script type="text/javascript">
    window.MOJFrontend.initAll()
  </script>

  {# DPR #}
  <script type="module" src="/assets/dpr/all.js"></script>
  <script type="module">
    import initAll from '/assets/dpr/all.js'
    initAll()
  </script>
{% endblock %}
