{% extends "govuk/template.njk" %}

{% from "components/card-group/view.njk" import dprCardGroup %}

{% block head %}
  <script src="/assets/ext/jquery.min.js"></script>
  <link href="/assets/dpr/css/all.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}Test App{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container ">
  {{ dprCardGroup(cards) }}
</div>
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk/all.js"></script>
  <script src="/moj/all.js"></script>
  <script type="text/javascript">
    window.GOVUKFrontend.initAll()
    window.MOJFrontend.initAll()
  </script>
  <script src="/assets/dpr/js/client.js"></script>
{% endblock %}
