{% extends "page.njk" %}

{% from "components/search/view.njk" import dprSearch %}

{% block content %}
  <h1 class="govuk-heading-l">Search</h1>

  <div class="govuk-width-container">
    {{ dprSearch(head, rows) }}
  </div>
{% endblock %}
