{% extends "page.njk" %}

{% from "components/reports-list/view.njk" import dprReportsList %}

{% block content %}
  <h1 class="govuk-heading-l">Search</h1>

  <div class="govuk-width-container">
    {{ dprReportsList(head, rows) }}
  </div>
{% endblock %}
