---
layout: layouts/example.njk
title: Data table (example)
arguments: data-table
---
{%- from "dpr/components/_reports/report-page/report-template/report-section/report-data-table/view.njk" import dprDataTable -%}
{% set dataTableOptions = {
  head: [
    { text: "Name" },
    { text: "Location" },
    { text: "Total", format: "numeric" }
  ],
  rows: [
    [{ text: "Aardvark" }, { text: "London" }, { text: "2", format: "numeric" }],
    [{ text: "Badger" }, { text: "Arctic" }, { text: "0", format: "numeric" }],
    [{ text: "Cat" }, { text: "Cheshire" }, { text: "2312", format: "numeric" }]
  ],
  colCount: 3
} %}

{{ dprDataTable(dataTableOptions, 'OFFICIAL') }}
