{% from "../report-data-table-wrapper/view.njk" import dprDataTableWrapper %}
{% from "../report-summary-table/view.njk" import dprReportSummary %}
{% from "../report-totals/view.njk" import dprReportTotals %}
{% from "../report-no-data-message/view.njk" import dprReportNoDataMessage %}
{% from "../../code-block/view.njk" import dprCodeBlock %}

{% macro dprReport(options, count, template) %}
  {% set reportSummaries = options.reportSummaries %}
  {% set dataTable = options.dataTable %}
  {% set pagination = options.pagination %}
  {% set classification = options.classification %}
  {% set template = options.template %}

  {% if not count or count === 0 %}
    {{ dprReportNoDataMessage(url) }}
  {% else %}

    {{ dprReportSummary(reportSummaries, 'page-header') }}
    {{ dprReportTotals(options.totals) }}
    <div class='dpr-table-container dpr-table-container--{{ template }}'>
      {% if template === 'summary-section' %}
        {% for datatable in dataTable[0].rows %}
          {% if datatable[0].html %}
            {{ datatable[0].html | safe }}
          {% endif %}
        {% endfor %}
      {% else %}
        {{ dprDataTableWrapper(dataTable, classification) }}
      {% endif %}
    </div>
    
    <div class='govuk-!-margin-bottom-6 govuk-!-margin-top-6'>
      {{ dprReportTotals(options.totals) }}
    </div>
    
    {{ dprReportSummary(reportSummaries, 'page-footer') }}

  {% endif %}

{% endmacro %}
