
{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro dprReportNoDataMessage(href) %}
  <div class="dpr-report-no-data-message">
    <p class="govuk-body-l"><strong>No data to display</strong></p>
    {% if href %}
      <a href={{ href }} class='govuk-link govuk-link--no-visited-state' >Make a new request</a>
    {% endif %}
  </div>
{% endmacro %}
