name: Build and test package

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  HOME_URL: 'http://localhost:3010/embedded/platform/'
  REQUEST_URL: 'http://localhost:3010/embedded/platform/async/report/request-examples/request-example-success/request'
  POLLING_URL: 'http://localhost:3010/embedded/platform/async/report/request-examples/request-example-success/request/exId_1729765628165'
  REPORT_URL: 'http://localhost:3010/embedded/platform/async/report/request-examples/request-example-success/request/tblId_1729765628165/report'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - run: npm run setup
    - run: npm run package
    - uses: actions/upload-artifact@v4
      with:
        name: dpr-package
        path: dist

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - run: npm run setup
      - uses: actions/download-artifact@v4
        with:
          name: dpr-package
          path: dist
      - run: npm run test

  integration_test:
    runs-on: ubuntu-latest
    needs: build

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - run: npm run setup
      - run: npm run package
      - name: Run the node app and integration tests
        run: |
          npm run start:dev:noMockClients &
          sleep 5
          npm run int-test
      - uses: actions/upload-artifact@v4
        with:
          name: test_results
          path: test_results
      - uses: actions/upload-artifact@v4
        with:
          name: videos
          path: cypress-tests/integration-tests/videos
      - uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: cypress-tests/integration-tests/screenshots
