{% from "../../../../button-link/view.njk" import dprButtonLink %}

{% macro dprMyReportListItemFormAction(formConfig) %}

  {% set action = formConfig.action %}
  {% set csrfToken = formConfig.csrfToken %}
  {% set returnTo = formConfig.returnTo %}
  {% set text = formConfig.text %}
  {% set type = formConfig.type %}

  {% set classes = 'dpr-button-link govuk-link govuk-link--no-visited-state' %}

  <form method="post" action="{{ action }}" {% if type == 'remove' %}data-remove-report-form {% endif %}>
    <input type="hidden" name="returnTo" value="{{ returnTo }}" />
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{
      dprButtonLink({
        text: text,
        classes: classes
      })
    }}
  </form>
{% endmacro %}
